<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.rcyh.mapper.AppRcyhSjdjMapper">

    <!-- 日常养护 - 事件登记 -->
    <insert id="insertSj" parameterType="com.hdsx.rcyh.entity.RcyhSjdj">
        INSERT INTO RCYH_XCSB (
            <if test="id != null and id !=''">RWMX_ID</if>
            <if test="mid != null and mid !=''">,RWMX_MID</if>
            <if test="dwmc != null and dwmc !=''">,RWMX_DWMC</if>
            <if test="dwbh != null and dwbh !=''">,RWMX_DWBH</if>
            <if test="dwid != null and dwid !=''">,RWMX_DWID</if>
            <if test="bmmc != null and bmmc !=''">,RWMX_BMMC</if>
            <if test="bmbh != null and bmbh !=''">,RWMX_BMBH</if>
            <if test="bmid != null and bmid !=''">,RWMX_BMID</if>
            <if test="tbr != null and tbr !=''">,RWMX_TBR</if>
            <if test="tbrid != null and tbrid !=''">,RWMX_TBRID</if>
            <if test="tbrq != null and tbrq !=''">,RWMX_TBRQ</if>
            <if test="note != null and note !=''">,RWMX_NOTE</if>
            <if test="sjdh != null and sjdh !=''">,RWMX_SJDH</if>
            <if test="gps != null and gps !=''">,RWMX_GPS</if>
            <if test="sjlx != null and sjlx !=''">,RWMX_SJLX</if>
            <if test="sjsm != null and sjsm !=''">,RWMX_SJSM</if>
            <if test="jjd != null and jjd !=''">,RWMX_JJD</if>
            <if test="tp != null and tp !=''">,RWMX_TP</if>
            <if test="sp != null and sp !=''">,RWMX_SP</if>
            <if test="zh != null and zh !=''">,RWMX_ZH</if>
            <if test="fxsj != null and fxsj !=''">,RWMX_FXSJ</if>
            <if test="shlx != null and shlx !=''">,RWMX_SHLX</if>
            <if test="bhlx != null and bhlx !=''">,RWMX_BHLX</if>
            <if test="bhsl != null and bhsl !=''">,RWMX_BHSL</if>
            <if test="khnr != null and khnr !=''">,RWMX_KHNR</if>
            <if test="cd != null and cd !=''">,RWMX_CD</if>
            <if test="czfs != null and czfs !=''">,RWMX_CZFS</if>
            <if test="xcfx != null and xcfx !=''">,RWMX_XCFX</if>
            <if test="bhsm != null and bhsm !=''">,RWMX_BHSM</if>
            <if test="gcllx != null and gcllx !=''">,RWMX_GCLLX</if>
            <if test="dwgc != null and dwgc !=''">,RWMX_DWGC</if>
            <if test="xxly != null and xxly !=''">,RWMX_XXLY</if>
            <if test="lxr != null and lxr !=''">,RWMX_LXR</if>
            <if test="lxdh != null and lxdh !=''">,RWMX_LXDH</if>
            <if test="sjdd != null and sjdd !=''">,RWMX_SJDD</if>
            <if test="sjld != null and sjld !=''">,RWMX_SJLD</if>
            <if test="cph != null and cph !=''">,RWMX_CPH</if>
            <if test="cllx != null and cllx !=''">,RWMX_CLLX</if>
            <if test="zmh != null and zmh !=''">,RWMX_ZMH</if>
            <if test="zmmc != null and zmmc !=''">,RWMX_ZMMC</if>
        ) VALUES (
            <if test="id != null and id !=''">#{id}</if>
            <if test="mid != null and mid !=''">,#{mid}</if>
            <if test="dwmc != null and dwmc !=''">,#{dwmc}</if>
            <if test="dwbh != null and dwbh !=''">,#{dwbh}</if>
            <if test="dwid != null and dwid !=''">,#{dwid}</if>
            <if test="bmmc != null and bmmc !=''">,#{bmmc}</if>
            <if test="bmbh != null and bmbh !=''">,#{bmbh}</if>
            <if test="bmid != null and bmid !=''">,#{bmid}</if>
            <if test="tbr != null and tbr !=''">,#{tbr}</if>
            <if test="tbrid != null and tbrid !=''">,#{tbrid}</if>
            <if test="tbrq != null and tbrq !=''">,TO_DATE(#{tbrq}, 'yyyy-MM-dd hh24:mi:ss')</if>
            <if test="note != null and note !=''">,#{note}</if>
            <if test="sjdh != null and sjdh !=''">,#{sjdh}</if>
            <if test="gps != null and gps !=''">,#{gps}</if>
            <if test="sjlx != null and sjlx !=''">,#{sjlx}</if>
            <if test="sjsm != null and sjsm !=''">,#{sjsm}</if>
            <if test="jjd != null and jjd !=''">,#{jjd}</if>
            <if test="tp != null and tp !=''">,#{tp}</if>
            <if test="sp != null and sp !=''">,#{sp}</if>
            <if test="zh != null and zh !=''">,#{zh}</if>
            <if test="fxsj != null and fxsj !=''">,TO_DATE(#{fxsj}, 'yyyy-MM-dd hh24:mi:ss')</if>
            <if test="shlx != null and shlx !=''">,#{shlx}</if>
            <if test="bhlx != null and bhlx !=''">,#{bhlx}</if>
            <if test="bhsl != null and bhsl !=''">,#{bhsl}</if>
            <if test="khnr != null and khnr !=''">,#{khnr}</if>
            <if test="cd != null and cd !=''">,#{cd}</if>
            <if test="czfs != null and czfs !=''">,#{czfs}</if>
            <if test="xcfx != null and xcfx !=''">,#{xcfx}</if>
            <if test="bhsm != null and bhsm !=''">,#{bhsm}</if>
            <if test="gcllx != null and gcllx !=''">,#{gcllx}</if>
            <if test="dwgc != null and dwgc !=''">,#{dwgc}</if>
            <if test="xxly != null and xxly !=''">,#{xxly}</if>
            <if test="lxr != null and lxr !=''">,#{lxr}</if>
            <if test="lxdh != null and lxdh !=''">,#{lxdh}</if>
            <if test="sjdd != null and sjdd !=''">,#{sjdd}</if>
            <if test="sjld != null and sjld !=''">,#{sjld}</if>
            <if test="cph != null and cph !=''">,#{cph}</if>
            <if test="cllx != null and cllx !=''">,#{cllx}</if>
            <if test="zmh != null and zmh !=''">,#{zmh}</if>
            <if test="zmmc != null and zmmc !=''">,#{zmmc}</if>
        )
    </insert>

    <!-- 更新“（清扫/日常）任务单子表”的“维修时间/维修状态” -->
    <update id="updateRwdSubsidiaryWx" parameterType="com.hdsx.rcyh.entity.RwdSubsidiary" >
        UPDATE RCYH_RWD_SUBSIDIARY SET SUB_WXSJ = TO_DATE(#{wxsj}, 'yyyy-MM-dd hh24:mi:ss'), SUB_WXZT = #{wxzt} WHERE SUB_ID = #{id}
    </update>

    <!-- 添加“启动巡查”数据 -->
    <insert id="insertQdxc" parameterType="com.hdsx.rcyh.entity.AppRcyhQdxc">
        INSERT INTO RCYH_QDXC (
            <if test="id != null and id !=''">XCRW_ID</if>
            <if test="dwmc != null and dwmc !=''">,XCRW_DWMC</if>
            <if test="dwbh != null and dwbh !=''">,XCRW_DWBH</if>
            <if test="dwid != null and dwid !=''">,XCRW_DWID</if>
            <if test="bmmc != null and bmmc !=''">,XCRW_BMMC</if>
            <if test="bmbh != null and bmbh !=''">,XCRW_BMBH</if>
            <if test="bmid != null and bmid !=''">,XCRW_BMID</if>
            <if test="tbr != null and tbr !=''">,XCRW_TBR</if>
            <if test="tbrid != null and tbrid !=''">,XCRW_TBRID</if>
            <if test="tbrq != null and tbrq !=''">,XCRW_TBRQ</if>
            <if test="file != null and file !=''">,XCRW_FILE</if>
            <if test="wfid != null and wfid !=''">,XCRW_WFID</if>
            <if test="note != null and note !=''">,XCRW_NOTE</if>
            <if test="djbh != null and djbh !=''">,XCRW_DJBH</if>
            <if test="xclx != null and xclx !=''">,XCRW_XCLX</if>
            <if test="qqzh != null and qqzh !=''">,XCRW_QQZH</if>
            <if test="xcfx != null and xcfx !=''">,XCRW_XCFX</if>
            <if test="kssj != null and kssj !=''">,XCRW_KSSJ</if>
            <if test="jssj != null and jssj !=''">,XCRW_JSSJ</if>
            <if test="xcry != null and xcry !=''">,XCRW_XCRY</if>
            <if test="cphm != null and cphm !=''">,XCRW_CPHM</if>
            <if test="lx != null and lx !=''">,XCRW_LX</if>
            <if test="zt != null and zt !=''">,XCRW_ZT</if>
            <if test="ydjhid != null and ydjhid !=''">,XCRW_YDJHID</if>
        ) VALUES (
            <if test="id != null and id !=''">#{id}</if>
            <if test="dwmc != null and dwmc !=''">, #{dwmc}</if>
            <if test="dwbh != null and dwbh !=''">, #{dwbh}</if>
            <if test="dwid != null and dwid !=''">, #{dwid}</if>
            <if test="bmmc != null and bmmc !=''">, #{bmmc}</if>
            <if test="bmbh != null and bmbh !=''">, #{bmbh}</if>
            <if test="bmid != null and bmid !=''">, #{bmid}</if>
            <if test="tbr != null and tbr !=''">, #{tbr}</if>
            <if test="tbrid != null and tbrid !=''">, #{tbrid}</if>
            <if test="tbrq != null and tbrq !=''">, TO_DATE(#{tbrq}, 'yyyy-MM-dd')</if>
            <if test="file != null and file !=''">, #{file}</if>
            <if test="wfid != null and wfid !=''">, #{wfid}</if>
            <if test="note != null and note !=''">, #{note}</if>
            <if test="djbh != null and djbh !=''">, #{djbh}</if>
            <if test="xclx != null and xclx !=''">, #{xclx}</if>
            <if test="qqzh != null and qqzh !=''">, #{qqzh}</if>
            <if test="xcfx != null and xcfx !=''">, #{xcfx}</if>
            <if test="kssj != null and kssj !=''">, TO_DATE(#{kssj}, 'yyyy-MM-dd hh24:mi:ss')</if>
            <if test="jssj != null and jssj !=''">, TO_DATE(#{jssj}, 'yyyy-MM-dd hh24:mi:ss')</if>
            <if test="xcry != null and xcry !=''">, #{xcry}</if>
            <if test="cphm != null and cphm !=''">, #{cphm}</if>
            <if test="lx != null and lx !=''">, #{lx}</if>
            <if test="zt != null and zt !=''">, #{zt}</if>
            <if test="ydjhid != null and ydjhid !=''">, #{ydjhid}</if>
        )
    </insert>

    <!-- 根据“人员ID”查询其所应做的养护/清扫任务信息（病害/事件） -->
    <select id="getBhrwByRyid" parameterType="String" resultType="java.util.Map">
    SELECT A.RWMX_ID,A.RWMX_DWID,A.RWMX_DWBH,A.RWMX_DWMC,A.RWMX_BMID,A.RWMX_BMBH,A.RWMX_BMMC,B.XCRW_XCFX,
        A.RWMX_CD,A.RWMX_SHLX,SHMJ.MEIJUMC AS SHLXMC,A.RWMX_BHLX,BHMJ.MEIJUMC AS MHLXMC,A.RWMX_GPS,A.RWMX_ZH,
        A.RWMX_BHSL,A.RWMX_BHSM,SUB.SUB_SSLX
    FROM RCYH_XCSB A LEFT JOIN RCYH_QDXC B ON A.RWMX_MID = B.XCRW_ID
        LEFT JOIN HTGL_ENUMERATE SHMJ ON A.RWMX_SHLX = SHMJ.MEIJUBM
        LEFT JOIN HTGL_ENUMERATE BHMJ ON A.RWMX_BHLX = BHMJ.MEIJUBM
        LEFT JOIN RCYH_RWD_SUBSIDIARY SUB ON SUB.SUB_RWDID = A.YHRWD_DJBH
    WHERE A.YHRWD_DJBH IN (SELECT SUB_RWDID FROM RCYH_RWD_SUBSIDIARY WHERE SUB_WXZT = '2101' AND SUB_RYID = #{ryid})
    </select>

    <!-- 根据“人员ID”查询其所能进行的“月度计划”列表 -->
    <select id="getYhjhByRyid" parameterType="String" resultType="java.util.Map">
        SELECT A.YDJH_ID,TO_CHAR(A.YDJH_YF, 'yyyy"年"MM"月"') AS YHJH_YD FROM RCYH_YDSGJH A
          LEFT JOIN DJSJ_RYXX B ON (A.YDJH_DWID = B.RYXX_GSID AND A.YDJH_BMID = B.RYXX_BMID)
        WHERE TO_NUMBER(TO_CHAR(A.YDJH_YF, 'yyyyMM')) = TO_NUMBER(TO_CHAR(SYSDATE, 'yyyyMM')) AND A.YDJH_SPZT = '2202'
        AND B.RYXX_ID = #{ryid}
    </select>

    <!--添加道路巡查配置信息-->
    <insert id="insertPZ" parameterType="com.hdsx.rcyh.entity.QdxcPzdj">
        INSERT INTO RCYH_QDXCPZ (
        <if test="id != null and id !=''">CXRW_ID</if>
        <if test="lx != null and lx !=''">,CXRW_LX</if>
        <if test="qqzh != null and qqzh !=''">,CXRW_QQZH</if>
        <if test="xcfx != null and xcfx !=''">,CXRW_XCFX</if>
        <if test="kssj != null and kssj !=''">,CXRW_KSSJ</if>
        <if test="xcry != null and xcry !=''">,CXRW_XCRY</if>
        <if test="xccl != null and xccl !=''">,CXRW_XCCL</if>
        <if test="xclx != null and xclx !=''">,CXRW_XCLX</if>

        ) VALUES (
        <if test="id != null and id !=''">#{id}</if>
        <if test="lx != null and lx !=''">, #{lx}</if>
        <if test="qqzh != null and qqzh !=''">, #{qqzh}</if>
        <if test="xcfx != null and xcfx !=''">, #{xcfx}</if>
        <if test="kssj != null and kssj !=''">,TO_DATE(#{kssj}, 'yyyy-MM-dd hh24:mi:ss')</if>
        <if test="xcry != null and xcry !=''">, #{xcry}</if>
        <if test="xccl != null and xccl !=''">, #{xccl}</if>
        <if test="xclx != null and xclx !=''">, #{xclx}</if>

        )
    </insert>

    <!-- 根据“人员”查询其所能进行的“道路巡查”信息 -->
    <select id="getQdxcPz" parameterType="String" resultType="java.util.Map">
      SELECT * FROM (select * from RCYH_QDXCPZ WHERE CXRW_XCRY=#{xcry} order by CXRW_ID DESC)WHERE ROWNUM='1'
    </select>

</mapper>
