<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.rcyh.mapper.JlzfMapper">

    <resultMap type="com.hdsx.rcyh.entity.Jlzf" id="jlzfmaps">
        <result column="gcjl_djbh" property="gcjl_djbh"/>
        <result column="gcjl_gcmc" property="gcjl_gcmc"/>
        <result column="gcjl_sqrq" property="gcjl_sqrq"/>
        <result column="gcjl_yd" property="gcjl_yd"/>
        <result column="gcjl_htmc" property="gcjl_htmc"/>
        <result column="gcjl_htid" property="gcjl_htid"/>
        <result column="gcjl_htbh" property="gcjl_htbh"/>
        <result column="gcjl_cbdw" property="gcjl_cbdw"/>
        <result column="gcjl_qdzh" property="gcjl_qdzh"/>
        <result column="gcjl_zdzh" property="gcjl_zdzh"/>
        <result column="gcjl_bw" property="gcjl_bw"/>
        <result column="gcjl_th" property="gcjl_th"/>
        <result column="gcjl_zjdbh" property="gcjl_zjdbh"/>
        <result column="gcjl_jtsm" property="gcjl_jtsm"/>
        <result column="gcjl_tbr" property="gcjl_tbr"/>
        <result column="gcjl_tbrid" property="gcjl_tbrid"/>
        <result column="gcjl_tbrq" property="gcjl_tbrq"/>
        <result column="pmmtgcspsqs_gldw" property="pmmtgcspsqs_gldw"/>
        <result column="pmmtgcspsqs_cbdw" property="pmmtgcspsqs_cbdw"/>

        <collection property="zmzbs" ofType="com.hdsx.rcyh.entity.Zmzb" column="jldbh">
            <result column="jldbh" property="jldbh"/><!-- 这里的column对应的是下面查询的别名，而不是表字段名 -->
            <result column="zmh" property="zmh"/><!-- property对应JavaBean中的属性名 -->
            <result column="zmmc" property="zmmc"/><!-- property对应JavaBean中的属性名 -->
            <result column="dw" property="dw"/>
            <result column="sl" property="sl"/>

        </collection>

    </resultMap>





    <!-- 查询索赔申请单列表数据 -->
    <select id="getSpsqdList" parameterType="hashmap" resultType="com.hdsx.rcyh.entity.Jlzf">
        select g.PMMTGCSPSQS_ID,g.PMMTGCSPSQS_DWMC,g.PMMTGCSPSQS_DWBH,g.PMMTGCSPSQS_DWID,g.PMMTGCSPSQS_BMMC,g.PMMTGCSPSQS_BMBH,g.PMMTGCSPSQS_BMID,g.PMMTGCSPSQS_TBR,to_char(g.PMMTGCSPSQS_TBRQ,'yyyy/mm/dd') PMMTGCSPSQS_TBRQ,g.PMMTGCSPSQS_SPZT,g.PMMTGCSPSQS_FILE,g.PMMTGCSPSQS_DJBH,g.PMMTGCSPSQS_CJRQ,g.PMMTGCSPSQS_GCMC,g.PMMTGCSPSQS_HTBH,g.PMMTGCSPSQS_SQJE,g.PMMTGCSPSQS_SPSJ,g.PMMTGCSPSQS_SCYJS,g.PMMTGCSPSQS_SPYJS,g.PMMTGCSPSQS_SPJE,g.PMMTGCSPSQS_CJDW,g.PMMTGCSPSQS_GLDW,to_char(g.PMMTGCSPSQS_SQRQ,'yyyy/mm/dd') PMMTGCSPSQS_SQRQ,g.PMMTGCSPSQS_CBDW,g.PMMTGCSPSQS_SPSJJS
         from GCSPSQS g where 1=1
        <if test="pmmtgcspsqs_htbh != null and pmmtgcspsqs_htbh != ''">
            and g.pmmtgcspsqs_htbh=#{pmmtgcspsqs_htbh}
        </if>
        <if test="ksrq != null and ksrq != ''">
            and to_date(to_char(g.pmmtgcspsqs_sqrq,'yyyy/mm/dd'),'yyyy/mm/dd')>=to_date(#{ksrq},'yyyy/mm/dd')
        </if>
        <if test="jsrq != null and jsrq != ''">
            and to_date(to_char(g.pmmtgcspsqs_sqrq,'yyyy/mm/dd'),'yyyy/mm/dd')&lt;=to_date(#{jsrq},'yyyy/mm/dd')
        </if>
    </select>

	<!--  添加索赔申请书  -->
	<insert id="addSpsqsForJlzf" parameterType="com.hdsx.rcyh.entity.Jlzf">
		insert into GCSPSQS
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="pmmtgcspsqs_djbh != null" >pmmtgcspsqs_djbh,</if>
			<if test="pmmtgcspsqs_gcmc != null" >pmmtgcspsqs_gcmc,</if>
			<if test="pmmtgcspsqs_sqrq != null" >pmmtgcspsqs_sqrq,</if>
			<if test="pmmtgcspsqs_htbh != null" >pmmtgcspsqs_htbh,</if>
			<if test="pmmtgcspsqs_gldw != null" >pmmtgcspsqs_gldw,</if>
			<if test="pmmtgcspsqs_cbdw != null" >pmmtgcspsqs_cbdw,</if>
			<if test="pmmtgcspsqs_spsjjs != null" >pmmtgcspsqs_spsjjs,</if>
			<if test="pmmtgcspsqs_sqje != null" >pmmtgcspsqs_sqje,</if>
			<if test="pmmtgcspsqs_spje != null" >pmmtgcspsqs_spje,</if>
			<if test="pmmtgcspsqs_tbr != null" >pmmtgcspsqs_tbr,</if>
            <if test="pmmtgcspsqs_tbrq != null" >pmmtgcspsqs_tbrq,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="pmmtgcspsqs_djbh != null" >#{pmmtgcspsqs_djbh},</if>
			<if test="pmmtgcspsqs_gcmc != null" >#{pmmtgcspsqs_gcmc},</if>
			<if test="pmmtgcspsqs_sqrq != null" >to_date(#{pmmtgcspsqs_sqrq},'yyyy/mm/dd'),</if>
			<if test="pmmtgcspsqs_htbh != null" >#{pmmtgcspsqs_htbh},</if>
			<if test="pmmtgcspsqs_gldw != null" >#{pmmtgcspsqs_gldw},</if>
			<if test="pmmtgcspsqs_cbdw != null" >#{pmmtgcspsqs_cbdw},</if>
			<if test="pmmtgcspsqs_spsjjs != null" >#{pmmtgcspsqs_spsjjs},</if>
			<if test="pmmtgcspsqs_sqje != null" >#{pmmtgcspsqs_sqje},</if>
			<if test="pmmtgcspsqs_spje != null" >#{pmmtgcspsqs_spje},</if>
			<if test="pmmtgcspsqs_tbr != null" >#{pmmtgcspsqs_tbr},</if>
            <if test="pmmtgcspsqs_tbrq != null" >to_date(#{pmmtgcspsqs_tbrq},'yyyy/mm/dd'),</if>
		</trim>
	</insert>

    <!--  编辑索赔申请书  -->
    <update id="editSpsqsForJlzf" parameterType="com.hdsx.rcyh.entity.Jlzf" >
        update GCSPSQS
        <set>
            <if test="pmmtgcspsqs_gcmc != null" >pmmtgcspsqs_gcmc=#{pmmtgcspsqs_gcmc},</if>
            <if test="pmmtgcspsqs_sqrq != null" >pmmtgcspsqs_sqrq=to_date(#{pmmtgcspsqs_sqrq},'yyyy/mm/dd'),</if>
            <if test="pmmtgcspsqs_htbh != null" >pmmtgcspsqs_htbh=#{pmmtgcspsqs_htbh},</if>
            <if test="pmmtgcspsqs_gldw != null" >pmmtgcspsqs_gldw=#{pmmtgcspsqs_gldw},</if>
            <if test="pmmtgcspsqs_cbdw != null" >pmmtgcspsqs_cbdw=#{pmmtgcspsqs_cbdw},</if>
            <if test="pmmtgcspsqs_spsjjs != null" >pmmtgcspsqs_spsjjs=#{pmmtgcspsqs_spsjjs},</if>
            <if test="pmmtgcspsqs_sqje != null" >pmmtgcspsqs_sqje=#{pmmtgcspsqs_sqje},</if>
            <if test="pmmtgcspsqs_spje != null" >pmmtgcspsqs_spje=#{pmmtgcspsqs_spje},</if>
            <if test="pmmtgcspsqs_tbr != null" >pmmtgcspsqs_tbr=#{pmmtgcspsqs_tbr},</if>
            <if test="pmmtgcspsqs_tbrq != null" >pmmtgcspsqs_tbrq=to_date(#{pmmtgcspsqs_tbrq},'yyyy/mm/dd'),</if>
        </set>
        where 1=1 and pmmtgcspsqs_djbh=#{pmmtgcspsqs_djbh}
    </update>

    <!--  删除索赔申请书  -->
    <delete id="delSpsqsForJlzf" parameterType="java.util.List" >
        delete from GCSPSQS
        where pmmtgcspsqs_djbh in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--  通过单据编号查询索赔申请书  -->
    <select id="getSpsqsInfoByDjbh" parameterType="string" resultType="com.hdsx.rcyh.entity.Jlzf">
        select g.PMMTGCSPSQS_ID,g.PMMTGCSPSQS_DWMC,g.PMMTGCSPSQS_DWBH,g.PMMTGCSPSQS_DWID,g.PMMTGCSPSQS_BMMC,g.PMMTGCSPSQS_BMBH,g.PMMTGCSPSQS_BMID,g.PMMTGCSPSQS_TBR,to_char(g.PMMTGCSPSQS_TBRQ,'yyyy/mm/dd') PMMTGCSPSQS_TBRQ,g.PMMTGCSPSQS_SPZT,g.PMMTGCSPSQS_FILE,g.PMMTGCSPSQS_DJBH,g.PMMTGCSPSQS_CJRQ,g.PMMTGCSPSQS_GCMC,g.PMMTGCSPSQS_HTBH,g.PMMTGCSPSQS_SQJE,g.PMMTGCSPSQS_SPSJ,g.PMMTGCSPSQS_SCYJS,g.PMMTGCSPSQS_SPYJS,g.PMMTGCSPSQS_SPJE,g.PMMTGCSPSQS_CJDW,g.PMMTGCSPSQS_GLDW,to_char(g.PMMTGCSPSQS_SQRQ,'yyyy/mm/dd') PMMTGCSPSQS_SQRQ,g.PMMTGCSPSQS_CBDW,g.PMMTGCSPSQS_SPSJJS
        from GCSPSQS g where pmmtgcspsqs_djbh=#{value}
    </select>

    <!--  通过部门查询合同信息  -->
    <select id="getHtInfoByBm" parameterType="hashmap" resultType="hashmap">
        select ht.htxx_htbh htbh,ht.HTXX_ID htid,ht.HTXX_HTMC htmc,xm.htxx_qszh qdzh,xm.htxx_zzzh zdzh,gj.htxx_cgxmmc gcmc,xm.htxx_gldw gldw,xm.htxx_cbdw cbdw
        from djsj_htxx ht left join djsj_htxx_htgjxx gj on ht.htxx_htbh=gj.htxx_htbh left join djsj_htxx_yhxmxx xm on ht.htxx_htbh=xm.htxx_htbh
        where 1=1

    </select>

    <!--  通过合同编号查询子目汇总信息  -->
    <select id="getHtZmHzInfoByHtbh" parameterType="hashmap" resultType="hashmap">
        select zm.zmht_zmh zmh,max(zm.zmht_zmmc) zmmc,max(zm.zmht_jldw) jldw,sum(zm.zmht_sl) sl,zmht_htbh htbh  from ZM_HT zm
        where 1=1 and zm.zmht_htbh=#{htbh}
        group by zm.zmht_htbh,zm.zmht_zmh
        order by zmh
    </select>

    <!--  添加工程计量单  -->
    <insert id="addGcjldForJlzf" parameterType="com.hdsx.rcyh.entity.Jlzf">
        insert into GCJLD
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="gcjl_djbh != null" >gcjl_djbh,</if>
            <if test="gcjl_gcmc != null" >gcjl_gcmc,</if>
            <if test="gcjl_sqrq != null" >gcjl_sqrq,</if>
            <if test="gcjl_yd != null" >gcjl_yd,</if>
            <if test="gcjl_htmc != null" >gcjl_htmc,</if>
            <if test="gcjl_htid != null" >gcjl_htid,</if>
            <if test="gcjl_htbh != null" >gcjl_htbh,</if>
            <if test="gcjl_cbdw != null" >gcjl_cbdw,</if>
            <if test="gcjl_qdzh != null" >gcjl_qdzh,</if>
            <if test="gcjl_zdzh != null" >gcjl_zdzh,</if>
            <if test="gcjl_bw != null" >gcjl_bw,</if>
            <if test="gcjl_th != null" >gcjl_th,</if>
            <if test="gcjl_zjdbh != null" >gcjl_zjdbh,</if>
            <if test="gcjl_jtsm != null" >gcjl_jtsm,</if>
            <if test="gcjl_tbr != null" >gcjl_tbr,</if>
            <if test="gcjl_tbrid != null" >gcjl_tbrid,</if>
            <if test="gcjl_tbrq != null" >gcjl_tbrq,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="gcjl_djbh != null" >#{gcjl_djbh},</if>
            <if test="gcjl_gcmc != null" >#{gcjl_gcmc},</if>
            <if test="gcjl_sqrq != null" >to_date(#{gcjl_sqrq},'yyyy/mm/dd'),</if>
            <if test="gcjl_yd != null" >#{gcjl_yd},</if>
            <if test="gcjl_htmc != null" >#{gcjl_htmc},</if>
            <if test="gcjl_htid != null" >#{gcjl_htid},</if>
            <if test="gcjl_htbh != null" >#{gcjl_htbh},</if>
            <if test="gcjl_cbdw != null" >#{gcjl_cbdw},</if>
            <if test="gcjl_qdzh != null" >#{gcjl_qdzh},</if>
            <if test="gcjl_zdzh != null" >#{gcjl_zdzh},</if>
            <if test="gcjl_bw != null" >#{gcjl_bw},</if>
            <if test="gcjl_th != null" >#{gcjl_th},</if>
            <if test="gcjl_zjdbh != null" >#{gcjl_zjdbh},</if>
            <if test="gcjl_jtsm != null" >#{gcjl_jtsm},</if>
            <if test="gcjl_tbr != null" >#{gcjl_tbr},</if>
            <if test="gcjl_tbrid != null" >#{gcjl_tbrid},</if>
            <if test="gcjl_tbrq != null" >to_date(#{gcjl_tbrq},'yyyy/mm/dd'),</if>
        </trim>
    </insert>

    <insert id="addGcjldFbForJlzf" parameterType="com.hdsx.rcyh.entity.Jlzf">

        begin
        <foreach collection="zmzbs" item="item1" index="index" separator="">
            <foreach collection="item1.zmbs" item="item" index="index" separator=";">
                insert into GCJLDMX(GCJL_ID, GCJLMX_DJBH,GCJLMX_ZMID, GCJLMX_ZMH, GCJLMX_ZMMC, GCJLMX_HTSL, GCJLMX_DW, GCJLMX_HTDJ, GCJLMX_KKJE, GCJLMX_HTJE, GCJLMX_ZJE )  values
                (sys_guid(),trim(#{gcjl_djbh}),trim(#{item.gcjlmx_zmid}),trim(#{item.gcjlmx_zmh}),trim(#{item.gcjlmx_zmmc}),trim(#{item.gcjlmx_htsl}),trim(#{item.gcjlmx_dw}),trim(#{item.gcjlmx_htdj}),trim(#{item.gcjlmx_kkje}),trim(#{item.gcjlmx_htje}),trim(#{item.gcjlmx_htje})-trim(#{item.gcjlmx_kkje}))
            </foreach>
        </foreach>
        ;end;
    </insert>

    <!--  通过合同编号查询子目明细信息  -->
    <select id="getHtZmMxInfoByHtbh" parameterType="hashmap" resultType="hashmap">
        select zmht_id zmid,zmht_ZMH zmh,zmht_zmmc zmmc,zmht_sl sl,zmht_jldw dw,zmht_dj dj,0 kkje,zmht_je je,zmht_je zje  from ZM_HT zm
        where 1=1 and zm.zmht_htbh=#{htbh}
         and zm.zmht_id not in(select GCJLMX_ZMID from GCJLDMX)
         <if test="djbh != null and djbh !=''">
             union all
             select GCJLMX_ZMID, GCJLMX_ZMH, GCJLMX_ZMMC, GCJLMX_HTSL, GCJLMX_DW, GCJLMX_HTDJ, GCJLMX_KKJE, GCJLMX_HTJE, GCJLMX_ZJE from GCJLDMX
             where GCJLMX_DJBH=#{djbh}
         </if>

        order by zmh
    </select>

    <!--  通过单据编号查询子目信息  -->
    <select id="getZmbsByDjbh" resultType="com.hdsx.rcyh.entity.Zmb" parameterType="hashmap">
        select * from GCJLDMX where GCJLMX_DJBH=#{djbh}
        <if test="zmh!=null">
            and gcjlmx_zmh=#{zmh}
        </if>
    </select>

    <!--  通过单据编号删除子目信息  -->
    <delete id="delZmbByDjbh" parameterType="string">
        delete from GCJLDMX where GCJLMX_DJBH=#{value}
    </delete>

    <!--  编辑工程计量单  -->
    <update id="editGcjldForJlzf" parameterType="com.hdsx.rcyh.entity.Jlzf" >
        update GCJLD
        <set>
            <if test="gcjl_gcmc != null" >gcjl_gcmc=#{gcjl_gcmc},</if>
            <if test="gcjl_sqrq != null" >gcjl_sqrq=to_date(#{gcjl_sqrq},'yyyy/mm/dd'),</if>
            <if test="gcjl_yd != null" >gcjl_yd=#{gcjl_yd},</if>
            <if test="gcjl_htmc != null" >gcjl_htmc=#{gcjl_htmc},</if>
            <if test="gcjl_htid != null" >gcjl_htid=#{gcjl_htid},</if>
            <if test="gcjl_htbh != null" >gcjl_htbh=#{gcjl_htbh},</if>
            <if test="gcjl_cbdw != null" >gcjl_cbdw=#{gcjl_cbdw},</if>
            <if test="gcjl_qdzh != null" >gcjl_qdzh=#{gcjl_qdzh},</if>
            <if test="gcjl_zdzh != null" >gcjl_zdzh=#{gcjl_zdzh},</if>
            <if test="gcjl_bw != null" >gcjl_bw=#{gcjl_bw},</if>
            <if test="gcjl_th != null" >gcjl_th=#{gcjl_th},</if>
            <if test="gcjl_zjdbh != null" >gcjl_zjdbh=#{gcjl_zjdbh},</if>
            <if test="gcjl_jtsm != null" >gcjl_jtsm=#{gcjl_jtsm},</if>
            <if test="gcjl_tbr != null" >gcjl_tbr=#{gcjl_tbr},</if>
            <if test="gcjl_tbrid != null" >gcjl_tbrid=#{gcjl_tbrid},</if>
            <if test="gcjl_tbrq != null" >gcjl_tbrq=to_date(#{gcjl_tbrq},'yyyy/mm/dd'),</if>
        </set>
        where 1=1 and gcjl_djbh=#{gcjl_djbh}
    </update>
    <!--  通过单据编号查询工程计量单信息  -->
    <select id="getGcjldInfoByDjbh" resultMap="jlzfmaps" parameterType="hashmap">
         select g.gcjl_dwmc, g.gcjl_dwbh, g.gcjl_dwid, g.gcjl_bmmc, g.gcjl_bmbh, g.gcjl_bmid, g.gcjl_tbr, g.gcjl_tbrid, to_char(gcjl_tbrq,'yyyy/mm/dd') gcjl_tbrq, gcjl_spzt, gcjl_file, gcjl_wfid, gcjl_note, gcjl_djbh, gcjl_code, gcjl_xmmc, gcjl_xmid, gcjl_xmbh, gcjl_htmc, gcjl_htid, gcjl_htbh, gcjl_cjdwmc, gcjl_cjdwbh, gcjl_cjdwid, gcjl_rq, gcjl_bw, gcjl_th, gcjl_zjdbh, gcjl_jtsm, gcjl_flag, gcjl_sfybgc, gcjl_ybgcdh, gcjl_gcmc, to_char(gcjl_sqrq,'yyyy/mm/dd') gcjl_sqrq, gcjl_yd, gcjl_cbdw, gcjl_qdzh, gcjl_zdzh, gcjl_sl,
        mxzb.* from GCJLD g
        left join (select gcjlmx_djbh jldbh,gcjlmx_zmh zmh,max(gcjlmx_zmmc) zmmc,max(gcjlmx_dw) dw,sum(nvl(gcjlmx_htsl,0)) sl from GCJLDMX t group by t.gcjlmx_djbh,t.gcjlmx_zmh
        ) mxzb on g.gcjl_djbh=mxzb.jldbh
        where g.gcjl_djbh=#{djbh}
    </select>

    <!--  通过单据编号查询子目总表信息  -->
    <select id="getZmzbsByDjbh" resultType="com.hdsx.rcyh.entity.Zmzb" parameterType="hashmap">
        select gcjlmx_djbh jldbh,gcjlmx_zmh zmh,max(gcjlmx_zmmc) zmmc,max(gcjlmx_dw) dw,sum(nvl(gcjlmx_htsl,0)) sl from GCJLDMX t
        where gcjlmx_djbh=#{djbh}
        group by t.gcjlmx_djbh,t.gcjlmx_zmh
    </select>

    <!-- 查询工程计量单列表数据 -->
    <select id="getGcjldList" parameterType="hashmap" resultMap="jlzfmaps">

        select g.gcjl_dwmc, g.gcjl_dwbh, g.gcjl_dwid, g.gcjl_bmmc, g.gcjl_bmbh, g.gcjl_bmid, g.gcjl_tbr, g.gcjl_tbrid, to_char(gcjl_tbrq,'yyyy/mm/dd') gcjl_tbrq, gcjl_spzt, gcjl_file, gcjl_wfid, gcjl_note, gcjl_djbh, gcjl_code, gcjl_xmmc, gcjl_xmid, gcjl_xmbh, gcjl_htmc, gcjl_htid, gcjl_htbh, gcjl_cjdwmc, gcjl_cjdwbh, gcjl_cjdwid, gcjl_rq, gcjl_bw, gcjl_th, gcjl_zjdbh, gcjl_jtsm, gcjl_flag, gcjl_sfybgc, gcjl_ybgcdh, gcjl_gcmc, to_char(gcjl_sqrq,'yyyy/mm/dd') gcjl_sqrq, gcjl_yd, gcjl_cbdw, gcjl_qdzh, gcjl_zdzh, gcjl_sl,
        mxzb.* from GCJLD g
        left join (select gcjlmx_djbh jldbh,gcjlmx_zmh zmh,max(gcjlmx_zmmc) zmmc,max(gcjlmx_dw) dw,sum(nvl(gcjlmx_htsl,0)) sl from GCJLDMX t group by t.gcjlmx_djbh,t.gcjlmx_zmh
        ) mxzb on g.gcjl_djbh=mxzb.jldbh

        where 1=1
        <if test="gcjl_htbh != null and gcjl_htbh != ''">
            and g.gcjl_htbh=#{gcjl_htbh}
        </if>
        <if test="ksrq != null and ksrq != ''">
            and to_date(to_char(g.gcjl_sqrq,'yyyy/mm/dd'),'yyyy/mm/dd')>=to_date(#{ksrq},'yyyy/mm/dd')
        </if>
        <if test="jsrq != null and jsrq != ''">
            and to_date(to_char(g.gcjl_sqrq,'yyyy/mm/dd'),'yyyy/mm/dd')&lt;=to_date(#{jsrq},'yyyy/mm/dd')
        </if>
    </select>

    <!--  通过部门查询合同信息  -->
    <select id="getHtXxInfoByBm" parameterType="hashmap" resultMap="jlzfmaps">
        select ht.htxx_htbh gcjl_htbh,ht.HTXX_ID gcjl_htid,ht.HTXX_HTMC gcjl_htmc,xm.htxx_qszh gcjl_qdzh,xm.htxx_zzzh gcjl_zdzh,gj.htxx_cgxmmc gcjl_gcmc,xm.htxx_gldw pmmtgcspsqs_gldw,xm.htxx_cbdw pmmtgcspsqs_cbdw,
        zm.*
        from djsj_htxx ht left join djsj_htxx_htgjxx gj on ht.htxx_htbh=gj.htxx_htbh left join djsj_htxx_yhxmxx xm on ht.htxx_htbh=xm.htxx_htbh
        left join ( select zm.zmht_zmh zmh,max(zm.zmht_zmmc) zmmc,max(zm.zmht_jldw) jldw,sum(zm.zmht_sl) sl,zmht_htbh htbh  from ZM_HT zm where 1=1 and zm.zmht_id not in(select GCJLMX_ZMID from GCJLDMX) group by zm.zmht_htbh,zm.zmht_zmh ) zm on ht.htxx_htbh=zm.htbh
        where 1=1

    </select>

    <select id="getHtZmXxInfoByBm" resultType="com.hdsx.rcyh.entity.Zmb" parameterType="hashmap">
        select ZMHT_ID gcjlmx_zmid, ZMHT_HTBH, ZMHT_HTMC, ZMHT_ZMH gcjlmx_zmh, ZMHT_ZMMC gcjlmx_zmmc, ZMHT_JLDW gcjlmx_dw, ZMHT_SL gcjlmx_htsl, ZMHT_DJ gcjlmx_htdj, ZMHT_JE gcjlmx_htje ,ZMHT_JE gcjlmx_zje from ZM_HT
        where ZMHT_HTBH=#{htbh} and ZMHT_ZMH=#{zmh} and zmht_id not in(select GCJLMX_ZMID from GCJLDMX)
    </select>

    <!-- 删除工程计量单  -->
    <delete id="delGcjldFbForJlzf" parameterType="java.util.List" >
        delete from GCJLD
        where gcjl_htbh in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="delGcjldForJlzf" parameterType="java.util.List" >
        delete from GCJLDMX
        where gcjldmx_djbh in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>