<?xml version='1.0' encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdsx.rcyh.mapper.LyjcMapper">

    <select id="getLyjcAll" resultType="hashmap">
        SELECT * FROM sgdwlyjcb
    </select>

    <insert id="addLyjc" parameterType="com.hdsx.rcyh.entity.Lyjc">
        INSERT INTO SGDWLYJCB(PMMTLYJCB_ID,PMMTLYJCB_HTBH,PMMTLYJCB_JCRQ,PMMTLYJCB_HTMC,PMMTLYJCB_SGDW,PMMTLYJCB_JCR,PMMTLYJCB_GLDW,PMMTLYJCB_HTJE,PMMTLYJCB_FJHJ,PMMTLYJCB_BZ)
        VALUES (#{id,jdbcType=VARCHAR},#{htbh,jdbcType=VARCHAR},#{jcrq,jdbcType=TIMESTAMP},#{htmc,jdbcType=VARCHAR},#{sgdw,jdbcType=VARCHAR},#{jcr,jdbcType=VARCHAR} ,#{gldw,jdbcType=VARCHAR}, #{htjr,jdbcType=NUMERIC},#{fjhj,jdbcType=NUMERIC},#{bz,jdbcType=VARCHAR})
    </insert>

    <insert id="addLyjcmxb" parameterType="com.hdsx.rcyh.entity.Lyjcmxb">
      INSERT INTO SGDWLYJCBMX(PMMTLYJCBMX_ID, PMMTLYJCBMX_MID, PMMTLYJCBMX_JCNR, PMMTLYJCBMX_FJ, PMMTLYJCBMX_MEMO)
      VALUES (#{id,jdbcType=VARCHAR},#{mid,jdbcType=VARCHAR},#{jcnr,jdbcType=VARCHAR},#{fj,jdbcType=NUMERIC},#{memo,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteLyjcmxbById" parameterType="String">
        DELETE FROM sgdwlyjcbmx WHERE pmmtlyjcbmx_mid = #{id}
    </delete>

    <delete id="deleteLyjcById" parameterType="String">
        DELETE FROM sgdwlyjcb WHERE pmmtlyjcb_id = #{id}
    </delete>

    <select id="getLyjcbmxById" resultType="hashmap">
        SELECT * FROM sgdwlyjcbmx WHERE pmmtlyjcbmx_mid = #{id}
    </select>

    <update id="updateLyjc" parameterType="com.hdsx.rcyh.entity.Lyjc">
        UPDATE SGDWLYJCB
        <set>
            <if test="htbh != null"> PMMTLYJCB_HTBH = #{htbh}, </if>
            <if test="jcrq != null"> PMMTLYJCB_JCRQ = #{jcrq}, </if>
            <if test="htmc != null"> PMMTLYJCB_HTMC = #{htmc}, </if>
            <if test="sgdw != null"> PMMTLYJCB_SGDW = #{sgdw}, </if>
            <if test="jcr != null"> PMMTLYJCB_JCR = #{jcr}, </if>
            <if test="gldw != null"> PMMTLYJCB_GLDW = #{gldw}, </if>
            <if test="htjr != null"> PMMTLYJCB_HTJE = #{htjr}, </if>
            <if test="fjhj != null"> PMMTLYJCB_FJHJ = #{fjhj}, </if>
            <if test="bz != null"> PMMTLYJCB_BZ = #{bz} </if>
        </set>
        WHERE PMMTLYJCB_ID = #{id}
    </update>

    <update id="updateLyjcmxb" parameterType="com.hdsx.rcyh.entity.Lyjcmxb">
        UPDATE SGDWLYJCBMX
        <set>
            <if test="id != null"> PMMTLYJCBMX_ID = #{id}, </if>
            <if test="mid != null"> PMMTLYJCBMX_MID = #{mid}, </if>
            <if test="jcnr != null"> PMMTLYJCBMX_JCNR = #{jcnr}, </if>
            <if test="fj != null"> PMMTLYJCBMX_FJ = #{fj}, </if>
            <if test="memo != null"> PMMTLYJCBMX_MEMO = #{memo}, </if>
        </set>
    </update>

    <select id="getJczbAll" resultType="hashmap">
        SELECT * FROM JCZBQKJCB;
    </select>

    <insert id="addJczb" parameterType="com.hdsx.rcyh.entity.Jczb">
        INSERT INTO JCZBQKJCB(PMMTJCZBQKJCB_ID,PMMTJCZBQKJCB_HTBH,PMMTJCZBQKJCB_JCRQ,PMMTJCZBQKJCB_HTMC,PMMTJCZBQKJCB_SGDW,PMMTJCZBQKJCB_JCR,PMMTJCZBQKJCB_GLDW,PMMTJCZBQKJCB_HTJE,PMMTJCZBQKJCB_WYFJ,PMMTJCZBQKJCB_BZ)
        VALUES (#{id,jdbcType=VARCHAR},#{htbh,jdbcType=VARCHAR},#{jcrq,jdbcType=TIMESTAMP},#{htmc,jdbcType=VARCHAR},#{sgdw,jdbcType=VARCHAR},#{jcr,jdbcType=VARCHAR} ,#{gldw,jdbcType=VARCHAR}, #{htjr,jdbcType=NUMERIC},#{wyfj,jdbcType=NUMERIC},#{bz,jdbcType=VARCHAR})
    </insert>

    <insert id="addJczbmxb" parameterType="com.hdsx.rcyh.entity.Jczbmxb">
      INSERT INTO JCZBQKJCBMX(PMMTJCZBQKJCBMX_ID, PMMTJCZBQKJCBMX_MID, PMMTJCZBQKJCBMX_JCNR, PMMTJCZBQKJCBMX_FJ, PMMTJCZBQKJCBMX_MEMO)
      VALUES (#{id,jdbcType=VARCHAR},#{mid,jdbcType=VARCHAR},#{jcnr,jdbcType=VARCHAR},#{fj,jdbcType=NUMERIC},#{memo,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteJczbmxbById" parameterType="String">
        DELETE FROM JCZBQKJCBMX WHERE PMMTJCZBQKJCBMX_MID = #{id}
    </delete>

    <delete id="deleteJczbById" parameterType="String">
        DELETE FROM JCZBQKJCB WHERE PMMTJCZBQKJCB_ID = #{id}
    </delete>

    <update id="updateJczb" parameterType="com.hdsx.rcyh.entity.Jczb">
        UPDATE JCZBQKJCB
        <set>
            <if test="htbh != null"> PMMTJCZBQKJCB_HTBH = #{htbh}, </if>
            <if test="jcrq != null"> PMMTJCZBQKJCB_JCRQ = #{jcrq}, </if>
            <if test="htmc != null"> PMMTJCZBQKJCB_HTMC = #{htmc}, </if>
            <if test="sgdw != null"> PMMTJCZBQKJCB_SGDW = #{sgdw}, </if>
            <if test="jcr != null"> PMMTJCZBQKJCB_JCR = #{jcr}, </if>
            <if test="gldw != null"> PMMTJCZBQKJCB_GLDW = #{gldw}, </if>
            <if test="htjr != null"> PMMTJCZBQKJCB_HTJE = #{htjr}, </if>
            <if test="wyfj != null"> PMMTJCZBQKJCB_WYFJ = #{wyfj}, </if>
            <if test="bz != null"> PMMTJCZBQKJCB_BZ = #{bz} </if>
        </set>
        WHERE PMMTJCZBQKJCB_ID = #{id}
    </update>

    <update id="updateJczbmxb" parameterType="com.hdsx.rcyh.entity.Jczbmxb">
        UPDATE JCZBQKJCBMX
        <set>
            <if test="id != null"> PMMTLYJCBMX_ID = #{id}, </if>
            <if test="mid != null"> PMMTLYJCBMX_MID = #{mid}, </if>
            <if test="jcnr != null"> PMMTLYJCBMX_JCNR = #{jcnr}, </if>
            <if test="fj != null"> PMMTLYJCBMX_FJ = #{fj}, </if>
            <if test="memo != null"> PMMTLYJCBMX_MEMO = #{memo}, </if>
        </set>
    </update>

    <select id="getJczbmxById" resultType="hashmap">
        SELECT * FROM JCZBQKJCBMX WHERE PMMTJCZBQKJCBMX_ID = #{id}
    </select>

</mapper>