<?xml version='1.0' encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdsx.rcyh.mapper.LyjcMapper">
    <!-- 定义数据库字段与实体对象的映射关系 -->
    <resultMap id="lyjcBean" type="com.hdsx.rcyh.entity.Lyjc">
        <id column="PMMTLYJCB_ID" property="id"/>
        <result column="PMMTLYJCB_DWMC" property="dwmc"/>
        <result column="PMMTLYJCB_DWBH" property="dwbh"/>
        <result column="PMMTLYJCB_DWID" property="dwid"/>
        <result column="PMMTLYJCB_BMMC" property="bmmc"/>
        <result column="PMMTLYJCB_BMBH" property="bmbh"/>
        <result column="PMMTLYJCB_BMID" property="bmid"/>
        <result column="PMMTLYJCB_TBR" property="tbr"/>
        <result column="PMMTLYJCB_TBRID" property="tbrid"/>
        <result column="PMMTLYJCB_TBRQ" property="tbrq"/>
        <result column="PMMTLYJCB_SPZT" property="spzt"/>
        <result column="PMMTLYJCB_WFID" property="wfid"/>
        <result column="PMMTLYJCB_HTBH" property="htbh"/>
        <result column="PMMTLYJCB_JCRQ" property="jcrq"/>
        <result column="PMMTLYJCB_SGDW" property="sgdw"/>
        <result column="PMMTLYJCB_FJHJ" property="fjhj"/>
        <result column="PMMTLYJCB_GLDW" property="gldw"/>
        <result column="PMMTLYJCB_JCR" property="jcr"/>
        <result column="PMMTLYJCB_HTJE" property="htje"/>
        <result column="PMMTLYJCB_BZ" property="bz"/>
        <result column="PMMTLYJCB_HTMC" property="htmc"/>
        <!-- 一对多的关系 -->
        <!-- property: 指的是集合属性的值, ofType：指的是集合中元素的类型 -->
        <collection property="lyjcmxb" ofType="com.hdsx.rcyh.entity.Lyjcmxb">
            <id column="PMMTLYJCBMX_ID" property="id"/>
            <result column="PMMTLYJCBMX_MID" property="mid"/>
            <result column="PMMTLYJCBMX_JCNR" property="jcnr"/>
            <result column="PMMTLYJCBMX_FJ" property="fj"/>
            <result column="PMMTLYJCBMX_MEMO" property="memo"/>
            <result column="PMMTLYJCBMX_BH" property="bh"/>
        </collection>
    </resultMap>

    <resultMap id="jczbBean" type="com.hdsx.rcyh.entity.Jczb">
        <id column="PMMTJCZBQKJCB_ID" property="id"/>
        <result column="PMMTJCZBQKJCB_DWMC" property="dwmc"/>
        <result column="PMMTJCZBQKJCB_DWBH" property="dwbh"/>
        <result column="PMMTJCZBQKJCB_DWID" property="dwid"/>
        <result column="PMMTJCZBQKJCB_BMMC" property="bmmc"/>
        <result column="PMMTJCZBQKJCB_BMBH" property="bmbh"/>
        <result column="PMMTJCZBQKJCB_BMID" property="bmid"/>
        <result column="PMMTJCZBQKJCB_TBR" property="tbr"/>
        <result column="PMMTJCZBQKJCB_TBRID" property="tbrid"/>
        <result column="PMMTJCZBQKJCB_TBRQ" property="tbrq"/>
        <result column="PMMTJCZBQKJCB_SPZT" property="spzt"/>
        <result column="PMMTJCZBQKJCB_WFID" property="wfid"/>
        <result column="PMMTJCZBQKJCB_HTBH" property="htbh"/>
        <result column="PMMTJCZBQKJCB_JCRQ" property="jcrq"/>
        <result column="PMMTJCZBQKJCB_SGDW" property="sgdw"/>
        <result column="PMMTJCZBQKJCB_XMMC" property="xmmc"/>
        <result column="PMMTJCZBQKJCB_GLDW" property="gldw"/>
        <result column="PMMTJCZBQKJCB_HTJE" property="htje"/>
        <result column="PMMTJCZBQKJCB_WYFJ" property="wyfj"/>
        <result column="PMMTJCZBQKJCB_HTMC" property="htmc"/>
        <result column="PMMTJCZBQKJCB_BZ" property="bz"/>
        <result column="PMMTJCZBQKJCB_JCR" property="jcr"/>
        <!-- 一对多的关系 -->
        <!-- property: 指的是集合属性的值, ofType：指的是集合中元素的类型 -->
        <collection property="jczbmxb" ofType="com.hdsx.rcyh.entity.Jczbmxb">
            <id column="PMMTJCZBQKJCBMX_ID" property="id"/>
            <result column="PMMTJCZBQKJCBMX_MID" property="mid"/>
            <result column="PMMTJCZBQKJCBMX_JCNR" property="jcnr"/>
            <result column="PMMTJCZBQKJCBMX_FJ" property="fj"/>
            <result column="PMMTJCZBQKJCBMX_MEMO" property="memo"/>
            <result column="PMMTJCZBQKJCBMX_BH" property="bh"/>
        </collection>
    </resultMap>

    <select id="getLyjcAll" parameterType="hashmap" resultMap="lyjcBean">
        SELECT
        PMMTLYJCB_ID, PMMTLYJCB_DWMC, PMMTLYJCB_DWBH, PMMTLYJCB_DWID, PMMTLYJCB_BMMC, PMMTLYJCB_BMBH, PMMTLYJCB_BMID, PMMTLYJCB_TBR, PMMTLYJCB_TBRID, to_char(PMMTLYJCB_TBRQ,'yyyy/mm/dd')PMMTLYJCB_TBRQ, PMMTLYJCB_SPZT, PMMTLYJCB_WFID, PMMTLYJCB_HTBH, to_char(PMMTLYJCB_JCRQ,'yyyy/mm/dd')PMMTLYJCB_JCRQ, PMMTLYJCB_SGDW, PMMTLYJCB_FJHJ, PMMTLYJCB_GLDW, PMMTLYJCB_JCR, PMMTLYJCB_HTJE, PMMTLYJCB_BZ, PMMTLYJCB_HTMC,
        PMMTLYJCBMX_ID, PMMTLYJCBMX_MID, PMMTLYJCBMX_JCNR, PMMTLYJCBMX_FJ, PMMTLYJCBMX_MEMO, PMMTLYJCBMX_BH
        FROM sgdwlyjcb jh
        LEFT JOIN SGDWLYJCBMX mx ON mx.PMMTLYJCBMX_MID = PMMTLYJCB_ID
        <where>
            <trim suffixOverrides=",">
                <if test="id != null and id != ''"> AND PMMTLYJCB_ID LIKE '%'||trim(#{id})||'%'</if>
                <if test="htmc != null and htmc != ''"> AND PMMTLYJCB_HTMC LIKE '%'||trim(#{htmc})||'%'</if>
                <if test="spzt != null and spzt != ''"> AND PMMTLYJCB_SPZT LIKE '%'||trim(#{spzt})||'%'</if>
                <if test="ksrq != null and ksrq != ''"> AND to_date(to_char(PMMTLYJCB_TBRQ,'yyyy/mm/dd'),'yyyy/mm/dd')>to_date(#{ksrq},'yyyy/mm/dd')</if>
                <if test="jsrq != null and jsrq != ''"> AND to_date(to_char(PMMTLYJCB_TBRQ,'yyyy/mm/dd'),'yyyy/mm/dd')&lt;to_date(#{jsrq},'yyyy/mm/dd')</if>
           </trim>
        </where>
    </select>

    <insert id="addLyjc" parameterType="com.hdsx.rcyh.entity.Lyjc">
        INSERT INTO SGDWLYJCB(PMMTLYJCB_ID, PMMTLYJCB_DWMC, PMMTLYJCB_DWBH, PMMTLYJCB_DWID, PMMTLYJCB_BMMC, PMMTLYJCB_BMBH, PMMTLYJCB_BMID, PMMTLYJCB_TBR, PMMTLYJCB_TBRID, PMMTLYJCB_TBRQ, PMMTLYJCB_SPZT, PMMTLYJCB_WFID,
         PMMTLYJCB_HTBH, PMMTLYJCB_JCRQ, PMMTLYJCB_SGDW, PMMTLYJCB_FJHJ,PMMTLYJCB_GLDW, PMMTLYJCB_JCR, PMMTLYJCB_HTJE, PMMTLYJCB_BZ, PMMTLYJCB_HTMC)
        VALUES (#{id,jdbcType=VARCHAR},#{dwmc,jdbcType=VARCHAR},#{dwbh,jdbcType=VARCHAR},#{dwid,jdbcType=VARCHAR},#{bmmc,jdbcType=VARCHAR},#{bmbh,jdbcType=VARCHAR},#{bmid,jdbcType=VARCHAR},#{tbr,jdbcType=VARCHAR},#{tbrid,jdbcType=VARCHAR},
         to_date(#{tbrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'),#{spzt,jdbcType=VARCHAR},#{wfid,jdbcType=VARCHAR},#{htbh,jdbcType=VARCHAR},to_date(#{jcrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'),
         #{sgdw,jdbcType=VARCHAR},#{fjhj,jdbcType=NUMERIC},#{gldw,jdbcType=VARCHAR},#{jcr,jdbcType=VARCHAR}, #{htje,jdbcType=NUMERIC}, #{bz,jdbcType=VARCHAR} ,#{htmc,jdbcType=VARCHAR})
    </insert>

    <insert id="addLyjcmxb" parameterType="java.util.List">
      INSERT INTO SGDWLYJCBMX(PMMTLYJCBMX_ID, PMMTLYJCBMX_MID, PMMTLYJCBMX_JCNR, PMMTLYJCBMX_FJ, PMMTLYJCBMX_MEMO,PMMTLYJCBMX_BH)
      <foreach collection="list" item="item" index="index" open="(" close=")" separator="union">
          SELECT sys_guid(),
                 #{item.mid,jdbcType=VARCHAR},
                 #{item.jcnr,jdbcType=VARCHAR},
                 #{item.fj,jdbcType=NUMERIC},
                 #{item.memo,jdbcType=VARCHAR},
                 #{item.bh,jdbcType=VARCHAR}
          FROM DUAL
      </foreach>
    </insert>

    <delete id="deleteLyjcmxbByMid">
        DELETE FROM sgdwlyjcbmx WHERE pmmtlyjcbmx_mid IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteLyjcById">
        DELETE FROM sgdwlyjcb WHERE pmmtlyjcb_id IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="getLyjcbmxByMid" resultType="com.hdsx.rcyh.entity.Lyjcmxb">
        SELECT PMMTLYJCBMX_ID id, PMMTLYJCBMX_MID mid, PMMTLYJCBMX_JCNR jcnr, PMMTLYJCBMX_FJ fj, PMMTLYJCBMX_MEMO memo, PMMTLYJCBMX_BH bh
        FROM sgdwlyjcbmx WHERE pmmtlyjcbmx_mid = #{id}
    </select>

    <update id="updateLyjc" parameterType="com.hdsx.rcyh.entity.Lyjc">
        UPDATE SGDWLYJCB
        <set>
            <if test="dwmc != null and dwmc != ''"> PMMTLYJCB_DWMC = #{dwmc}, </if>
            <if test="dwbh != null and dwbh != ''"> PMMTLYJCB_DWBH = #{dwbh}, </if>
            <if test="dwid != null and dwid != ''"> PMMTLYJCB_DWID = #{dwid}, </if>
            <if test="bmmc != null and bmmc != ''"> PMMTLYJCB_BMMC = #{bmmc}, </if>
            <if test="bmbh != null and bmbh != ''"> PMMTLYJCB_BMBH = #{bmbh}, </if>
            <if test="bmid != null and bmid != ''"> PMMTLYJCB_BMID = #{bmid}, </if>
            <if test="tbr != null and tbr != ''"> PMMTLYJCB_TBR = #{tbr}, </if>
            <if test="tbrid != null and tbrid != ''"> PMMTLYJCB_TBRID = #{tbrid}, </if>
            <if test="tbrq != null and tbrq != ''"> PMMTLYJCB_TBRQ = to_date(#{tbrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'), </if>
            <if test="spzt != null and spzt != ''"> PMMTLYJCB_SPZT = #{spzt}, </if>
            <if test="wfid != null and wfid != ''"> PMMTLYJCB_WFID = #{wfid}, </if>
            <if test="htbh != null and htbh != ''"> PMMTLYJCB_HTBH = #{htbh}, </if>
            <if test="jcrq != null and jcrq != ''"> PMMTLYJCB_JCRQ = to_date(#{jcrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'), </if>
            <if test="sgdw != null and sgdw != ''"> PMMTLYJCB_SGDW = #{sgdw}, </if>
            <if test="fjhj != null and fjhj != ''"> PMMTLYJCB_FJHJ = #{fjhj,jdbcType=NUMERIC}, </if>
            <if test="gldw != null and gldw != ''"> PMMTLYJCB_GLDW = #{gldw}, </if>
            <if test="jcr != null and jcr != ''"> PMMTLYJCB_JCR = #{jcr}, </if>
            <if test="htje != null and htje != ''"> PMMTLYJCB_HTJE = #{htje,jdbcType=NUMERIC}, </if>
            <if test="bz != null and bz != ''"> PMMTLYJCB_BZ = #{bz}, </if>
            <if test="htmc != null and htmc != ''"> PMMTLYJCB_HTMC = #{htmc}, </if>
        </set>
        WHERE PMMTLYJCB_ID = #{id}
    </update>

    <update id="updateLyjcmxb" parameterType="com.hdsx.rcyh.entity.Lyjcmxb">
        UPDATE SGDWLYJCBMX
        <set>
            <if test="jcnr != null and jcnr != ''"> PMMTLYJCBMX_JCNR = #{jcnr}, </if>
            <if test="fj != null and fj != ''"> PMMTLYJCBMX_FJ = #{fj,jdbcType=NUMERIC}, </if>
            <if test="memo != null and memo != ''"> PMMTLYJCBMX_MEMO = #{memo}, </if>
            <if test="bh != null and bh != ''"> PMMTLYJCBMX_BH = #{bh}, </if>
        </set>
        WHERE PMMTLYJCBMX_ID = #{id}
    </update>

    <select id="getJczbAll" parameterType="hashmap" resultMap="jczbBean">
        SELECT PMMTJCZBQKJCB_ID, PMMTJCZBQKJCB_DWMC, PMMTJCZBQKJCB_DWBH, PMMTJCZBQKJCB_DWID, PMMTJCZBQKJCB_BMMC, PMMTJCZBQKJCB_BMBH, PMMTJCZBQKJCB_BMID, PMMTJCZBQKJCB_TBR, PMMTJCZBQKJCB_TBRID, to_char(PMMTJCZBQKJCB_TBRQ,'yyyy/mm/dd')PMMTJCZBQKJCB_TBRQ, PMMTJCZBQKJCB_SPZT, PMMTJCZBQKJCB_WFID, PMMTJCZBQKJCB_HTBH, to_char(PMMTJCZBQKJCB_JCRQ,'yyyy/mm/dd')PMMTJCZBQKJCB_JCRQ, PMMTJCZBQKJCB_SGDW, PMMTJCZBQKJCB_XMMC, PMMTJCZBQKJCB_GLDW, PMMTJCZBQKJCB_HTJE, PMMTJCZBQKJCB_WYFJ, PMMTJCZBQKJCB_HTMC, PMMTJCZBQKJCB_BZ, PMMTJCZBQKJCB_JCR,
        PMMTJCZBQKJCBMX_ID, PMMTJCZBQKJCBMX_MID, PMMTJCZBQKJCBMX_JCNR, PMMTJCZBQKJCBMX_FJ, PMMTJCZBQKJCBMX_MEMO, PMMTJCZBQKJCBMX_BH
        FROM JCZBQKJCB jh
        LEFT JOIN JCZBQKJCBMX mx on mx.PMMTJCZBQKJCBMX_MID = jh.PMMTJCZBQKJCB_ID
        <where>
            <trim suffixOverrides=",">
                <if test="id != null and id != ''"> AND PMMTJCZBQKJCB_ID LIKE '%'||trim(#{id})||'%'</if>
                <if test="htmc != null and htmc != ''"> AND PMMTJCZBQKJCB_HTMC LIKE '%'||trim(#{htmc})||'%'</if>
                <if test="spzt != null and spzt != ''"> AND PMMTJCZBQKJCB_SPZT LIKE '%'||trim(#{spzt})||'%'</if>
                <if test="ksrq != null and ksrq != ''"> AND to_date(to_char(PMMTJCZBQKJCB_TBRQ,'yyyy/mm/dd'),'yyyy/mm/dd')>to_date(#{ksrq},'yyyy/mm/dd')</if>
                <if test="jsrq != null and jsrq != ''"> AND to_date(to_char(PMMTJCZBQKJCB_TBRQ,'yyyy/mm/dd'),'yyyy/mm/dd')&lt;to_date(#{jsrq},'yyyy/mm/dd')</if>
            </trim>
        </where>
    </select>

    <insert id="addJczb" parameterType="com.hdsx.rcyh.entity.Jczb">
        INSERT INTO JCZBQKJCB(PMMTJCZBQKJCB_ID, PMMTJCZBQKJCB_DWMC, PMMTJCZBQKJCB_DWBH, PMMTJCZBQKJCB_DWID, PMMTJCZBQKJCB_BMMC, PMMTJCZBQKJCB_BMBH, PMMTJCZBQKJCB_BMID, PMMTJCZBQKJCB_TBR, PMMTJCZBQKJCB_TBRID, PMMTJCZBQKJCB_TBRQ, PMMTJCZBQKJCB_SPZT, PMMTJCZBQKJCB_WFID, PMMTJCZBQKJCB_HTBH, PMMTJCZBQKJCB_JCRQ, PMMTJCZBQKJCB_SGDW, PMMTJCZBQKJCB_XMMC, PMMTJCZBQKJCB_GLDW, PMMTJCZBQKJCB_HTJE, PMMTJCZBQKJCB_WYFJ, PMMTJCZBQKJCB_HTMC, PMMTJCZBQKJCB_BZ, PMMTJCZBQKJCB_JCR)
        VALUES (#{id,jdbcType=VARCHAR}, #{dwmc,jdbcType=VARCHAR}, #{dwbh,jdbcType=VARCHAR}, #{dwid,jdbcType=VARCHAR}, #{bmmc,jdbcType=VARCHAR}, #{bmbh,jdbcType=VARCHAR}, #{bmid,jdbcType=VARCHAR}, #{tbr,jdbcType=VARCHAR}, #{tbrid,jdbcType=VARCHAR}, to_date(#{tbrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'), #{spzt,jdbcType=VARCHAR}, #{wfid,jdbcType=VARCHAR}, #{htbh,jdbcType=VARCHAR}, to_date(#{jcrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'), #{sgdw,jdbcType=VARCHAR}, #{xmmc,jdbcType=VARCHAR}, #{gldw,jdbcType=VARCHAR}, #{htje,jdbcType=VARCHAR}, #{wyfj,jdbcType=VARCHAR}, #{htmc,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, #{jcr,jdbcType=VARCHAR})
    </insert>

    <insert id="addJczbmxb" parameterType="java.util.List">
      INSERT INTO JCZBQKJCBMX(PMMTJCZBQKJCBMX_ID, PMMTJCZBQKJCBMX_MID, PMMTJCZBQKJCBMX_JCNR, PMMTJCZBQKJCBMX_FJ, PMMTJCZBQKJCBMX_MEMO, PMMTJCZBQKJCBMX_BH)
      <foreach collection="list" item="item" index="index" open="(" close=")" separator="union">
          SELECT sys_guid(),
                 #{item.mid,jdbcType=VARCHAR},
                 #{item.jcnr,jdbcType=VARCHAR},
                 #{item.fj,jdbcType=NUMERIC},
                 #{item.memo,jdbcType=VARCHAR},
                 #{item.bh,jdbcType=VARCHAR}
          FROM DUAL
      </foreach>
    </insert>

    <delete id="deleteJczbmxbByMid">
        DELETE FROM JCZBQKJCBMX WHERE PMMTJCZBQKJCBMX_MID IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteJczbByIds">
        DELETE FROM JCZBQKJCB WHERE PMMTJCZBQKJCB_ID IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="updateJczb" parameterType="com.hdsx.rcyh.entity.Jczb">
        UPDATE JCZBQKJCB
        <set>
            <if test="dwmc != null and dwmc != ''">PMMTJCZBQKJCB_DWMC= #{dwmc},</if>
            <if test="dwbh != null and dwbh != ''">PMMTJCZBQKJCB_DWBH= #{dwbh},</if>
            <if test="dwid != null and dwid != ''">PMMTJCZBQKJCB_DWID= #{dwid},</if>
            <if test="bmmc != null and bmmc != ''">PMMTJCZBQKJCB_BMMC= #{bmmc},</if>
            <if test="bmbh != null and bmbh != ''">PMMTJCZBQKJCB_BMBH= #{bmbh},</if>
            <if test="bmid != null and bmid != ''">PMMTJCZBQKJCB_BMID= #{bmid},</if>
            <if test="tbr != null and tbr != ''">PMMTJCZBQKJCB_TBR= #{tbr},</if>
            <if test="tbrid != null and tbrid != ''">PMMTJCZBQKJCB_TBRID= #{tbrid},</if>
            <if test="tbrq != null and tbrq != ''">PMMTJCZBQKJCB_TBRQ= to_date(#{tbrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'),</if>
            <if test="spzt != null and spzt != ''">PMMTJCZBQKJCB_SPZT= #{spzt},</if>
            <if test="wfid != null and wfid != ''">PMMTJCZBQKJCB_WFID= #{wfid},</if>
            <if test="htbh != null and htbh != ''">PMMTJCZBQKJCB_HTBH= #{htbh},</if>
            <if test="jcrq != null and jcrq != ''">PMMTJCZBQKJCB_JCRQ= to_date(#{jcrq,jdbcType=NUMERIC},'yyyy/mm/dd'),</if>
            <if test="sgdw != null and sgdw != ''">PMMTJCZBQKJCB_SGDW= #{sgdw},</if>
            <if test="xmmc != null and xmmc != ''">PMMTJCZBQKJCB_XMMC= #{xmmc},</if>
            <if test="gldw != null and gldw != ''">PMMTJCZBQKJCB_GLDW= #{gldw},</if>
            <if test="htje != null and htje != ''">PMMTJCZBQKJCB_HTJE= #{htje,jdbcType=NUMERIC},</if>
            <if test="bz != null and bz != ''">PMMTJCZBQKJCB_BZ= #{bz},</if>
            <if test="htmc != null and htmc != ''">PMMTJCZBQKJCB_HTMC= #{htmc},</if>
            <if test="wyfj != null and wyfj != ''">PMMTJCZBQKJCB_WYFJ= #{wyfj,jdbcType=NUMERIC},</if>
            <if test="jcr != null and jcr != ''">PMMTJCZBQKJCB_JCR= #{jcr},</if>
        </set>
        WHERE PMMTJCZBQKJCB_ID = #{id}
    </update>

    <update id="updateJczbmxb" parameterType="com.hdsx.rcyh.entity.Jczbmxb">
        UPDATE JCZBQKJCBMX
        <set>
            <if test="jcnr != null and jcnr != ''"> PMMTJCZBQKJCBMX_JCNR = #{jcnr}, </if>
            <if test="fj != null and fj != ''"> PMMTJCZBQKJCBMX_FJ = #{fj,jdbcType=NUMERIC}, </if>
            <if test="memo != null and memo != ''"> PMMTJCZBQKJCBMX_MEMO = #{memo}, </if>
            <if test="bh != null and bh != ''"> PMMTJCZBQKJCBMX_BH = #{bh}, </if>
        </set>
        WHERE PMMTJCZBQKJCBMX_ID = #{id}
    </update>

    <select id="getJczbmxById" resultType="com.hdsx.rcyh.entity.Jczbmxb">
        SELECT PMMTJCZBQKJCBMX_ID id, PMMTJCZBQKJCBMX_MID mid, PMMTJCZBQKJCBMX_JCNR jcnr, PMMTJCZBQKJCBMX_FJ fj, PMMTJCZBQKJCBMX_MEMO memo, PMMTJCZBQKJCBMX_BH bh
        FROM JCZBQKJCBMX WHERE PMMTJCZBQKJCBMX_ID = #{id}
    </select>

    <delete id="deleteLyjcmxbByids">
        DELETE FROM SGDWLYJCBMX WHERE PMMTLYJCBMX_ID IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteJczbmxByIds">
        DELETE FROM JCZBQKJCBMX WHERE PMMTJCZBQKJCBMX_ID IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>