<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.rcyh.mapper.QdxcMapper">
  <resultMap id="BaseResultMap" type="com.hdsx.rcyh.entity.Qdxc">
    <id column="XCRW_ID" jdbcType="VARCHAR" property="xcrwId" />
    <result column="XCRW_DWMC" jdbcType="VARCHAR" property="xcrwDwmc" />
    <result column="XCRW_DWBH" jdbcType="VARCHAR" property="xcrwDwbh" />
    <result column="XCRW_DWID" jdbcType="VARCHAR" property="xcrwDwid" />
    <result column="XCRW_BMMC" jdbcType="VARCHAR" property="xcrwBmmc" />
    <result column="XCRW_BMBH" jdbcType="VARCHAR" property="xcrwBmbh" />
    <result column="XCRW_BMID" jdbcType="VARCHAR" property="xcrwBmid" />
    <result column="XCRW_TBR" jdbcType="VARCHAR" property="xcrwTbr" />
    <result column="XCRW_TBRID" jdbcType="VARCHAR" property="xcrwTbrid" />
    <result column="XCRW_TBRQ" jdbcType="DATE" property="xcrwTbrq" />
    <result column="XCRW_FILE" jdbcType="VARCHAR" property="xcrwFile" />
    <result column="XCRW_WFID" jdbcType="VARCHAR" property="xcrwWfid" />
    <result column="XCRW_NOTE" jdbcType="VARCHAR" property="xcrwNote" />
    <result column="XCRW_DJBH" jdbcType="VARCHAR" property="xcrwDjbh" />
    <result column="XCRW_XCLX" jdbcType="VARCHAR" property="xcrwXclx" />
    <result column="XCRW_QQZH" jdbcType="VARCHAR" property="xcrwQqzh" />
    <result column="XCRW_XCFX" jdbcType="VARCHAR" property="xcrwXcfx" />
    <result column="XCRW_KSSJ" jdbcType="DATE" property="xcrwKssj" />
    <result column="XCRW_JSSJ" jdbcType="DATE" property="xcrwJssj" />
    <result column="XCRW_XCRY" jdbcType="VARCHAR" property="xcrwXcry" />
    <result column="XCRW_CPHM" jdbcType="VARCHAR" property="xcrwCphm" />
    <result column="XCRW_LX" jdbcType="VARCHAR" property="xcrwLx" />
    <result column="XCRW_ZT" jdbcType="VARCHAR" property="xcrwZt" />
  </resultMap>
  <delete id="delete" parameterType="java.lang.String">
    delete from QDXC
    where XCRW_ID = #{xcrwId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hdsx.rcyh.entity.Qdxc">
    insert into QDXC (XCRW_ID, XCRW_DWMC, XCRW_DWBH, 
      XCRW_DWID, XCRW_BMMC, XCRW_BMBH, 
      XCRW_BMID, XCRW_TBR, XCRW_TBRID, 
      XCRW_TBRQ, XCRW_FILE, XCRW_WFID, 
      XCRW_NOTE, XCRW_DJBH, XCRW_XCLX, 
      XCRW_QQZH, XCRW_XCFX, XCRW_KSSJ, 
      XCRW_JSSJ, XCRW_XCRY, XCRW_CPHM, 
      XCRW_LX, XCRW_ZT)
    values (#{xcrwId,jdbcType=VARCHAR}, #{xcrwDwmc,jdbcType=VARCHAR}, #{xcrwDwbh,jdbcType=VARCHAR}, 
      #{xcrwDwid,jdbcType=VARCHAR}, #{xcrwBmmc,jdbcType=VARCHAR}, #{xcrwBmbh,jdbcType=VARCHAR}, 
      #{xcrwBmid,jdbcType=VARCHAR}, #{xcrwTbr,jdbcType=VARCHAR}, #{xcrwTbrid,jdbcType=VARCHAR}, 
      #{xcrwTbrq,jdbcType=DATE}, #{xcrwFile,jdbcType=VARCHAR}, #{xcrwWfid,jdbcType=VARCHAR}, 
      #{xcrwNote,jdbcType=VARCHAR}, #{xcrwDjbh,jdbcType=VARCHAR}, #{xcrwXclx,jdbcType=VARCHAR}, 
      #{xcrwQqzh,jdbcType=VARCHAR}, #{xcrwXcfx,jdbcType=VARCHAR}, #{xcrwKssj,jdbcType=DATE}, 
      #{xcrwJssj,jdbcType=DATE}, #{xcrwXcry,jdbcType=VARCHAR}, #{xcrwCphm,jdbcType=VARCHAR}, 
      #{xcrwLx,jdbcType=VARCHAR}, #{xcrwZt,jdbcType=VARCHAR})
  </insert>
  <select id="QueryOne" parameterType="java.lang.String" resultMap="BaseResultMap">
    select XCRW_ID, XCRW_DWMC, XCRW_DWBH, XCRW_DWID, XCRW_BMMC, XCRW_BMBH, XCRW_BMID, 
    XCRW_TBR, XCRW_TBRID, XCRW_TBRQ, XCRW_FILE, XCRW_WFID, XCRW_NOTE, XCRW_DJBH, XCRW_XCLX, 
    XCRW_QQZH, XCRW_XCFX, XCRW_KSSJ, XCRW_JSSJ, XCRW_XCRY, XCRW_CPHM, XCRW_LX, XCRW_ZT
    from QDXC
    where XCRW_ID = #{xcrwId,jdbcType=VARCHAR}
  </select>
</mapper>