<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.rcyh.mapper.RcyhXxrwMapper">

    <!-- 日常养护 - 小修任务 - 总体SQL -->

    <!-- 定义数据库字段与实体对象的映射关系 -->

    <!-- 养护巡查/启动巡查 -->
    <resultMap id="yhxcBean" type="java.util.Map" >
        <id column="XCRW_ID" property="id"/>
        <result column="XCRW_DWMC" property="dwmc"/>
        <result column="XCRW_DWBH" property="dwbh"/>
        <result column="XCRW_DWID" property="dwid"/>
        <result column="XCRW_BMMC" property="bmmc"/>
        <result column="XCRW_BMBH" property="bmbh"/>
        <result column="XCRW_BMID" property="bmid"/>
        <result column="XCRW_TBR" property="tbr"/>
        <result column="XCRW_TBRID" property="tbrid"/>
        <result column="XCRW_TBRQ" property="tbrq"/>
        <result column="XCRW_FILE" property="file"/>
        <result column="XCRW_WFID" property="wfid"/>
        <result column="XCRW_NOTE" property="note"/>
        <result column="XCRW_DJBH" property="djbh"/>
        <result column="XCRW_XCLX" property="xclx"/>
        <result column="XCRW_QQZH" property="qqzh"/>
        <result column="XCRW_XCFX" property="xcfx"/>
        <result column="XCRW_KSSJ" property="kssj"/>
        <result column="XCRW_JSSJ" property="jssj"/>
        <result column="XCRW_XCRY" property="xcry"/>
        <result column="XCRW_CPHM" property="cphm"/>
        <result column="XCRW_LX" property="lx"/>
        <result column="XCRW_ZT" property="zt"/>
    </resultMap>

    <!-- 病害/事件/巡查上报 -->
    <resultMap id="bhList" type="java.util.Map">
        <id column="RWMX_ID" property="bhid"/>
        <result column="RWMX_MID" property="mid"/>
        <result column="RWMX_DWMC" property="dwmc"/>
        <result column="RWMX_DWBH" property="dwbh"/>
        <result column="RWMX_DWID" property="dwid"/>
        <result column="RWMX_BMMC" property="bmmc"/>
        <result column="RWMX_BMBH" property="bmbh"/>
        <result column="RWMX_BMID" property="bmid"/>
        <result column="RWMX_TBR" property="tbr"/>
        <result column="RWMX_TBRID" property="tbrid"/>
        <result column="RWMX_TBRQ" property="tbrq"/>
        <result column="RWMX_NOTE" property="note"/>
        <result column="RWMX_SJDH" property="sjdh"/>
        <result column="RWMX_GPS" property="gps"/>
        <result column="RWMX_SJLX" property="sjlx"/>
        <result column="RWMX_SJSM" property="sjsm"/>
        <result column="RWMX_JJD" property="jjd"/>
        <result column="RWMX_TP" property="tp"/>
        <result column="RWMX_SP" property="sp"/>
        <result column="RWMX_ZH" property="zh"/>
        <result column="RWMX_FXSJ" property="fxsj"/>
        <result column="RWMX_SHLX" property="shlx"/>
        <result column="RWMX_BHLX" property="bhlx"/>
        <result column="RWMX_BHSL" property="bhsl"/>
        <result column="RWMX_KHNR" property="khnr"/>
        <result column="RWMX_CD" property="cd"/>
        <result column="RWMX_CZFS" property="czfs"/>
        <result column="RWMX_XCFX" property="xcfx"/>
        <result column="RWMX_BHSM" property="bhsm"/>
        <result column="RWMX_GCLLX" property="gcllx"/>
        <result column="RWMX_DWGC" property="dwgc"/>
        <result column="YHRWD_DJBH" property="yhrwddjbh"/>
        <result column="SHLXNAME" property="shlxname"/>
        <result column="BHLXNAME" property="bhlxname"/>
        <result column="SJLXNAME" property="sjlxname"/>
        <result column="XCLX" property="xclx"/>
        <result column="XCFX" property="xcfx"/>
    </resultMap>

    <!-- 养护任务单 -->
    <resultMap id="yhrwdList" type="java.util.Map">
        <result column="YHRWD_DJBH" property="yhrwddjbh"/>
        <result column="RN" property="rn"/>
        <result column="LXNAME" property="lxname"/>
        <result column="YHRWD_LX" property="yhrwdlx"/>
        <result column="YHRWD_RQ" property="yhrwdrq"/>
        <result column="YHRWD_YD" property="yhrwdyd"/>
        <result column="YHRWD_YHDW" property="yhrwdyhdw"/>
        <result column="YHRWD_GYDW" property="yhrwdgydw"/>
        <result column="YHRWD_RWDSHZT" property="yhrwdrwdshzt"/>
        <result column="YHRWD_YSZT" property="yhrwdyszt"/>
        <result column="SHZT" property="SHZT"/>
        <result column="YSZT" property="YSZT"/>
    </resultMap>

    <!-- 清扫任务单 -->
    <resultMap id="qsrwdList" type="java.util.Map">
        <id column="QSRWD_ID" property="qsrwdid"/>
        <result column="QSRWD_DJBH" property="qsrwddjbh"/>
        <result column="QSRWD_XXLY" property="qsrwdxxly"/>
        <result column="QSRWD_SJLX" property="qsrwdsjlx"/>
        <result column="QSRWD_SJSJ" property="qsrwdsjsj"/>
        <result column="QSRWD_SJDD" property="qsrwdsjdd"/>
        <result column="QSRWD_SJLD" property="qsrwdsjld"/>
        <result column="QSRWD_FX" property="qsrwdfx"/>
        <result column="QSRWD_ZH" property="qsrwdzh"/>
        <result column="QSRWD_LXR" property="qsrwdlxr"/>
        <result column="QSRWD_LXDH" property="qsrwdlxdh"/>
        <result column="QSRWD_LXJBSY" property="qsrwdlxjbsy"/>
        <result column="QSRWD_SJSM" property="qsrwdsjsm"/>
        <result column="QSRWD_TBR" property="qsrwdtbr"/>
        <result column="QSRWD_TBSJ" property="qsrwdtbsj"/>
        <result column="QSRWD_TBDW" property="qsrwdtbdw"/>
        <result column="QSRWD_TBBM" property="qsrwdtbbm"/>
        <result column="QSRWD_BZ" property="qsrwdbz"/>
        <result column="QSRWD_SHZT" property="qsrwdshzt"/>
        <result column="QSRWD_QSZT" property="qsrwdqszt"/>
        <result column="RWMX_ID" property="bhid"/>
    </resultMap>

    <!-- 合同信息（工程项目） -->
    <resultMap id="htxxList" type="java.util.Map">
        <id column="HTXX_HTBH" property="htxxhtbh"/>
        <result column="HTXX_HTMC" property="htxxhtmc"/>
        <result column="YHHTXX_LXMC" property="yhhtxxlxmc"/>
        <result column="HTXX_XMSGLX" property="htxxxmsglx"/>
        <result column="HTXX_XMGLDW" property="htxxxmgldw"/>
        <result column="YHHTXX_SPRQ" property="yhhtxxsprq"/>
    </resultMap>

    <!-- 验收单 -->
    <resultMap id="yhysdList" type="com.hdsx.rcyh.entity.Yhrwysd">
        <id column="YSD_ID" property="ysdid"/>
        <result column="RN" property="rn"/>
        <result column="YSD_HTBH" property="ysdhtbh"/>
        <result column="YSD_HTMC" property="ysdhtmc"/>
        <result column="YSD_YD" property="ysdyd"/>
        <result column="YSD_TBRQ" property="ysdtbrq"/>
        <result column="YSD_YSZT" property="ysdyszt"/>
        <result column="YSD_LX" property="ysdlx"/>
        <result column="YSD_YHDW" property="ysdyhdw"/>
        <result column="YSD_GLDW" property="ysdgldw"/>
        <result column="YSD_TBDW" property="ysdtbdw"/>
        <result column="YSD_YSYJ" property="ysdysyj"/>
        <result column="ysdysztname" property="ysdysztname"/>
    </resultMap>

    <!-- 维修施工照片记录 -->
    <resultMap id="wxsgzpjlList" type="java.util.Map">
        <id column="RWMX_ID" property="bhid"/>
        <result column="RN" property="rn"/>
        <result column="RWMX_MID" property="mid"/>
        <result column="RWMX_DWMC" property="dwmc"/>
        <result column="RWMX_DWBH" property="dwbh"/>
        <result column="RWMX_DWID" property="dwid"/>
        <result column="RWMX_BMMC" property="bmmc"/>
        <result column="RWMX_BMBH" property="bmbh"/>
        <result column="RWMX_BMID" property="bmid"/>
        <result column="RWMX_TBR" property="tbr"/>
        <result column="RWMX_TBRID" property="tbrid"/>
        <result column="RWMX_TBRQ" property="tbrq"/>
        <result column="RWMX_NOTE" property="note"/>
        <result column="RWMX_SJDH" property="sjdh"/>
        <result column="RWMX_GPS" property="gps"/>
        <result column="RWMX_SJLX" property="sjlx"/>
        <result column="RWMX_SJSM" property="sjsm"/>
        <result column="RWMX_JJD" property="jjd"/>
        <result column="RWMX_TP" property="tp"/>
        <result column="RWMX_SP" property="sp"/>
        <result column="RWMX_ZH" property="zh"/>
        <result column="RWMX_FXSJ" property="fxsj"/>
        <result column="RWMX_SHLX" property="shlx"/>
        <result column="RWMX_BHLX" property="bhlx"/>
        <result column="RWMX_BHSL" property="bhsl"/>
        <result column="RWMX_KHNR" property="khnr"/>
        <result column="RWMX_CD" property="cd"/>
        <result column="RWMX_CZFS" property="czfs"/>
        <result column="RWMX_XCFX" property="xcfx"/>
        <result column="RWMX_BHSM" property="bhsm"/>
        <result column="RWMX_GCLLX" property="gcllx"/>
        <result column="RWMX_DWGC" property="dwgc"/>
        <result column="YHRWD_DJBH" property="yhrwddjbh"/>
        <result column="SHLXNAME" property="shlxname"/>
        <result column="BHLXNAME" property="bhlxname"/>
        <result column="SJLXNAME" property="sjlxname"/>
        <result column="XCLX" property="xclx"/>
        <result column="XCFX" property="xcfx"/>
        <result column="HYQD_ZMH" property="hyqdzmh"/>
        <result column="HYQD_ZMMC" property="hyqdzmmc"/>
        <result column="HYQD_DW" property="hyqddw"/>
    </resultMap>

    <!-- 根据“月份”和“合同编号”构建用于“养护施工计划完成明细表”的数据 -->
    <resultMap id="createYhjdwcmxMap" type="java.util.Map">
        <result column="ZMH" property="zmh"/>
        <result column="XMNR" property="xmnr"/>
        <result column="QDZH" property="qdzh"/>
        <result column="ZDZH" property="zdzh"/>
        <result column="YJGCL" property="yjgcl"/>
        <result column="JHKSRQ" property="jhksrq"/>
        <result column="JHJSRQ" property="jhjsrq"/>
        <result column="WCGCL" property="wcgcl"/>
    </resultMap>

    <!-- 根据养护巡查ID查询病害List -->
    <select id="getBhListByYhxcID" parameterType="String" resultMap="bhList">
        SELECT * FROM RCYH_XCSB WHERE RWMX_MID = #{id}
    </select>

    <!--获取养护巡查的数据列表（对用数据库表的“启动巡查”）-->
    <select id="getYhxcList" parameterType="java.util.Map" resultMap="yhxcBean">
        SELECT * FROM (
            SELECT ROW_NUMBER()OVER(ORDER BY A.XCRW_TBRQ DESC) AS RN,A.* FROM RCYH_QDXC A
            <!-- LEFT JOIN RCYH_XCSB B ON B.RWMX_MID = A.XCRW_ID -->
            WHERE 1 = 1
            <if test="dwmc != null and dwmc !=''">
                <!-- 单位名称 -->
                AND A.XCRW_DWMC LIKE #{dwmc}||'%'
            </if>
            <if test="dwid != null and dwid !=''">
                <!-- 单位ID -->
                AND A.XCRW_DWID = #{dwid}
            </if>
            <if test="bmmc != null and bmmc !=''">
                <!-- 部门名称 -->
                AND A.XCRW_BMMC LIKE #{bmmc}||'%'
            </if>
            <if test="bmid != null and bmid !=''">
                <!-- 部门ID -->
                AND A.XCRW_BMID = #{bmid}
            </if>
            <if test="tbr != null and tbr !=''">
                <!-- 填报人 -->
                AND A.XCRW_TBR LIKE #{tbr}||'%'
            </if>
            <if test="xclx != null and xclx !=''">
                <!-- 巡查路线ID（路线ID） -->
                AND A.XCRW_XCLX = #{xclx}
            </if>
            <if test="kssj != null and kssj !=''">
                <!-- 开始时间 -->
                AND TO_NUMBER(TO_CHAR(XCRW_KSSJ,'yyyymmdd'))  > TO_NUMBER(#{kssj})
            </if>
            <if test="jssj != null and jssj !=''">
                <!-- 结束时间 -->
                <![CDATA[AND TO_NUMBER(TO_CHAR(XCRW_JSSJ,'yyyymmdd'))  < TO_NUMBER(#{jssj})]]>
            </if>
        ) TEMP
        <where>
            <if test="pageNum != null and pageNum != ''">
                <![CDATA[RN <= (${pageNum} * ${pageSize})]]>
                AND
                <![CDATA[RN>((${pageNum} - 1) * ${pageSize})]]>
            </if>
        </where>
    </select>

    <!-- 统计养护巡查（对用数据库表的“启动巡查”）数据条数 -->
    <select id="countYhxcNum" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*) FROM RCYH_QDXC A
        WHERE 1 = 1
        <if test="dwmc != null and dwmc !=''">
            <!-- 单位名称 -->
            AND XCRW_DWMC LIKE #{dwmc}||'%'
        </if>
        <if test="dwid != null and dwid !=''">
            <!-- 单位ID -->
            AND A.XCRW_DWID = #{dwid}
        </if>
        <if test="bmmc != null and bmmc !=''">
            <!-- 部门名称 -->
            AND A.XCRW_BMMC LIKE #{bmmc}||'%'
        </if>
        <if test="bmid != null and bmid !=''">
            <!-- 部门ID -->
            AND A.XCRW_BMID = #{bmid}
        </if>
        <if test="tbr != null and tbr !=''">
            <!-- 填报人 -->
            AND A.XCRW_TBR LIKE #{tbr}||'%'
        </if>
        <if test="xclx != null and xclx !=''">
            <!-- 巡查路线ID（路线ID） -->
            AND A.XCRW_XCLX = #{xclx}
        </if>
        <if test="kssj != null and kssj !=''">
            <!-- 开始时间 -->
            AND TO_NUMBER(TO_CHAR(XCRW_KSSJ,'yyyymmdd'))  > TO_NUMBER(#{kssj})
        </if>
        <if test="jssj != null and jssj !=''">
            <!-- 结束时间 -->
            <![CDATA[AND TO_NUMBER(TO_CHAR(XCRW_JSSJ,'yyyymmdd'))  < TO_NUMBER(#{jssj})]]>
        </if>
    </select>

    <!-- 获取病害（别名：事件；对用数据库表的“巡查上报”）的数据列表 -->
    <select id="getBhList" parameterType="java.util.Map" resultMap="bhList">
        SELECT * FROM (
            SELECT ROW_NUMBER()OVER(ORDER BY RWMX_TBRQ DESC) AS RN,SHMJ.MEIJUMC AS SHLXNAME,BHMJ.MEIJUMC AS BHLXNAME,SJMJ.MEIJUMC AS SJLXNAME,A.*
            FROM RCYH_XCSB A
                LEFT JOIN HTGL_ENUMERATE SHMJ ON A.RWMX_SHLX = SHMJ.MEIJUBM
                LEFT JOIN HTGL_ENUMERATE BHMJ ON A.RWMX_BHLX = BHMJ.MEIJUBM
                LEFT JOIN HTGL_ENUMERATE SJMJ ON A.RWMX_SJLX = SJMJ.MEIJUBM
            WHERE 1=1
            <if test="dwmc != null and dwmc !=''">
                <!-- 单位名称 -->
                AND A.RWMX_DWMC LIKE #{dwmc}||'%'
            </if>
            <if test="dwid != null and dwid !=''">
                <!-- 单位ID -->
                AND A.RWMX_DWID = #{dwid}
            </if>
            <if test="bmmc != null and bmmc !=''">
                <!-- 部门名称 -->
                AND A.RWMX_BMMC LIKE #{bmmc}||'%'
            </if>
            <if test="bmid != null and bmid !=''">
                <!-- 部门ID -->
                AND A.RWMX_BMID = #{bmid}
            </if>
            <if test="tbr != null and tbr !=''">
                <!-- 填报人 -->
                AND A.RWMX_TBR LIKE #{tbr}||'%'
            </if>
            <if test="stime != null and stime !=''">
                <!-- 填报日期 -->
                <![CDATA[AND TO_NUMBER(TO_CHAR(XCRW_JSSJ,'yyyymmdd'))  > TO_NUMBER(#{stime})]]>
            </if>
            <if test="etime != null and etime !=''">
                <!-- 填报日期 -->
                <![CDATA[AND TO_NUMBER(TO_CHAR(XCRW_JSSJ,'yyyymmdd'))  < TO_NUMBER(#{etime})]]>
            </if>
            <if test="shlx != null and shlx !=''">
                <!-- 损坏类型 -->
                AND A.RWMX_SHLX = #{shlx}
            </if>
            <if test="bhlx != null and bhlx !=''">
                <!-- 病害类型 -->
                AND A.RWMX_BHLX = #{bhlx}
            </if>
        ) TEMP
        <where>
            <if test="pageNum != null and pageNum != ''">
                <![CDATA[RN <= (${pageNum} * ${pageSize})]]>
                AND
                <![CDATA[RN>((${pageNum} - 1) * ${pageSize})]]>
            </if>
        </where>
    </select>

    <!-- 统计病害（别名：事件；对用数据库表的“巡查上报”）的数据条数 -->
    <select id="countBhNum" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*) FROM RCYH_XCSB A WHERE 1=1
        <if test="dwmc != null and dwmc !=''">
            <!-- 单位名称 -->
            AND A.RWMX_DWMC LIKE #{dwmc}||'%'
        </if>
        <if test="dwid != null and dwid !=''">
            <!-- 单位ID -->
            AND A.RWMX_DWID = #{dwid}
        </if>
        <if test="bmmc != null and bmmc !=''">
            <!-- 部门名称 -->
            AND A.RWMX_BMMC LIKE #{bmmc}||'%'
        </if>
        <if test="bmid != null and bmid !=''">
            <!-- 部门ID -->
            AND A.RWMX_BMID = #{bmid}
        </if>
        <if test="tbr != null and tbr !=''">
            <!-- 填报人 -->
            AND A.RWMX_TBR LIKE #{tbr}||'%'
        </if>
        <if test="stime != null and stime !=''">
            <!-- 填报日期 -->
            <![CDATA[AND TO_NUMBER(TO_CHAR(XCRW_JSSJ,'yyyymmdd'))  > TO_NUMBER(#{stime})]]>
        </if>
        <if test="etime != null and etime !=''">
            <!-- 填报日期 -->
            <![CDATA[AND TO_NUMBER(TO_CHAR(XCRW_JSSJ,'yyyymmdd'))  < TO_NUMBER(#{etime})]]>
        </if>
        <if test="shlx != null and shlx !=''">
            <!-- 损坏类型 -->
            AND A.RWMX_SHLX = #{shlx}
        </if>
        <if test="bhlx != null and bhlx !=''">
            <!-- 填报人 -->
            AND A.RWMX_BHLX = #{bhlx}
        </if>
    </select>

    <!-- 根据单位（现在是单位名称）查询待下任务单的病害（事件/巡查上报） -->
    <select id="getBhListByDW" parameterType="String" resultMap="bhList">
        SELECT RWMX_ID,RWMX_DWMC,'巡查方向',RWMX_CD,'单位工程',BHMJ.MEIJUMC AS BHLXNAME,RWMX_BHSL,RWMX_SJSM,RWMX_ZH,RWMX_NOTE
            FROM RCYH_XCSB A LEFT JOIN HTGL_ENUMERATE BHMJ ON A.RWMX_BHLX = BHMJ.MEIJUBM
            <![CDATA[WHERE LENGTHB(YHRWD_DJBH||'1') <= 1]]> AND RWMX_DWMC = #{dw}
    </select>

    <!-- 编辑病害信息 - 主要是在添加“小修任务 - 养护任务单”时，对病害增加任务单ID（YHRWD_DJBH）-->
    <update id="updateBhData" parameterType="com.hdsx.rcyh.entity.YhrwdInsert">
        UPDATE RCYH_XCSB SET YHRWD_DJBH = #{yhrwddjbh} WHERE RWMX_ID IN (${rwmxIdArr})
    </update>

    <!-- 添加“小修任务 - 养护任务单”数据 -->
    <insert id="insertXxrwYhrwd" parameterType="com.hdsx.rcyh.entity.YhrwdInsert">
        INSERT INTO RCYH_XXRW_YHRWD (YHRWD_DJBH,YHRWD_LX,YHRWD_RQ,YHRWD_YD,YHRWD_YHDW,YHRWD_GYDW,YHRWD_RWDSHZT,YHRWD_YSZT)
        VALUES (#{yhrwddjbh}, #{yhrwdlx}, TO_DATE(#{yhrwdrq}, 'yyyy-MM-dd'), TO_DATE(#{yhrwdyd}, 'yyyy-MM'), #{yhrwdyhdw}, #{yhrwdgydw}, '1401', '1501')
    </insert>

    <!-- 获取小修任务 - 养护任务单的数据列表 -->
    <select id="getXxrwYhrwdList" parameterType="java.util.Map" resultMap="yhrwdList">
        SELECT * FROM (
            SELECT ROW_NUMBER()OVER(ORDER BY YHRWD_RQ DESC) AS RN,A.YHRWD_DJBH,
                LX.LXNAME,A.YHRWD_LX,A.YHRWD_RQ,A.YHRWD_YD,
                A.YHRWD_YHDW,A.YHRWD_GYDW,A.YHRWD_RWDSHZT,
                A.YHRWD_YSZT,SHMJ.MEIJUMC AS SHZT,YSMJ.MEIJUMC AS YSZT
            FROM RCYH_XXRW_YHRWD A LEFT JOIN HTGL_LXB LX ON A.YHRWD_LX = LX.ID
              LEFT JOIN HTGL_ENUMERATE SHMJ ON A.YHRWD_RWDSHZT = SHMJ.MEIJUBM
              LEFT JOIN HTGL_ENUMERATE YSMJ ON A.YHRWD_YSZT = YSMJ.MEIJUBM
            WHERE 1=1
            <if test="stime != null and stime !=''">
                <!-- 填报日期 -->
                <![CDATA[AND TO_NUMBER(TO_CHAR(YHRWD_RQ,'yyyymmdd'))  > TO_NUMBER(#{stime})]]>
            </if>
            <if test="etime != null and etime !=''">
                <!-- 填报日期 -->
                <![CDATA[AND TO_NUMBER(TO_CHAR(YHRWD_RQ,'yyyymmdd'))  < TO_NUMBER(#{etime})]]>
            </if>
            <if test="yhrwdrwdshzt != null and yhrwdrwdshzt !=''">
                <!-- 养护任务单审核状态 -->
                AND A.YHRWD_RWDSHZT = #{yhrwdrwdshzt}
            </if>
            <if test="yhrwdyszt != null and yhrwdyszt !=''">
                <!-- 验收状态 -->
                AND A.YHRWD_YSZT = #{yhrwdyszt}
            </if>
            <if test="yhrwdyd != null and yhrwdyd !=''">
                <!-- 月度 -->
                <![CDATA[AND TO_NUMBER(TO_CHAR(YHRWD_YD,'yyyymm'))  < TO_NUMBER(#{yhrwdyd})]]>
            </if>
        ) TEMP
        <where>
            <if test="pageNum != null and pageNum != ''">
                <![CDATA[RN <= (${pageNum} * ${pageSize})]]>
                AND
                <![CDATA[RN>((${pageNum} - 1) * ${pageSize})]]>
            </if>
        </where>
    </select>

    <!-- 统计小修任务 - 养护任务单的数据条数 -->
    <select id="countXxrwYhrwdNum" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*) FROM RCYH_XXRW_YHRWD A WHERE 1=1
        <if test="stime != null and stime !=''">
            <!-- 填报日期 -->
            <![CDATA[AND TO_NUMBER(TO_CHAR(YHRWD_RQ,'yyyymmdd'))  > TO_NUMBER(#{stime})]]>
        </if>
        <if test="etime != null and etime !=''">
            <!-- 填报日期 -->
            <![CDATA[AND TO_NUMBER(TO_CHAR(YHRWD_RQ,'yyyymmdd'))  < TO_NUMBER(#{etime})]]>
        </if>
        <if test="yhrwdrwdshzt != null and yhrwdrwdshzt !=''">
            <!-- 养护任务单审核状态 -->
            AND A.YHRWD_RWDSHZT = #{yhrwdrwdshzt}
        </if>
        <if test="yhrwdyszt != null and yhrwdyszt !=''">
            <!-- 验收状态 -->
            AND A.YHRWD_YSZT = #{yhrwdyszt}
        </if>
        <if test="yhrwdyd != null and yhrwdyd !=''">
            <!-- 月度 -->
            <![CDATA[AND TO_NUMBER(TO_CHAR(YHRWD_YD,'yyyymm'))  < TO_NUMBER(#{yhrwdyd})]]>
        </if>
    </select>

    <!-- 获取病害（别名：事件；对用数据库表的“巡查上报”）的数据列表 -->
    <select id="getBhListByYhrwdDjbh" parameterType="String" resultMap="bhList">
        SELECT ROW_NUMBER()OVER(ORDER BY RWMX_TBRQ DESC) AS RN,SHMJ.MEIJUMC AS SHLXNAME,BHMJ.MEIJUMC AS BHLXNAME,SJMJ.MEIJUMC AS SJLXNAME,A.*
          FROM RCYH_XCSB A
          LEFT JOIN HTGL_ENUMERATE SHMJ ON A.RWMX_SHLX = SHMJ.MEIJUBM
          LEFT JOIN HTGL_ENUMERATE BHMJ ON A.RWMX_BHLX = BHMJ.MEIJUBM
          LEFT JOIN HTGL_ENUMERATE SJMJ ON A.RWMX_SJLX = SJMJ.MEIJUBM
        WHERE YHRWD_DJBH = #{yhrwddjbh}
    </select>

    <!-- 修改养护任务单 - 主要是修改养护任务单的审核/验收状态 -->
    <update id="updateXxrwYhrwd" parameterType="java.util.Map">
        UPDATE RCYH_XXRW_YHRWD SET ${rowname} = #{value} WHERE YHRWD_DJBH = #{yhrwddjbh}
    </update>

    <!-- 添加“小修任务 - 清扫任务单”数据 -->
    <insert id="insertXxrwQsrwd" parameterType="com.hdsx.rcyh.entity.Qsrwd">
        INSERT INTO RCYH_XXRW_QSRWD (
            <if test="qsrwdid != null and qsrwdid !=''">QSRWD_ID,</if>
            <if test="qsrwddjbh != null and qsrwddjbh !=''">QSRWD_DJBH,</if>
            <if test="qsrwdxxly != null and qsrwdxxly !=''">QSRWD_XXLY,</if>
            <if test="qsrwdsjlx != null and qsrwdsjlx !=''">QSRWD_SJLX,</if>
            <if test="qsrwdsjsj != null and qsrwdsjsj !=''">QSRWD_SJSJ,</if>
            <if test="qsrwdsjdd != null and qsrwdsjdd !=''">QSRWD_SJDD,</if>
            <if test="qsrwdsjld != null and qsrwdsjld !=''">QSRWD_SJLD,</if>
            <if test="qsrwdfx != null and qsrwdfx !=''">QSRWD_FX,</if>
            <if test="qsrwdzh != null and qsrwdzh !=''">QSRWD_ZH,</if>
            <if test="qsrwdlxr != null and qsrwdlxr !=''">QSRWD_LXR,</if>
            <if test="qsrwdlxdh != null and qsrwdlxdh !=''">QSRWD_LXDH,</if>
            <if test="qsrwdlxjbsy != null and qsrwdlxjbsy !=''">QSRWD_LXJBSY,</if>
            <if test="qsrwdsjsm != null and qsrwdsjsm !=''">QSRWD_SJSM,</if>
            <if test="qsrwdtbr != null and qsrwdtbr !=''">QSRWD_TBR,</if>
            <if test="qsrwdtbsj != null and qsrwdtbsj !=''">QSRWD_TBSJ,</if>
            <if test="qsrwdtbdw != null and qsrwdtbdw !=''">QSRWD_TBDW,</if>
            <if test="qsrwdtbbm != null and qsrwdtbbm !=''">QSRWD_TBBM,</if>
            <if test="qsrwdbz != null and qsrwdbz !=''">QSRWD_BZ,</if>
            QSRWD_SHZT,QSRWD_QSZT
        ) VALUES (
            <if test="qsrwdid != null and qsrwdid !=''">#{qsrwdid},</if>
            <if test="qsrwddjbh != null and qsrwddjbh !=''">#{qsrwddjbh},</if>
            <if test="qsrwdxxly != null and qsrwdxxly !=''">#{qsrwdxxly},</if>
            <if test="qsrwdsjlx != null and qsrwdsjlx !=''">#{qsrwdsjlx},</if>
            <if test="qsrwdsjsj != null and qsrwdsjsj !=''">TO_DATE(#{qsrwdsjsj}, 'yyyy-MM-dd'),</if>
            <if test="qsrwdsjdd != null and qsrwdsjdd !=''">#{qsrwdsjdd},</if>
            <if test="qsrwdsjld != null and qsrwdsjld !=''">#{qsrwdsjld},</if>
            <if test="qsrwdfx != null and qsrwdfx !=''">#{qsrwdfx},</if>
            <if test="qsrwdzh != null and qsrwdzh !=''">#{qsrwdzh},</if>
            <if test="qsrwdlxr != null and qsrwdlxr !=''">#{qsrwdlxr},</if>
            <if test="qsrwdlxdh != null and qsrwdlxdh !=''">#{qsrwdlxdh},</if>
            <if test="qsrwdlxjbsy != null and qsrwdlxjbsy !=''">#{qsrwdlxjbsy},</if>
            <if test="qsrwdsjsm != null and qsrwdsjsm !=''">#{qsrwdsjsm},</if>
            <if test="qsrwdtbr != null and qsrwdtbr !=''">#{qsrwdtbr},</if>
            <if test="qsrwdtbsj != null and qsrwdtbsj !=''">TO_DATE(#{qsrwdtbsj}, 'yyyy-MM-dd'),</if>
            <if test="qsrwdtbdw != null and qsrwdtbdw !=''">#{qsrwdtbdw},</if>
            <if test="qsrwdtbbm != null and qsrwdtbbm !=''">#{qsrwdtbbm},</if>
            <if test="qsrwdbz != null and qsrwdbz !=''">#{qsrwdbz},</if>
            '1401', '1601'
        )
    </insert>

    <!-- 根据病害ID查询病害的详细信息：用于添加清扫任务单 -->
    <select id="getBhByRwmxdwid" parameterType="String" resultMap="bhList">
        SELECT A.RWMX_SJLX,A.RWMX_FXSJ,A.RWMX_GPS,B.XCRW_XCLX AS XCLX,B.XCRW_XCFX AS XCFX,A.RWMX_ZH,A.RWMX_SJSM
        FROM RCYH_XCSB A LEFT JOIN RCYH_QDXC B ON A.RWMX_ID = B.XCRW_ID WHERE A.RWMX_ID = #{rwmxid}
    </select>

    <!-- 修改“小修任务 - 清扫任务单”的审核/清扫状态 -->
    <update id="updateXxrwQsrwdShQszt" parameterType="java.util.Map">
        UPDATE RCYH_XXRW_QSRWD SET ${rowname} = #{value} WHERE QSRWD_ID = #{qsrwdid}
    </update>

    <!-- 获取清扫任务单数据列表 -->
    <select id="getQsrwdList" parameterType="java.util.Map" resultMap="qsrwdList">
        SELECT * FROM (
            SELECT ROW_NUMBER()OVER(ORDER BY QSRWD_TBSJ DESC) AS RN,SJLXMJ.MEIJUMC AS SJLXNAME,
              LX.LXNAME,SHMJ.MEIJUMC AS SHZTNAME,QSMJ.MEIJUMC AS SQZTNAME,BH.RWMX_ID,A.*
            FROM RCYH_XXRW_QSRWD A
                LEFT JOIN HTGL_ENUMERATE SJLXMJ ON A.QSRWD_SJLX = SJLXMJ.MEIJUBM
                LEFT JOIN HTGL_ENUMERATE SHMJ ON A.QSRWD_SHZT = SHMJ.MEIJUBM
                LEFT JOIN HTGL_ENUMERATE QSMJ ON A.QSRWD_QSZT = QSMJ.MEIJUBM
                LEFT JOIN HTGL_LXB LX ON A.QSRWD_SJLD = LX.ID
                LEFT JOIN RCYH_XCSB BH ON BH.YHRWD_DJBH = A.QSRWD_ID
            WHERE 1=1
            <if test="stime != null and stime !=''">
                <!-- 填报日期 -->
                <![CDATA[AND TO_NUMBER(TO_CHAR(QSRWD_TBSJ,'yyyymmdd'))  > TO_NUMBER(#{stime})]]>
            </if>
            <if test="etime != null and etime !=''">
                <!-- 填报日期 -->
                <![CDATA[AND TO_NUMBER(TO_CHAR(QSRWD_TBSJ,'yyyymmdd'))  < TO_NUMBER(#{etime})]]>
            </if>
            <if test="qsrwdsjld != null and qsrwdsjld !=''">
                <!-- 事件路段 -->
                AND A.QSRWD_SJLD = #{qsrwdsjld}
            </if>
            <if test="qsrwdsjlx != null and qsrwdsjlx !=''">
                <!-- 事件类型 -->
                AND A.QSRWD_SJLX = #{qsrwdsjlx}
            </if>
        ) TEMP
        <where>
            <if test="pageNum != null and pageNum != ''">
                <![CDATA[RN <= (${pageNum} * ${pageSize})]]>
                AND
                <![CDATA[RN>((${pageNum} - 1) * ${pageSize})]]>
            </if>
        </where>
    </select>

    <!-- 统计清扫任务单数据条数 -->
    <select id="countQsrwdList" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*) FROM RCYH_XXRW_QSRWD A
        WHERE 1=1
        <if test="stime != null and stime !=''">
            <!-- 填报日期 -->
            <![CDATA[AND TO_NUMBER(TO_CHAR(QSRWD_TBSJ,'yyyymmdd'))  > TO_NUMBER(#{stime})]]>
        </if>
        <if test="etime != null and etime !=''">
            <!-- 填报日期 -->
            <![CDATA[AND TO_NUMBER(TO_CHAR(QSRWD_TBSJ,'yyyymmdd'))  < TO_NUMBER(#{etime})]]>
        </if>
        <if test="qsrwdsjld != null and qsrwdsjld !=''">
            <!-- 事件路段 -->
            AND A.QSRWD_SJLD = #{qsrwdsjld}
        </if>
        <if test="qsrwdsjlx != null and qsrwdsjlx !=''">
            <!-- 事件类型 -->
            AND A.QSRWD_SJLX = #{qsrwdsjlx}
        </if>
    </select>

    <!-- 获取合同信息列表 - 用于：添加“养护验收单”时，选择“工程项目” -->
    <select id="getHtxxList" resultMap="htxxList">
        SELECT A.HTXX_HTBH,A.HTXX_HTMC,B.YHHTXX_LXMC,A.HTXX_XMSGLX,A.HTXX_XMGLDW,B.YHHTXX_SPRQ FROM DJSJ_HTXX A
          LEFT JOIN DJSJ_HTXX_YHXMXX B ON A.HTXX_HTBH = B.YHHTXX_HTBH ORDER BY B.YHHTXX_SPRQ DESC,A.HTXX_HTBH DESC
    </select>

    <!-- 添加“养护任务验收单”数据 -->
    <insert id="insertYhrwysd" parameterType="com.hdsx.rcyh.entity.Yhrwysd">
        INSERT INTO RCYH_YHRWYSD (YSD_ID,YSD_HTBH,YSD_HTMC,YSD_YD,YSD_TBRQ,YSD_YSZT,YSD_LX,YSD_YHDW,YSD_GLDW,YSD_TBDW,YSD_YSYJ)
        VALUES (#{ysdid}, #{ysdhtbh}, #{ysdhtmc}, TO_DATE(#{ysdyd}, 'yyyy-MM'), TO_DATE(#{ysdtbrq}, 'yyyy-MM-dd'), '1701', #{ysdlx}, #{ysdyhdw}, #{ysdgldw}, #{ysdtbdw}, #{ysdysyj})
    </insert>

    <!-- 添加“养护任务验收单 - 任务单关联信息”数据 -->
    <insert id="insertYhrwysdRwdRelation" parameterType="java.util.Map">
        INSERT INTO RCYH_YHRWYSD_RWD_RELATION (YSD_ID, RWD_ID) VALUES (#{ysdid}, #{rwdid})
    </insert>

    <!-- 根据“合同信息ID - yhhtxxhtbh”和“月度ysdyd”，通过“任务单ID”查询病害列表（目前仅有“养护任务单”） -->
    <select id="getBhListByHtxxID" parameterType="java.util.Map" resultMap="bhList">
        SELECT * FROM RCYH_XCSB WHERE YHRWD_DJBH IN (
          SELECT YHRWD_DJBH FROM RCYH_XXRW_YHRWD WHERE YHRWD_RWDSHZT = '1403' AND YHRWD_YSZT = '1501'
          AND TO_NUMBER(TO_CHAR(YHRWD_YD, 'yyyyMM')) = #{ysdyd} AND YHRWD_YHDW = (
            SELECT HTXX_XMSGLX FROM DJSJ_HTXX WHERE HTXX_HTBH = #{yhhtxxhtbh}
          )
        )
    </select>

    <!-- 获取验收单数据列表 -->
    <select id="getYsdList" parameterType="java.util.Map" resultMap="yhysdList">
        SELECT * FROM (
            SELECT ROW_NUMBER()OVER(ORDER BY A.YSD_TBRQ DESC) AS RN,A.*,YSENUM.MEIJUMC AS YSDYSZTNAME
              FROM RCYH_YHRWYSD A LEFT JOIN HTGL_ENUMERATE YSENUM ON A.YSD_YSZT = YSENUM.MEIJUBM
            WHERE 1=1
            <if test="stime != null and stime !=''">
                <!-- 填报日期 -->
                <![CDATA[AND TO_NUMBER(TO_CHAR(YSD_TBRQ,'yyyymmdd'))  > TO_NUMBER(#{stime})]]>
            </if>
            <if test="etime != null and etime !=''">
                <!-- 填报日期 -->
                <![CDATA[AND TO_NUMBER(TO_CHAR(YSD_TBRQ,'yyyymmdd'))  < TO_NUMBER(#{etime})]]>
            </if>
            <if test="ysdyhdw != null and ysdyhdw !=''">
                <!-- 养护单位 -->
                AND A.YSD_YHDW = #{ysdyhdw}
            </if>
            <if test="ysdgldw != null and ysdgldw !=''">
                <!-- 管理单位 -->
                AND A.YSD_GLDW = #{ysdgldw}
            </if>
            <if test="ysdlx != null and ysdlx !=''">
                <!-- 路线 -->
                AND A.YSD_LX = #{ysdlx}
            </if>
        ) TEMP
        <where>
            <if test="pageNum != null and pageNum != ''">
                <![CDATA[RN <= (${pageNum} * ${pageSize})]]>
                AND
                <![CDATA[RN>((${pageNum} - 1) * ${pageSize})]]>
            </if>
        </where>
    </select>

    <!-- 统计验收单数据条数 -->
    <select id="countYsdList" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*) FROM RCYH_YHRWYSD A
        WHERE 1=1
        <if test="stime != null and stime !=''">
            <!-- 填报日期 -->
            <![CDATA[AND TO_NUMBER(TO_CHAR(YSD_TBRQ,'yyyymmdd'))  > TO_NUMBER(#{stime})]]>
        </if>
        <if test="etime != null and etime !=''">
            <!-- 填报日期 -->
            <![CDATA[AND TO_NUMBER(TO_CHAR(YSD_TBRQ,'yyyymmdd'))  < TO_NUMBER(#{etime})]]>
        </if>
        <if test="ysdyhdw != null and ysdyhdw !=''">
            <!-- 养护单位 -->
            AND A.YSD_YHDW = #{ysdyhdw}
        </if>
        <if test="ysdgldw != null and ysdgldw !=''">
            <!-- 管理单位 -->
            AND A.YSD_GLDW = #{ysdgldw}
        </if>
        <if test="ysdlx != null and ysdlx !=''">
            <!-- 路线 -->
            AND A.YSD_LX = #{ysdlx}
        </if>
    </select>

    <!-- 获取病害（别名：事件；对用数据库表的“巡查上报”）的数据列表 -->
    <select id="getBhListByYsdid" parameterType="String" resultMap="bhList">
        SELECT ROW_NUMBER()OVER(ORDER BY RWMX_TBRQ DESC) AS RN,SHMJ.MEIJUMC AS SHLXNAME,BHMJ.MEIJUMC AS BHLXNAME,SJMJ.MEIJUMC AS SJLXNAME,A.*
          FROM RCYH_XCSB A
          LEFT JOIN HTGL_ENUMERATE SHMJ ON A.RWMX_SHLX = SHMJ.MEIJUBM
          LEFT JOIN HTGL_ENUMERATE BHMJ ON A.RWMX_BHLX = BHMJ.MEIJUBM
          LEFT JOIN HTGL_ENUMERATE SJMJ ON A.RWMX_SJLX = SJMJ.MEIJUBM
        WHERE YHRWD_DJBH IN (SELECT RWD_ID FROM RCYH_YHRWYSD_RWD_RELATION WHERE YSD_ID = #{ysdid})
    </select>

    <!-- 根据“养护任务验收单ID”，验收“养护任务验收单”数据 -->
    <update id="updateYhrwysdYS" parameterType="java.util.Map">
        UPDATE RCYH_YHRWYSD SET YSD_YSZT = '1702', YSD_YSYJ = #{ysdysyj} WHERE YSD_ID = #{ysdid}
    </update>

    <!-- 根据“养护任务验收单ID”，验收“养护任务单”数据 -->
    <update id="updateYhrwdYS" parameterType="String">
        UPDATE RCYH_XXRW_YHRWD SET YHRWD_YSZT = '1502' WHERE YHRWD_DJBH IN (SELECT DISTINCT YHRWD_DJBH FROM RCYH_XCSB WHERE RWMX_ID IN (SELECT RWD_ID FROM RCYH_YHRWYSD_RWD_RELATION WHERE YSD_ID = #{ysdid}))
    </update>

    <!-- 查询维修施工照片记录列表 -->
    <select id="getWxsgzpjl" parameterType="java.util.Map" resultMap="wxsgzpjlList">
        SELECT * FROM (
            SELECT ROW_NUMBER()OVER(ORDER BY RWMX_TBRQ) AS RN,SHMJ.MEIJUMC AS SHLXNAME,BHMJ.MEIJUMC AS BHLXNAME,
                YHQD.HYQD_ZMH,YHQD.HYQD_ZMMC,YHQD.HYQD_DW,
                'http://192.168.10.234:8080/uploadFiles/20190110/hdsx_154712995422_1.jpg' AS ysqtp,
                'http://192.168.10.234:8080/uploadFiles/20190110/hdsx_154712995422_2.jpg' AS yshzp,
                SJMJ.MEIJUMC AS SJLXNAME,A.* FROM RCYH_XCSB A
                LEFT JOIN HTGL_ENUMERATE SHMJ ON A.RWMX_SHLX = SHMJ.MEIJUBM
                LEFT JOIN HTGL_ENUMERATE BHMJ ON A.RWMX_BHLX = BHMJ.MEIJUBM
                LEFT JOIN HTGL_ENUMERATE SJMJ ON A.RWMX_SJLX = SJMJ.MEIJUBM
                LEFT JOIN DJSJ_YHQD YHQD ON BHMJ.MEIJUMC = YHQD.HYQD_ZMMC
            WHERE YHRWD_DJBH IN (SELECT YHRWD_DJBH FROM RCYH_XXRW_YHRWD WHERE YHRWD_YSZT = '1502')
            <if test="dwmc != null and dwmc !=''">
                <!-- 单位名称 -->
                AND A.RWMX_DWMC LIKE #{dwmc}||'%'
            </if>
            <if test="dwid != null and dwid !=''">
                <!-- 单位ID -->
                AND A.RWMX_DWID = #{dwid}
            </if>
            <if test="bmmc != null and bmmc !=''">
                <!-- 部门名称 -->
                AND A.RWMX_BMMC LIKE #{bmmc}||'%'
            </if>
            <if test="bmid != null and bmid !=''">
                <!-- 部门ID -->
                AND A.RWMX_BMID = #{bmid}
            </if>
            <if test="tbr != null and tbr !=''">
                <!-- 填报人 -->
                AND A.RWMX_TBR LIKE #{tbr}||'%'
            </if>
            <if test="stime != null and stime !=''">
                <!-- 填报日期 -->
                <![CDATA[AND TO_NUMBER(TO_CHAR(XCRW_JSSJ,'yyyymmdd'))  > TO_NUMBER(#{stime})]]>
            </if>
            <if test="etime != null and etime !=''">
                <!-- 填报日期 -->
                <![CDATA[AND TO_NUMBER(TO_CHAR(XCRW_JSSJ,'yyyymmdd'))  < TO_NUMBER(#{etime})]]>
            </if>
            <if test="shlx != null and shlx !=''">
                <!-- 损坏类型 -->
                AND A.RWMX_SHLX = #{shlx}
            </if>
            <if test="bhlx != null and bhlx !=''">
                <!-- 病害类型 -->
                AND A.RWMX_BHLX = #{bhlx}
            </if>
        ) TEMP
        <where>
            <if test="pageNum != null and pageNum != ''">
                <![CDATA[RN <= (${pageNum} * ${pageSize})]]>
                AND
                <![CDATA[RN>((${pageNum} - 1) * ${pageSize})]]>
            </if>
        </where>
    </select>

    <!-- 查询维修施工照片记录列表 -->
    <select id="countWxsgzpjl" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*) FROM RCYH_XCSB A WHERE YHRWD_DJBH IN (SELECT YHRWD_DJBH FROM RCYH_XXRW_YHRWD WHERE YHRWD_YSZT = '1502')
        <if test="dwmc != null and dwmc !=''">
            <!-- 单位名称 -->
            AND A.RWMX_DWMC LIKE #{dwmc}||'%'
        </if>
        <if test="dwid != null and dwid !=''">
            <!-- 单位ID -->
            AND A.RWMX_DWID = #{dwid}
        </if>
        <if test="bmmc != null and bmmc !=''">
            <!-- 部门名称 -->
            AND A.RWMX_BMMC LIKE #{bmmc}||'%'
        </if>
        <if test="bmid != null and bmid !=''">
            <!-- 部门ID -->
            AND A.RWMX_BMID = #{bmid}
        </if>
        <if test="tbr != null and tbr !=''">
            <!-- 填报人 -->
            AND A.RWMX_TBR LIKE #{tbr}||'%'
        </if>
        <if test="stime != null and stime !=''">
            <!-- 填报日期 -->
            <![CDATA[AND TO_NUMBER(TO_CHAR(XCRW_JSSJ,'yyyymmdd'))  > TO_NUMBER(#{stime})]]>
        </if>
        <if test="etime != null and etime !=''">
            <!-- 填报日期 -->
            <![CDATA[AND TO_NUMBER(TO_CHAR(XCRW_JSSJ,'yyyymmdd'))  < TO_NUMBER(#{etime})]]>
        </if>
        <if test="shlx != null and shlx !=''">
            <!-- 损坏类型 -->
            AND A.RWMX_SHLX = #{shlx}
        </if>
        <if test="bhlx != null and bhlx !=''">
            <!-- 病害类型 -->
            AND A.RWMX_BHLX = #{bhlx}
        </if>
    </select>

    <!-- 查询维修施工照片记录列表（用于计量工程单查询明细） -->
    <select id="getWxsgzpjlByHtAndYd" parameterType="java.util.Map" resultMap="wxsgzpjlList">
        SELECT ROW_NUMBER()OVER(ORDER BY RWMX_TBRQ) AS RN,SHMJ.MEIJUMC AS SHLXNAME,BHMJ.MEIJUMC AS BHLXNAME,
           A.RWMX_ZMH AS HYQD_ZMH,A.RWMX_ZMMC AS HYQD_ZMMC,ZM.ZMHT_JLDW AS HYQD_DW,
           'http://192.168.10.234:8080/uploadFiles/20190110/hdsx_154712995422_1.jpg' AS ysqtp,
           'http://192.168.10.234:8080/uploadFiles/20190110/hdsx_154712995422_2.jpg' AS yshzp,
           SJMJ.MEIJUMC AS SJLXNAME,A.* FROM RCYH_XCSB A
           LEFT JOIN HTGL_ENUMERATE SHMJ ON A.RWMX_SHLX = SHMJ.MEIJUBM
           LEFT JOIN HTGL_ENUMERATE BHMJ ON A.RWMX_BHLX = BHMJ.MEIJUBM
           LEFT JOIN HTGL_ENUMERATE SJMJ ON A.RWMX_SJLX = SJMJ.MEIJUBM
           LEFT JOIN GG_ZMHT ZM ON A.RWMX_ZMH = ZM.ZMHT_ZMH
        WHERE YHRWD_DJBH IN (SELECT YHRWD_DJBH FROM RCYH_XXRW_YHRWD WHERE YHRWD_YSZT = '1502')
        AND RWMX_DWMC = (SELECT HTXX_XMSGLX FROM DJSJ_HTXX WHERE HTXX_HTBH = #{htxxhtbh})
        AND TO_NUMBER(TO_CHAR(RWMX_TBRQ, 'yyyyMM')) = #{yd}
    </select>

    <!-- 计量工程明细，表2（用于计量工程单查询明细） -->
    <select id="getJlgcMx2ByHtAndYd" parameterType="java.util.Map" resultMap="wxsgzpjlList">
        <!-- SELECT '1002-8' AS HYQD_ZMH,'施工单位履约检查' AS HYQD_ZMMC,A.PMMTLYJCB_SGDW,
            COUNT(*) AS HTNUM,ROUND((HT.HTXX_HTJEHS/COUNT(*)), 2) AS HTDJ,HT.HTXX_HTJEHS AS HTJE,SUM(A.PMMTLYJCB_FJHJ) AS PMMTLYJCB_FJHJ,
            (HT.HTXX_HTJEHS - SUM(A.PMMTLYJCB_FJHJ)) AS JE
            FROM RCYH_SGDWLYJCB A
            LEFT JOIN DJSJ_HTXX HT ON HT.HTXX_HTBH = A.PMMTLYJCB_HTBH
            WHERE A.PMMTLYJCB_HTBH = #{htxxhtbh} AND TO_CHAR(A.PMMTLYJCB_JCRQ, 'yyyyMM') = #{yd}
        GROUP BY A.PMMTLYJCB_SGDW,HT.HTXX_HTJEHS
        UNION ALL -->
        SELECT '1002-2' AS HYQD_ZMH,'路况日常巡查' AS HYQD_ZMMC,A.RCYHXCKHB_SGDW,
            COUNT(*) AS HTNUM,ROUND((HT.HTXX_HTJEHS/COUNT(*)), 2) AS HTDJ,HT.HTXX_HTJEHS AS HTJE,SUM(A.RCYHXCKHB_BYKKHJ) AS PMMTLYJCB_FJHJ,
            (HT.HTXX_HTJEHS - SUM(A.RCYHXCKHB_BYKKHJ)) AS JE
            FROM RCYH_XCKHB A
            LEFT JOIN DJSJ_HTXX HT ON HT.HTXX_HTMC = A.RCYHXCKHB_GCMC
            WHERE A.RCYHXCKHB_GCMC = #{htxxhtmc} AND TO_CHAR(A.RCYHXCKHB_YD, 'yyyyMM') =#{yd}
        GROUP BY A.RCYHXCKHB_SGDW,HT.HTXX_HTJEHS
        <!-- UNION ALL
        SELECT '1002-9' AS HYQD_ZMH,'进场准备情况检查' AS HYQD_ZMMC,A.PMMTJCZBQKJCB_SGDW,
            COUNT(*) AS HTNUM,ROUND((HT.HTXX_HTJEHS/COUNT(*)), 2) AS HTDJ,HT.HTXX_HTJEHS AS HTJE,SUM(A.PMMTJCZBQKJCB_WYFJ) AS PMMTLYJCB_FJHJ,
            (HT.HTXX_HTJEHS - SUM(A.PMMTJCZBQKJCB_WYFJ)) AS JE
            FROM RCYH_JCZBQKJCB A
            LEFT JOIN DJSJ_HTXX HT ON HT.HTXX_HTBH = A.PMMTJCZBQKJCB_HTBH
            WHERE A.PMMTJCZBQKJCB_HTBH = #{htxxhtbh} AND TO_CHAR(A.PMMTJCZBQKJCB_JCRQ, 'yyyyMM') = #{yd}
        GROUP BY A.PMMTJCZBQKJCB_SGDW,HT.HTXX_HTJEHS -->
    </select>

    <!-- 添加“养护/清扫任务单子表”数据 -->
    <insert id="insertRwdSubsidiary" parameterType="com.hdsx.rcyh.entity.RwdSubsidiary">
        INSERT INTO RCYH_RWD_SUBSIDIARY (
            SUB_ID, SUB_RWDID, SUB_SJID, SUB_RYID, SUB_RYMC, SUB_ZPSJ, SUB_WXZT, SUB_SSLX
            <if test="wxsj != null and wxsj !=''">, SUB_WXSJ</if>
        ) VALUES (
            #{id}, #{rwdid}, #{sjid}, #{ryid}, #{rymc}, TO_DATE(#{zpsj}, 'yyyy-MM-dd'), '2101', #{sslx}
            <if test="wxsj != null and wxsj !=''">, TO_DATE(#{wxsj}, 'yyyy-MM-dd hh24:mi:ss')</if>
        )
    </insert>

    <!-- 根据“任务单ID”删除“养护/清扫任务单子表”数据 -->
    <delete id="deleteRwdSubsidiaryByRwdid" parameterType="java.lang.String">
        DELETE FROM RCYH_RWD_SUBSIDIARY WHERE SUB_RWDID = #{rwdid}
    </delete>

    <!-- 根据“月度计划ID”查询其所属合同的子目下拉框。 -->
    <select id="getZmxxByYdjhID" parameterType="String" resultType="java.util.Map">
        SELECT * FROM GG_ZMHT WHERE ZMHT_HTBH = (
          SELECT YDJH_HTBH FROM RCYH_YDSGJH WHERE YDJH_ID = #{yhijid}
        )
    </select>

    <!-- 根据“月份”和“合同编号”构建用于“养护施工计划完成明细表”的数据 -->
    <select id="getCreateYhjdwcmxByYfAndHtbh" parameterType="java.util.Map" resultMap="createYhjdwcmxMap">
        SELECT A.ZMH, A.XMNR,YHJH.QDZH, YHJH.ZDZH, YHJH.YJGCL, YHJH.JHKSRQ, YHJH.JHJSRQ, BH.WCGCL FROM (
          SELECT YHJHMX2_ZMH AS zmh, YHJHMX2_XMNR AS xmnr FROM RCYH_YDSGJHSB_MX WHERE YHJHMX2_MID IN (
            SELECT YDJH_ID FROM RCYH_YDSGJH WHERE TO_CHAR(YDJH_YF, 'yyyy-MM') = #{yf} AND YDJH_HTBH = #{htbh}
          )
          UNION
          SELECT DISTINCT RWMX_ZMH AS zmh,RWMX_ZMMC AS xmnr FROM RCYH_XCSB WHERE RWMX_MID IN (
            SELECT XCRW_ID FROM RCYH_QDXC WHERE XCRW_YDJHID IN (
              SELECT YDJH_ID FROM RCYH_YDSGJH WHERE TO_CHAR(YDJH_YF, 'yyyy-MM') = #{yf} AND YDJH_HTBH = #{htbh}
            )
          )
        ) A LEFT JOIN (
          SELECT YHJHMX2_ZMH AS zmh, YHJHMX2_QDZH AS qdzh, YHJHMX2_ZDZH AS zdzh,
            YHJHMX2_YJGCL AS yjgcl, YHJHMX2_JHKSRQ AS jhksrq, YHJHMX2_JHJSRQ AS jhjsrq
          FROM RCYH_YDSGJHSB_MX WHERE YHJHMX2_MID IN (
            SELECT YDJH_ID FROM RCYH_YDSGJH WHERE TO_CHAR(YDJH_YF, 'yyyy-MM') = #{yf} AND YDJH_HTBH = #{htbh}
          )
        ) YHJH ON YHJH.ZMH = A.ZMH LEFT JOIN (
          SELECT DISTINCT RWMX_ZMH AS zmh,RWMX_ZMMC AS xmnr,SUM(RWMX_BHSL) AS wcgcl FROM RCYH_XCSB WHERE RWMX_MID IN (
            SELECT XCRW_ID FROM RCYH_QDXC WHERE XCRW_YDJHID IN (
              SELECT YDJH_ID FROM RCYH_YDSGJH WHERE TO_CHAR(YDJH_YF, 'yyyy-MM') = #{yf} AND YDJH_HTBH = #{htbh}
            )
          ) GROUP BY RWMX_ZMH ,RWMX_ZMMC
        ) BH ON BH.ZMH = A.ZMH
        WHERE A.ZMH IS NOT NULL
    </select>

    <!-- 获取已处理的清扫任务单。 -->
    <select id="getYICHULIqsList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM ( SELECT ROW_NUMBER()OVER(ORDER BY QSRWD_TBSJ DESC) AS RN,SJLXMJ.MEIJUMC AS SJLXNAME,
              LX.LXNAME,SHMJ.MEIJUMC AS SHZTNAME,QSMJ.MEIJUMC AS SQZTNAME,BH.RWMX_ID,A.*
            FROM RCYH_XXRW_QSRWD A
                LEFT JOIN HTGL_ENUMERATE SJLXMJ ON A.QSRWD_SJLX = SJLXMJ.MEIJUBM
                LEFT JOIN HTGL_ENUMERATE SHMJ ON A.QSRWD_SHZT = SHMJ.MEIJUBM
                LEFT JOIN HTGL_ENUMERATE QSMJ ON A.QSRWD_QSZT = QSMJ.MEIJUBM
                LEFT JOIN HTGL_LXB LX ON A.QSRWD_SJLD = LX.ID
                LEFT JOIN RCYH_XCSB BH ON BH.YHRWD_DJBH = A.QSRWD_ID
            WHERE A.QSRWD_SHZT='1403') TEMP
        <where>
            <if test="pageNum != null and pageNum != ''">
                <![CDATA[RN <= (${pageNum} * ${pageSize})]]>
                AND
                <![CDATA[RN>((${pageNum} - 1) * ${pageSize})]]>
            </if>
        </where>
    </select>


    <!-- 获取未处理的清扫任务单。 -->
    <select id="getWEICHULIqsList" parameterType="java.util.Map" resultType="java.util.Map">
         SELECT * FROM (SELECT ROW_NUMBER()OVER(ORDER BY QSRWD_TBSJ DESC) AS RN,SJLXMJ.MEIJUMC AS SJLXNAME,
        LX.LXNAME,SHMJ.MEIJUMC AS SHZTNAME,QSMJ.MEIJUMC AS SQZTNAME,BH.RWMX_ID,A.*
        FROM RCYH_XXRW_QSRWD A
        LEFT JOIN HTGL_ENUMERATE SJLXMJ ON A.QSRWD_SJLX = SJLXMJ.MEIJUBM
        LEFT JOIN HTGL_ENUMERATE SHMJ ON A.QSRWD_SHZT = SHMJ.MEIJUBM
        LEFT JOIN HTGL_ENUMERATE QSMJ ON A.QSRWD_QSZT = QSMJ.MEIJUBM
        LEFT JOIN HTGL_LXB LX ON A.QSRWD_SJLD = LX.ID
        LEFT JOIN RCYH_XCSB BH ON BH.YHRWD_DJBH = A.QSRWD_ID
        WHERE A.QSRWD_SHZT IN (1402,1401)) TEMP
        <where>
            <if test="pageNum != null and pageNum != ''">
                <![CDATA[RN <= (${pageNum} * ${pageSize})]]>
                AND
                <![CDATA[RN>((${pageNum} - 1) * ${pageSize})]]>
            </if>
        </where>
    </select>


    <select id="getYICHULIyhList" parameterType="java.util.Map" resultType="java.util.Map">
         SELECT * FROM ( SELECT ROW_NUMBER()OVER(ORDER BY YHRWD_RQ DESC) AS RN,A.YHRWD_DJBH,
    LX.LXNAME,A.YHRWD_LX,A.YHRWD_RQ,A.YHRWD_YD,
    A.YHRWD_YHDW,A.YHRWD_GYDW,A.YHRWD_RWDSHZT,
    A.YHRWD_YSZT,SHMJ.MEIJUMC AS SHZT,YSMJ.MEIJUMC AS YSZT
    FROM RCYH_XXRW_YHRWD A LEFT JOIN HTGL_LXB LX ON A.YHRWD_LX = LX.ID
    LEFT JOIN HTGL_ENUMERATE SHMJ ON A.YHRWD_RWDSHZT = SHMJ.MEIJUBM
    LEFT JOIN HTGL_ENUMERATE YSMJ ON A.YHRWD_YSZT = YSMJ.MEIJUBM
    WHERE A.YHRWD_RWDSHZT='1403') TEMP
        <where>
            <if test="pageNum != null and pageNum != ''">
                <![CDATA[RN <= (${pageNum} * ${pageSize})]]>
                AND
                <![CDATA[RN>((${pageNum} - 1) * ${pageSize})]]>
            </if>
        </where>
    </select>


    <select id="getWEICHULIyhList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM ( SELECT ROW_NUMBER()OVER(ORDER BY YHRWD_RQ DESC) AS RN,A.YHRWD_DJBH,
        LX.LXNAME,A.YHRWD_LX,A.YHRWD_RQ,A.YHRWD_YD,
        A.YHRWD_YHDW,A.YHRWD_GYDW,A.YHRWD_RWDSHZT,
        A.YHRWD_YSZT,SHMJ.MEIJUMC AS SHZT,YSMJ.MEIJUMC AS YSZT
        FROM RCYH_XXRW_YHRWD A LEFT JOIN HTGL_LXB LX ON A.YHRWD_LX = LX.ID
        LEFT JOIN HTGL_ENUMERATE SHMJ ON A.YHRWD_RWDSHZT = SHMJ.MEIJUBM
        LEFT JOIN HTGL_ENUMERATE YSMJ ON A.YHRWD_YSZT = YSMJ.MEIJUBM
        WHERE A.YHRWD_RWDSHZT IN (1402,1401)) TEMP
        <where>
            <if test="pageNum != null and pageNum != ''">
                <![CDATA[RN <= (${pageNum} * ${pageSize})]]>
                AND
                <![CDATA[RN>((${pageNum} - 1) * ${pageSize})]]>
            </if>
        </where>
    </select>

</mapper>
