<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdsx.rcyh.mapper.SgjhMapper">
    <!-- 定义数据库字段与实体对象的映射关系 -->
    <resultMap id="sgjhBean" type="com.hdsx.rcyh.entity.Sgjh">
        <id column="YDJH_ID" property="id"/>
        <result column="YDJH_DWMC" property="dwmc"/>
        <result column="YDJH_DWBH" property="dwbh"/>
        <result column="YDJH_DWID" property="dwid"/>
        <result column="YDJH_BMMC" property="bmmc"/>
        <result column="YDJH_BMBH" property="bmbh"/>
        <result column="YDJH_BMID" property="bmid"/>
        <result column="YDJH_TBR" property="tbr"/>
        <result column="YDJH_TBRID" property="tbrid"/>
        <result column="YDJH_TBRQ" property="tbrq"/>
        <result column="YDJH_SPZT" property="spzt"/>
        <result column="YDJH_FILE" property="file"/>
        <result column="YDJH_WFID" property="wfid"/>
        <result column="YDJH_NOTE" property="note"/>
        <result column="YDJH_DJBH" property="djbh"/>
        <result column="YDJH_YF" property="yf"/>
        <result column="YDJH_YHDWMC" property="yhdwmc"/>
        <result column="YDJH_YHDWID" property="yhdwid"/>
        <result column="YDJH_YHDWBH" property="yhdwbh"/>
        <result column="YDJH_XMFL" property="xmfl"/>
        <result column="YDJH_XMFLID" property="xmflid"/>
        <result column="YDJH_BZ" property="bz"/>
        <result column="YDJH_HTMC" property="htmc"/>
        <result column="YDJH_TBDW" property="tbdw"/>
        <result column="YDJH_TBBM" property="tbbm"/>
        <result column="YDJH_GLDW" property="gldw"/>
        <result column="YDJH_HTID" property="htid"/>
        <result column="YDJH_HTBH" property="htbh"/>
        <!-- 一对多的关系 -->
        <!-- property: 指的是集合属性的值, ofType：指的是集合中元素的类型 -->
        <collection property="sgjhsbmx" ofType="com.hdsx.rcyh.entity.Sgjhsbmx">
            <id column="YHJHMX2_ID" property="id"/>
            <result column="YHJHMX2_MID" property="mid"/>
            <result column="YHJHMX2_XMNR" property="xmnr"/>
            <result column="YHJHMX2_QDZH" property="qdzh"/>
            <result column="YHJHMX2_ZDZH" property="zdzh"/>
            <result column="YHJHMX2_YJGCL" property="yjgcl"/>
            <result column="YHJHMX2_JHKSRQ" property="jhksrq"/>
            <result column="YHJHMX2_JHJSRQ" property="jhjsrq"/>
            <result column="YHJHMX2_BZ" property="bz"/>
        </collection>
    </resultMap>

    <resultMap id="wcsgjhBean" type="com.hdsx.rcyh.entity.Sgjhwc">
        <id column="YDWC_ID" property="id"/>
        <result column="YDWC_DWMC" property="dwmc"/>
        <result column="YDWC_DWBH" property="dwbh"/>
        <result column="YDWC_DWID" property="dwid"/>
        <result column="YDWC_BMMC" property="bmmc"/>
        <result column="YDWC_BMBH" property="bmbh"/>
        <result column="YDWC_BMID" property="bmid"/>
        <result column="YDWC_TBR" property="tbr"/>
        <result column="YDWC_TBRID" property="tbrid"/>
        <result column="YDWC_TBRQ" property="tbrq"/>
        <result column="YDWC_SPZT" property="spzt"/>
        <result column="YDWC_FILE" property="file"/>
        <result column="YDWC_WFID" property="wfid"/>
        <result column="YDWC_NOTE" property="note"/>
        <result column="YDWC_DJBH" property="djbh"/>
        <result column="YDWC_YF" property="yf"/>
        <result column="YDWC_YHDWMC" property="yhdwmc"/>
        <result column="YDWC_YHDWID" property="yhdwid"/>
        <result column="YDWC_YHDWBH" property="yhdwbh"/>
        <result column="YDWC_XMFL" property="xmfl"/>
        <result column="YDWC_XMFLID" property="xmflid"/>
        <result column="YDWC_BZ" property="bz"/>
        <result column="YDWC_HTMC" property="htmc"/>
        <result column="YDWC_TBDW" property="tbdw"/>
        <result column="YDWC_TBBM" property="tbbm"/>
        <result column="YDWC_GLDW" property="gldw"/>
        <result column="YDWC_HTID" property="htid"/>
        <result column="YDWC_HTBH" property="htbh"/>
        <!-- 一对多的关系 -->
        <!-- property: 指的是集合属性的值, ofType：指的是集合中元素的类型 -->
        <collection property="sgjhwcmx" ofType="com.hdsx.rcyh.entity.Sgjhwcmx">
            <id column="YHJHWCMX2_ID" property="id"/>
            <result column="YHJHWCMX2_MID" property="mid"/>
            <result column="YHJHWCMX2_XMNR" property="xmnr"/>
            <result column="YHJHWCMX2_QDZH" property="qdzh"/>
            <result column="YHJHWCMX2_ZDZH" property="zdzh"/>
            <result column="YHJHWCMX2_YJGCL" property="yjgcl"/>
            <result column="YHJHWCMX2_WCGCL" property="wcgcl"/>
            <result column="YHJHWCMX2_JHKSRQ" property="jhksrq"/>
            <result column="YHJHWCMX2_JHJSRQ" property="jhjsrq"/>
            <result column="YHJHWCMX2_SJKSRQ" property="sjksrq"/>
            <result column="YHJHWCMX2_SJJSRQ" property="sjjsrq"/>
            <result column="YHJHWCMX2_BZ" property="bz"/>
        </collection>
    </resultMap>

    <select id="getSgjhAll" parameterType="hashmap" resultMap="sgjhBean">
        SELECT YDJH_ID, YDJH_DWMC, YDJH_DWBH, YDJH_DWID, YDJH_BMMC, YDJH_BMBH, YDJH_BMID, YDJH_TBR, YDJH_TBRID, to_char(YDJH_TBRQ,'yyyy/mm/dd')YDJH_TBRQ, YDJH_SPZT, YDJH_FILE, YDJH_WFID, YDJH_NOTE, YDJH_DJBH, to_char(YDJH_YF,'yyyy/mm')YDJH_YF, YDJH_YHDWMC, YDJH_YHDWID, YDJH_YHDWBH, YDJH_XMFL, YDJH_XMFLID, YDJH_BZ, YDJH_HTMC, YDJH_TBDW, YDJH_TBBM, YDJH_GLDW, YDJH_HTID, YDJH_HTBH,
        YHJHMX2_ID, YHJHMX2_MID, YHJHMX2_XMNR, YHJHMX2_QDZH, YHJHMX2_ZDZH, YHJHMX2_YJGCL, to_char(YHJHMX2_JHKSRQ,'yyyy/mm/dd')YHJHMX2_JHKSRQ, to_char(YHJHMX2_JHJSRQ,'yyyy/mm/dd')YHJHMX2_JHJSRQ, YHJHMX2_BZ
        FROM YDSGJH jh
        LEFT JOIN YDSGJHSBMX mx ON mx.YHJHMX2_MID = jh.YDJH_ID
        <where>
            <trim suffixOverrides=",">
                <if test="id != null and id != ''"> AND YDJH_ID LIKE '%'||trim(#{id})||'%',</if>
                <if test="htmc != null and htmc != ''"> AND YDJH_HTMC LIKE '%'||trim(#{htmc})||'%',</if>
                <if test="spzt != null and spzt != ''"> AND YDJH_SPZT LIKE '%'||trim(#{spzt})||'%',</if>
                <if test="ksrq != null and ksrq != ''"> AND to_date(to_char(YDJH_TBRQ,'yyyy/mm/dd'),'yyyy/mm/dd')>to_date(#{ksrq},'yyyy/mm/dd'),</if>
                <if test="jsrq != null and jsrq != ''"> AND to_date(to_char(YDJH_TBRQ,'yyyy/mm/dd'),'yyyy/mm/dd')&lt;to_date(#{jsrq},'yyyy/mm/dd'),</if>
            </trim>
        </where>
    </select>

    <insert id="addSgjh" parameterType="com.hdsx.rcyh.entity.Sgjh">
        INSERT INTO YDSGJH(YDJH_ID, YDJH_DWMC, YDJH_DWBH, YDJH_DWID, YDJH_BMMC, YDJH_BMBH, YDJH_BMID, YDJH_TBR, YDJH_TBRID, YDJH_TBRQ, YDJH_SPZT, YDJH_FILE, YDJH_WFID, YDJH_NOTE, YDJH_DJBH, YDJH_YF, YDJH_YHDWMC, YDJH_YHDWID, YDJH_YHDWBH, YDJH_XMFL, YDJH_XMFLID, YDJH_BZ, YDJH_HTMC, YDJH_TBDW, YDJH_TBBM, YDJH_GLDW, YDJH_HTID, YDJH_HTBH)
        VALUES (#{id,jdbcType=VARCHAR}, #{dwmc,jdbcType=VARCHAR}, #{dwbh,jdbcType=VARCHAR}, #{dwid,jdbcType=VARCHAR}, #{bmmc,jdbcType=VARCHAR}, #{bmbh,jdbcType=VARCHAR}, #{bmid,jdbcType=VARCHAR}, #{tbr,jdbcType=VARCHAR}, #{tbrid,jdbcType=VARCHAR}, to_date(#{tbrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'), '未处理', #{file,jdbcType=VARCHAR}, #{wfid,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{djbh,jdbcType=VARCHAR}, to_date(#{yf,jdbcType=TIMESTAMP},'yyyy/mm'), #{yhdwmc,jdbcType=VARCHAR}, #{yhdwid,jdbcType=VARCHAR}, #{yhdwbh,jdbcType=VARCHAR}, #{xmfl,jdbcType=VARCHAR}, #{xmflid,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, #{htmc,jdbcType=VARCHAR}, #{tbdw,jdbcType=VARCHAR}, #{tbbm,jdbcType=VARCHAR}, #{gldw,jdbcType=VARCHAR}, #{htid,jdbcType=VARCHAR}, #{htbh,jdbcType=VARCHAR})
    </insert>

    <insert id="addSgjhmx" parameterType="java.util.List">
        INSERT INTO YDSGJHSBMX(YHJHMX2_ID,YHJHMX2_MID,YHJHMX2_XMNR,YHJHMX2_QDZH,YHJHMX2_ZDZH,YHJHMX2_YJGCL,
                               YHJHMX2_JHKSRQ,YHJHMX2_JHJSRQ,YHJHMX2_BZ)
        <foreach collection="list" item="item" index="index" open="(" close=")" separator="union">
            SELECT sys_guid(),
                   #{item.mid,jdbcType=VARCHAR},
                   #{item.xmnr,jdbcType=VARCHAR},
                   #{item.qdzh,jdbcType=VARCHAR},
                   #{item.zdzh,jdbcType=VARCHAR},
                   #{item.yjgcl,jdbcType=NUMERIC},
                   to_date(#{item.jhksrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'),
                   to_date(#{item.jhjsrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'),
                   #{item.bz,jdbcType=VARCHAR}
            FROM DUAL
        </foreach>

    </insert>

    <update id="updateSgjh" parameterType="com.hdsx.rcyh.entity.Sgjh">
        UPDATE YDSGJH
        <set>
            <if test="dwmc != null and dwmc != ''"> YDJH_DWMC= #{dwmc}, </if>
            <if test="dwbh != null and dwbh != ''"> YDJH_DWBH= #{dwbh}, </if>
            <if test="dwid != null and dwid != ''"> YDJH_DWID= #{dwid}, </if>
            <if test="bmmc != null and bmmc != ''"> YDJH_BMMC= #{bmmc}, </if>
            <if test="bmbh != null and bmbh != ''"> YDJH_BMBH= #{bmbh}, </if>
            <if test="bmid != null and bmid != ''"> YDJH_BMID= #{bmid}, </if>
            <if test="tbr != null and tbr != ''"> YDJH_TBR= #{tbr}, </if>
            <if test="tbrid != null and tbrid != ''"> YDJH_TBRID= #{tbrid}, </if>
            <if test="tbrq != null and tbrq != ''"> YDJH_TBRQ= to_date(#{tbrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'), </if>
            <if test="spzt != null and spzt != ''"> YDJH_SPZT= #{spzt}, </if>
            <if test="file != null and file != ''"> YDJH_FILE= #{file}, </if>
            <if test="wfid != null and wfid != ''"> YDJH_WFID= #{wfid}, </if>
            <if test="note != null and note != ''"> YDJH_NOTE= #{note}, </if>
            <if test="djbh != null and djbh != ''"> YDJH_DJBH= #{djbh}, </if>
            <if test="yf != null and yf != ''"> YDJH_YF= to_date(#{yf,jdbcType=TIMESTAMP},'yyyy/mm'), </if>
            <if test="yhdwmc != null and yhdwmc != ''"> YDJH_YHDWMC= #{yhdwmc}, </if>
            <if test="yhdwid != null and yhdwid != ''"> YDJH_YHDWID= #{yhdwid}, </if>
            <if test="yhdwbh != null and yhdwbh != ''"> YDJH_YHDWBH= #{yhdwbh}, </if>
            <if test="xmfl != null and xmfl != ''"> YDJH_XMFL= #{xmfl}, </if>
            <if test="xmflid != null and xmflid != ''"> YDJH_XMFLID= #{xmflid}, </if>
            <if test="bz != null and bz != ''"> YDJH_BZ= #{bz}, </if>
            <if test="htmc != null and htmc != ''"> YDJH_HTMC= #{htmc}, </if>
            <if test="tbdw != null and tbdw != ''"> YDJH_TBDW= #{tbdw}, </if>
            <if test="tbbm != null and tbbm != ''"> YDJH_TBBM= #{tbbm}, </if>
            <if test="gldw != null and gldw != ''"> YDJH_GLDW= #{gldw}, </if>
            <if test="htid != null and htid != ''"> YDJH_HTID= #{htid}, </if>
            <if test="htbh != null and htbh != ''"> YDJH_HTBH = #{htbh}, </if>
        </set>
        WHERE YDJH_ID = #{id}
    </update>

    <update id="updateSgjhmx" parameterType="com.hdsx.rcyh.entity.Sgjhsbmx">
        UPDATE YDSGJHSBMX
        <set>
            <if test="xmnr != null and xmnr != ''"> YHJHMX2_XMNR = #{xmnr}, </if>
            <if test="qdzh != null and qdzh != ''"> YHJHMX2_QDZH = #{qdzh}, </if>
            <if test="zdzh != null and zdzh != ''"> YHJHMX2_ZDZH = #{zdzh}, </if>
            <if test="yjgcl != null and yjgcl != ''"> YHJHMX2_YJGCL = #{yjgcl}, </if>
            <if test="jhksrq != null and jhksrq != ''"> YHJHMX2_JHKSRQ = to_date(#{jhksrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'), </if>
            <if test="jhjsrq != null and jhjsrq != ''"> YHJHMX2_JHJSRQ = to_date(#{jhjsrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'), </if>
            <if test="bz != null and bz != ''"> YHJHMX2_BZ = #{bz}, </if>
        </set>
        WHERE YHJHMX2_ID = #{id}
    </update>

    <select id="getSgjhmxById" parameterType="String" resultType="com.hdsx.rcyh.entity.Sgjhsbmx">
        SELECT YHJHMX2_ID id,YHJHMX2_MID mid,YHJHMX2_XMNR xmnr,YHJHMX2_QDZH qdzh,YHJHMX2_ZDZH zdzh,
            YHJHMX2_YJGCL yjgcl, YHJHMX2_JHKSRQ jhksrq, YHJHMX2_JHJSRQ jhjsrq, YHJHMX2_BZ bz
        FROM YDSGJHSBMX WHERE YHJHMX2_MID = #{id}
    </select>

    <delete id="deleteSgjh" parameterType="String">
        DELETE FROM YDSGJH WHERE YDJH_ID IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteSgjhmx">
        DELETE FROM YDSGJHSBMX WHERE YHJHMX2_MID IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="getWcSgjhAll" parameterType="hashmap" resultMap="wcsgjhBean">
        SELECT YDWC_ID, YDWC_DWMC, YDWC_DWBH, YDWC_DWID, YDWC_BMMC, YDWC_BMBH, YDWC_BMID, YDWC_TBR, YDWC_TBRID, to_char(YDWC_TBRQ,'yyyy/mm/dd')YDWC_TBRQ, YDWC_SPZT, YDWC_FILE, YDWC_WFID, YDWC_NOTE, YDWC_DJBH, to_char(YDWC_YF,'yyyy/mm')YDWC_YF, YDWC_YHDWMC, YDWC_YHDWID, YDWC_YHDWBH, YDWC_XMFL, YDWC_XMFLID, YDWC_BZ, YDWC_HTMC, YDWC_TBDW, YDWC_TBBM, YDWC_GLDW, YDWC_HTID, YDWC_HTBH,
        YHJHWCMX2_ID, YHJHWCMX2_MID, YHJHWCMX2_XMNR, YHJHWCMX2_QDZH, YHJHWCMX2_ZDZH, YHJHWCMX2_YJGCL, YHJHWCMX2_WCGCL, to_char(YHJHWCMX2_JHKSRQ,'yyyy/mm/dd')YHJHWCMX2_JHKSRQ, to_char(YHJHWCMX2_JHJSRQ,'yyyy/mm/dd')YHJHWCMX2_JHJSRQ, to_char(YHJHWCMX2_SJKSRQ,'yyyy/mm/dd')YHJHWCMX2_SJKSRQ, to_char(YHJHWCMX2_SJJSRQ,'yyyy/mm/dd')YHJHWCMX2_SJJSRQ, YHJHWCMX2_BZ
        FROM YDSGWC jh
        LEFT JOIN YDSGWCMX mx ON mx.YHJHWCMX2_MID = jh.YDWC_ID
        <where>
            <trim suffixOverrides=",">
                <if test="id != null and id != ''"> AND YDWC_ID LIKE '%'||trim(#{id})||'%',</if>
                <if test="htmc != null and htmc != ''"> AND YDWC_HTMC LIKE '%'||trim(#{htmc})||'%',</if>
                <if test="spzt != null and spzt != ''"> AND YDWC_SPZT LIKE '%'||trim(#{spzt})||'%',</if>
                <if test="ksrq != null and ksrq != ''"> AND to_date(to_char(YDWC_TBRQ,'yyyy/mm/dd'),'yyyy/mm/dd')>to_date(#{ksrq},'yyyy/mm/dd'),</if>
                <if test="jsrq != null and jsrq != ''"> AND to_date(to_char(YDWC_TBRQ,'yyyy/mm/dd'),'yyyy/mm/dd')&lt;to_date(#{jsrq},'yyyy/mm/dd'),</if>
            </trim>
        </where>
    </select>

    <insert id="addWcSgjh" parameterType="com.hdsx.rcyh.entity.Sgjhwc">
        INSERT INTO YDSGWC(YDWC_ID, YDWC_DWMC, YDWC_DWBH, YDWC_DWID, YDWC_BMMC, YDWC_BMBH, YDWC_BMID, YDWC_TBR, YDWC_TBRID, YDWC_TBRQ, YDWC_SPZT, YDWC_FILE, YDWC_WFID, YDWC_NOTE, YDWC_DJBH, YDWC_YF, YDWC_YHDWMC, YDWC_YHDWID, YDWC_YHDWBH, YDWC_XMFL, YDWC_XMFLID, YDWC_BZ, YDWC_HTMC, YDWC_TBDW, YDWC_TBBM, YDWC_GLDW, YDWC_HTID, YDWC_HTBH)
        VALUES (#{id,jdbcType=VARCHAR}, #{dwmc,jdbcType=VARCHAR}, #{dwbh,jdbcType=VARCHAR}, #{dwid,jdbcType=VARCHAR}, #{bmmc,jdbcType=VARCHAR}, #{bmbh,jdbcType=VARCHAR}, #{bmid,jdbcType=VARCHAR}, #{tbr,jdbcType=VARCHAR}, #{tbrid,jdbcType=VARCHAR}, to_date(#{tbrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'), '未处理', #{file,jdbcType=VARCHAR}, #{wfid,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{djbh,jdbcType=VARCHAR}, to_date(#{yf,jdbcType=TIMESTAMP},'yyyy/mm'), #{yhdwmc,jdbcType=VARCHAR}, #{yhdwid,jdbcType=VARCHAR}, #{yhdwbh,jdbcType=VARCHAR}, #{xmfl,jdbcType=VARCHAR}, #{xmflid,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, #{htmc,jdbcType=VARCHAR}, #{tbdw,jdbcType=VARCHAR}, #{tbbm,jdbcType=VARCHAR}, #{gldw,jdbcType=VARCHAR}, #{htid,jdbcType=VARCHAR}, #{htbh,jdbcType=VARCHAR})
    </insert>

    <insert id="addWcsgjhmx" parameterType="java.util.List">
        INSERT INTO YDSGWCMX(YHJHWCMX2_ID,YHJHWCMX2_MID,YHJHWCMX2_XMNR,YHJHWCMX2_QDZH,YHJHWCMX2_ZDZH,YHJHWCMX2_YJGCL,YHJHWCMX2_WCGCL,
                             YHJHWCMX2_JHKSRQ,YHJHWCMX2_JHJSRQ,YHJHWCMX2_SJKSRQ,YHJHWCMX2_SJJSRQ,YHJHWCMX2_BZ)
        <foreach collection="list" item="item" index="index" open="(" close=")" separator="union">
            SELECT sys_guid(),#{item.mid,jdbcType=VARCHAR},#{item.xmnr,jdbcType=VARCHAR},
            #{item.qdzh,jdbcType=VARCHAR},#{item.zdzh,jdbcType=VARCHAR},#{item.yjgcl,jdbcType=NUMERIC},#{item.wcgcl,jdbcType=NUMERIC},
            to_date(#{item.jhksrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'),to_date(#{item.jhjsrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'),to_date(#{item.sjksrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'),to_date(#{item.sjjsrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'),#{item.bz,jdbcType=VARCHAR}
            FROM DUAL
        </foreach>
    </insert>

    <update id="upateWcsgjh" parameterType="com.hdsx.rcyh.entity.Sgjhwc">
        UPDATE YDSGWC
        <set>
            <if test="dwmc != null and dwmc != ''"> YDWC_DWMC= #{dwmc}, </if>
            <if test="dwbh != null and dwbh != ''"> YDWC_DWBH= #{dwbh}, </if>
            <if test="dwid != null and dwid != ''"> YDWC_DWID= #{dwid}, </if>
            <if test="bmmc != null and bmmc != ''"> YDWC_BMMC= #{bmmc}, </if>
            <if test="bmbh != null and bmbh != ''"> YDWC_BMBH= #{bmbh}, </if>
            <if test="bmid != null and bmid != ''"> YDWC_BMID= #{bmid}, </if>
            <if test="tbr != null and tbr != ''"> YDWC_TBR= #{tbr}, </if>
            <if test="tbrid != null and tbrid != ''"> YDWC_TBRID= #{tbrid}, </if>
            <if test="tbrq != null and tbrq != ''"> YDWC_TBRQ= to_date(#{tbrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'), </if>
            <if test="spzt != null and spzt != ''"> YDWC_SPZT= #{spzt}, </if>
            <if test="file != null and file != ''"> YDWC_FILE= #{file}, </if>
            <if test="wfid != null and wfid != ''"> YDWC_WFID= #{wfid}, </if>
            <if test="note != null and note != ''"> YDWC_NOTE= #{note}, </if>
            <if test="djbh != null and djbh != ''"> YDWC_DJBH= #{djbh}, </if>
            <if test="yf != null and yf != ''"> YDWC_YF= to_date(#{yf,jdbcType=TIMESTAMP},'yyyy/mm'), </if>
            <if test="yhdwmc != null and yhdwmc != ''"> YDWC_YHDWMC= #{yhdwmc}, </if>
            <if test="yhdwid != null and yhdwid != ''"> YDWC_YHDWID= #{yhdwid}, </if>
            <if test="yhdwbh != null and yhdwbh != ''"> YDWC_YHDWBH= #{yhdwbh}, </if>
            <if test="xmfl != null and xmfl != ''"> YDWC_XMFL= #{xmfl}, </if>
            <if test="xmflid != null and xmflid != ''"> YDWC_XMFLID= #{xmflid}, </if>
            <if test="bz != null and bz != ''"> YDWC_BZ= #{bz}, </if>
            <if test="htmc != null and htmc != ''"> YDWC_HTMC= #{htmc}, </if>
            <if test="tbdw != null and tbdw != ''"> YDWC_TBDW= #{tbdw}, </if>
            <if test="tbbm != null and tbbm != ''"> YDWC_TBBM= #{tbbm}, </if>
            <if test="gldw != null and gldw != ''"> YDWC_GLDW= #{gldw}, </if>
            <if test="htid != null and htid != ''"> YDWC_HTID= #{htid}, </if>
            <if test="htbh != null and htbh != ''"> YDWC_HTBH = #{htbh}, </if>
        </set>
        WHERE YDWC_ID = #{id}
    </update>

    <update id="updateWcSgjhmx" parameterType="com.hdsx.rcyh.entity.Sgjhwcmx">
        UPDATE YDSGWCMX
        <set>
            <if test="xmnr != null and xmnr != ''"> YHJHWCMX2_XMNR = #{xmnr}, </if>
            <if test="qdzh != null and qdzh != ''"> YHJHWCMX2_QDZH = #{qdzh}, </if>
            <if test="zdzh != null and zdzh != ''"> YHJHWCMX2_ZDZH = #{zdzh}, </if>
            <if test="yjgcl != null and yjgcl != ''"> YHJHWCMX2_YJGCL = #{yjgcl}, </if>
            <if test="wcgcl != null and wcgcl != ''"> YHJHWCMX2_WCGCL = #{wcgcl}, </if>
            <if test="jhksrq != null and jhksrq != ''"> YHJHWCMX2_JHKSRQ = to_date(#{jhksrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'), </if>
            <if test="jhjsrq != null and jhjsrq != ''"> YHJHWCMX2_JHJSRQ = to_date(#{jhjsrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'), </if>
            <if test="sjksrq != null and sjksrq != ''"> YHJHWCMX2_SJKSRQ = to_date(#{sjksrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'), </if>
            <if test="sjjsrq != null and sjjsrq != ''"> YHJHWCMX2_SJJSRQ = to_date(#{sjjsrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'), </if>
            <if test="bz != null and bz != ''"> YHJHWCMX2_BZ = #{bz}, </if>
        </set>
        WHERE YHJHWCMX2_ID = #{id}
    </update>

    <select id="getWcSgjhmxById" parameterType="String" resultType="com.hdsx.rcyh.entity.Sgjhwcmx">
        SELECT YHJHWCMX2_ID id,YHJHWCMX2_MID mid,YHJHWCMX2_XMNR xmnr,YHJHWCMX2_QDZH qdzh,YHJHWCMX2_ZDZH zdzh,
            YHJHWCMX2_YJGCL yjgcl, YHJHWCMX2_WCGCL wcgcl, YHJHWCMX2_JHKSRQ jhksrq, YHJHWCMX2_JHJSRQ jhjsrq,
            YHJHWCMX2_SJKSRQ sjksrq, YHJHWCMX2_SJJSRQ sjjsrq, YHJHWCMX2_BZ bz
        FROM YDSGWCMX WHERE YHJHWCMX2_MID = #{id}
    </select>
    
    <delete id="deleteWcSgjhmx">
        DELETE FROM YDSGWCMX WHERE YHJHWCMX2_MID IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteWcSgjh">
        DELETE FROM YDSGWC WHERE YDWC_ID IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteSgjhmxByIds">
        DELETE FROM YDSGJHSBMX WHERE YHJHMX2_ID IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteWcSgjhmxByIds">
        DELETE FROM YDSGWCMX WHERE YHJHWCMX2_ID IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>