<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.rcyh.mapper.SjqsMapper">
	<resultMap id="sjqsBean" type="com.hdsx.rcyh.entity.Sjqs">
		<id column="SJQS_ID" property="id"/>
		<result column="SJQS_GIS" property="gis"/>
		<result column="SJQS_KSRQ" property="ksrq"/>
		<result column="SJQS_DDRQ" property="ddrq"/>
		<result column="SJQS_JSRQ" property="jsrq"/>
		<result column="SJQS_QSRY" property="qsry"/>
		<result column="SJQS_QSRYID" property="qsryid"/>
		<result column="SJQS_QSXX" property="qsxx"/>
		<result column="SJQS_YXZT" property="yxzt"/>
		<result column="SJQS_DWMC" property="dwmc"/>
		<result column="SJQS_DWBH" property="dwbh"/>
		<result column="SJQS_DWID" property="dwid"/>
		<result column="SJQS_BMMC" property="bmmc"/>
		<result column="SJQS_BMBH" property="bmbh"/>
		<result column="SJQS_BHID" property="bhid"/>
		<result column="SJQS_TBR" property="tbr"/>
		<result column="SJQS_TBRID" property="tbrid"/>
		<result column="SJQS_TBRQ" property="tbrq"/>
		<result column="SJQS_SPZT" property="spzt"/>
		<result column="SJQS_FILE" property="fileid"/>
		<result column="SJQS_WFID" property="wfid"/>
		<result column="SJQS_NOTE" property="note"/>
		<result column="SJQS_LXCODE" property="lxcode"/>
		<result column="SJQS_XCFX" property="xcfx"/>
	</resultMap>

	<resultMap id="sjqsPZ" type="com.hdsx.rcyh.entity.SjqsPZ">
		<id column="QSDH" property="qsdh"/>
		<result column="SJQS_LXCODE" property="lxcode"/>
		<result column="SJQS_XCFX" property="xcfx"/>
		<result column="SJQS_QSRY" property="qsry"/>
		<result column="SJQS_QSXX" property="qsxx"/>
	</resultMap>
	<insert id="insertSjqs" parameterType="com.hdsx.rcyh.entity.Sjqs">
		insert into rcyh_sjqs(SJQS_GIS,SJQS_KSRQ,SJQS_DDRQ,
		SJQS_JSRQ,SJQS_QSRY,SJQS_QSRYID,SJQS_QSXX,SJQS_YXZT,
		SJQS_ID,SJQS_DWMC,SJQS_DWBH,SJQS_DWID,SJQS_BMMC,
		SJQS_BMBH,SJQS_BHID,SJQS_TBR,SJQS_TBRID,SJQS_TBRQ,
		SJQS_SPZT,SJQS_FILE,SJQS_WFID,SJQS_NOTE,SJQS_LXCODE,SJQS_XCFX)
		values (#{gis,jdbcType=VARCHAR},to_date(#{ksrq},'yyyy/mm/dd'),to_date(#{ddrq},'yyyy/mm/dd'),to_date(#{jsrq},'yyyy/mm/dd'),
		#{qsry,jdbcType=VARCHAR},#{qsryid,jdbcType=VARCHAR},#{qsxx,jdbcType=VARCHAR},#{yxzt,jdbcType=VARCHAR},#{id,jdbcType=VARCHAR},
		#{dwmc,jdbcType=VARCHAR},#{dwbh,jdbcType=VARCHAR},#{dwid,jdbcType=VARCHAR},#{bmmc,jdbcType=VARCHAR},#{bmbh,jdbcType=VARCHAR},
		#{bhid,jdbcType=VARCHAR},#{tbr,jdbcType=VARCHAR},#{tbrid,jdbcType=VARCHAR},to_date(#{tbrq},'yyyy/mm/dd'),
		#{spzt,jdbcType=VARCHAR},#{fileid,jdbcType=VARCHAR},#{wfid,jdbcType=VARCHAR},#{note,jdbcType=VARCHAR},#{lxcode,jdbcType=VARCHAR},
		#{xcfx,jdbcType=VARCHAR})
	</insert>
	<!-- 查询事件清扫任务列表数据 -->
	<select id="getSjqsrwList" parameterType="hashmap" resultType="com.hdsx.rcyh.entity.Sjqs">
		SELECT
		T.SJQS_GIS GIS,to_char(T.SJQS_KSRQ,'yyyy/mm/dd') KSRQ,T.SJQS_DDRQ DDRQ,to_char(T.SJQS_JSRQ,'yyyy/mm/dd') JSRQ,T.SJQS_QSRY QSRY,T.SJQS_QSRYID QSRYID,T.SJQS_QSXX QSXX,T.SJQS_YXZT YXZT,T.SJQS_ID ID,T.SJQS_DWMC DWMC,T.SJQS_DWBH DWBH,T.SJQS_DWID DWID,T.SJQS_BMMC BMMC,T.SJQS_BMBH BMBH,T.SJQS_BHID BHID,T.SJQS_TBR TBR,T.SJQS_TBRID TBRID,T.SJQS_TBRQ TBRQ,T.SJQS_SPZT SPZT,T.SJQS_FILE FILEID,T.SJQS_WFID WFID,T.SJQS_NOTE NOTE,T.SJQS_LXCODE LXCODE,E.MEIJUMC XCFX
		FROM rcyh_sjqs T
		LEFT JOIN htgl_enumerate E ON T.SJQS_XCFX=E.MEIJUBM
		WHERE 1=1
		<if test="lxcode != null and lxcode != ''">
			and t.sjqs_lxcode=#{lxcode}
		</if>
		<if test="xcfx != null and xcfx != ''">
			and t.sjqs_xcfx=#{xcfx}
		</if>
		<if test="ksrq != null and ksrq != ''">
			and to_date(to_char(t.sjqs_jsrq,'yyyy/mm/dd'),'yyyy/mm/dd')>to_date(#{ksrq},'yyyy/mm/dd')
		</if>
		<if test="jsrq != null and jsrq != ''">
			and to_date(to_char(t.sjqs_ksrq,'yyyy/mm/dd'),'yyyy/mm/dd')&lt;to_date(#{jsrq},'yyyy/mm/dd')
		</if>
		ORDER BY TO_DATE(KSRQ,'yyyy/mm/dd') DESC
	</select>

	<!--添加事件清扫配置信息-->
	<insert id="insertSjqsPZ" parameterType="com.hdsx.rcyh.entity.SjqsPZ">
		INSERT INTO RCYH_SJQSPZ (
		<if test="id != null and id !=''">SJQS_ID</if>
		<if test="lxcode != null and lxcode !=''">,SJQS_LXCODE</if>
		<if test="xcfx != null and xcfx !=''">,SJQS_XCFX</if>
		<if test="qsry != null and qsry !=''">,SJQS_QSRY</if>
		<if test="qsxx != null and qsxx !=''">,SJQS_QSXX</if>
		) VALUES (
		<if test="id != null and id !=''">#{id}</if>
		<if test="lxcode != null and lxcode !=''">,#{lxcode}</if>
		<if test="xcfx != null and xcfx !=''">, #{xcfx}</if>
		<if test="qsry != null and qsry !=''">, #{qsry}</if>
		<if test="qsxx != null and qsxx !=''">, #{qsxx}</if>
		)
	</insert>

	<!-- 根据“人员”查询其所能进行的“事件清扫”信息 -->
	<select id="getSjqsPz" parameterType="String" resultType="java.util.Map">
		SELECT * FROM (select * from RCYH_SJQSPZ WHERE SJQS_QSRY=#{qsry} order by SJQS_ID DESC)WHERE ROWNUM='1'
	</select>


</mapper>