<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.rcyh.mapper.XccsfxMapper">


  <select id="selectDay" parameterType="java.lang.String" resultType="java.util.HashMap">
     select e.XCRW_TBRQ,e.XCRW_XCLX,e.XCCS_RCS,e.qdxc_count from (select *from (select a.XCRW_DWMC,a.XCRW_DWBH,A.XCRW_TBRQ,A.XCRW_XCLX,
    (select count(XCRW_TBRQ) from qdxc b where b.XCRW_DWBH=a.XCRW_DWBH
    )as qdxc_count from qdxc a)c left join
    (select XCCS_DWMC,XCCS_DWBH,XCCS_DWID,XCCS_XCLX,XCCS_RCS from xccspz)
    d on
    c.XCRW_DWBH=d.XCCS_DWBH) e ORDER BY XCRW_TBRQ ASC
 </select>


  <select id="selectMonth" parameterType="java.lang.String" resultType="java.util.HashMap">
    select e.XCRW_TBRQ,e.XCRW_XCLX,e.XCCS_RCS,e.qdxc_count from (select * from (select to_char(XCRW_TBRQ, 'yyyy/mm')as XCRW_TBRQ ,XCRW_DWMC,XCRW_DWBH,XCRW_XCLX,
    (select count(XCRW_TBRQ) from qdxc b where b.XCRW_DWBH=a.XCRW_DWBH
    )as qdxc_count from qdxc a)c left join (select XCCS_DWMC,XCCS_DWBH,XCCS_DWID,XCCS_XCLX,XCCS_RCS from xccspz)
    d on
    c.XCRW_DWBH=d.XCCS_DWBH) e ORDER BY XCRW_TBRQ ASC
  </select>


  <select id="selectYear" parameterType="java.lang.String" resultType="java.util.HashMap">
    select e.XCRW_TBRQ,e.XCRW_XCLX,e.XCCS_RCS,e.qdxc_count from (select * from (select to_char(XCRW_TBRQ, 'yyyy')as XCRW_TBRQ ,XCRW_DWMC,XCRW_DWBH,XCRW_XCLX,
    (select count(XCRW_TBRQ) from qdxc b where b.XCRW_DWBH=a.XCRW_DWBH
    )as qdxc_count from qdxc a)c left join (select XCCS_DWMC,XCCS_DWBH,XCCS_DWID,XCCS_XCLX,XCCS_RCS from xccspz)
    d on
    c.XCRW_DWBH=d.XCCS_DWBH) e ORDER BY XCRW_TBRQ ASC
  </select>
</mapper>