<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.rcyh.mapper.XcsbMapper">
  <resultMap id="BaseResultMap" type="com.hdsx.rcyh.entity.Xcsb">
    <id column="RWMX_ID" jdbcType="VARCHAR" property="rwmxId" />
    <result column="RWMX_MID" jdbcType="VARCHAR" property="rwmxMid" />
    <result column="RWMX_DWMC" jdbcType="VARCHAR" property="rwmxDwmc" />
    <result column="RWMX_DWBH" jdbcType="VARCHAR" property="rwmxDwbh" />
    <result column="RWMX_DWID" jdbcType="VARCHAR" property="rwmxDwid" />
    <result column="RWMX_BMMC" jdbcType="VARCHAR" property="rwmxBmmc" />
    <result column="RWMX_BMBH" jdbcType="VARCHAR" property="rwmxBmbh" />
    <result column="RWMX_BMID" jdbcType="VARCHAR" property="rwmxBmid" />
    <result column="RWMX_TBR" jdbcType="VARCHAR" property="rwmxTbr" />
    <result column="RWMX_TBRID" jdbcType="VARCHAR" property="rwmxTbrid" />
    <result column="RWMX_TBRQ" jdbcType="DATE" property="rwmxTbrq" />
    <result column="RWMX_NOTE" jdbcType="VARCHAR" property="rwmxNote" />
    <result column="RWMX_SJDH" jdbcType="VARCHAR" property="rwmxSjdh" />
    <result column="RWMX_GPS" jdbcType="VARCHAR" property="rwmxGps" />
    <result column="RWMX_SJLX" jdbcType="VARCHAR" property="rwmxSjlx" />
    <result column="RWMX_SJSM" jdbcType="VARCHAR" property="rwmxSjsm" />
    <result column="RWMX_JJD" jdbcType="VARCHAR" property="rwmxJjd" />
    <result column="RWMX_TP" jdbcType="VARCHAR" property="rwmxTp" />
    <result column="RWMX_SP" jdbcType="VARCHAR" property="rwmxSp" />
    <result column="RWMX_ZH" jdbcType="VARCHAR" property="rwmxZh" />
    <result column="RWMX_FXSJ" jdbcType="DATE" property="rwmxFxsj" />
    <result column="RWMX_SHLX" jdbcType="VARCHAR" property="rwmxShlx" />
    <result column="RWMX_BHLX" jdbcType="VARCHAR" property="rwmxBhlx" />
    <result column="RWMX_BHSL" jdbcType="DECIMAL" property="rwmxBhsl" />
    <result column="RWMX_KHNR" jdbcType="VARCHAR" property="rwmxKhnr" />
    <result column="RWMX_CD" jdbcType="VARCHAR" property="rwmxCd" />
    <result column="RWMX_CZFS" jdbcType="VARCHAR" property="rwmxCzfs" />
  </resultMap>
  <delete id="delete" parameterType="java.lang.String">
    delete from XCSB
    where RWMX_ID = #{rwmxId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hdsx.rcyh.entity.Xcsb">
    insert into XCSB (RWMX_ID, RWMX_MID, RWMX_DWMC, 
      RWMX_DWBH, RWMX_DWID, RWMX_BMMC, 
      RWMX_BMBH, RWMX_BMID, RWMX_TBR, 
      RWMX_TBRID, RWMX_TBRQ, RWMX_NOTE, 
      RWMX_SJDH, RWMX_GPS, RWMX_SJLX, 
      RWMX_SJSM, RWMX_JJD, RWMX_TP, 
      RWMX_SP, RWMX_ZH, RWMX_FXSJ, 
      RWMX_SHLX, RWMX_BHLX, RWMX_BHSL, 
      RWMX_KHNR, RWMX_CD, RWMX_CZFS
      )
    values (#{rwmxId,jdbcType=VARCHAR}, #{rwmxMid,jdbcType=VARCHAR}, #{rwmxDwmc,jdbcType=VARCHAR}, 
      #{rwmxDwbh,jdbcType=VARCHAR}, #{rwmxDwid,jdbcType=VARCHAR}, #{rwmxBmmc,jdbcType=VARCHAR}, 
      #{rwmxBmbh,jdbcType=VARCHAR}, #{rwmxBmid,jdbcType=VARCHAR}, #{rwmxTbr,jdbcType=VARCHAR}, 
      #{rwmxTbrid,jdbcType=VARCHAR}, #{rwmxTbrq,jdbcType=DATE}, #{rwmxNote,jdbcType=VARCHAR}, 
      #{rwmxSjdh,jdbcType=VARCHAR}, #{rwmxGps,jdbcType=VARCHAR}, #{rwmxSjlx,jdbcType=VARCHAR}, 
      #{rwmxSjsm,jdbcType=VARCHAR}, #{rwmxJjd,jdbcType=VARCHAR}, #{rwmxTp,jdbcType=VARCHAR}, 
      #{rwmxSp,jdbcType=VARCHAR}, #{rwmxZh,jdbcType=VARCHAR}, #{rwmxFxsj,jdbcType=DATE}, 
      #{rwmxShlx,jdbcType=VARCHAR}, #{rwmxBhlx,jdbcType=VARCHAR}, #{rwmxBhsl,jdbcType=DECIMAL}, 
      #{rwmxKhnr,jdbcType=VARCHAR}, #{rwmxCd,jdbcType=VARCHAR}, #{rwmxCzfs,jdbcType=VARCHAR}
      )
  </insert>
  <select id="QueryOne" parameterType="java.lang.String" resultMap="BaseResultMap">
    select RWMX_ID, RWMX_MID, RWMX_DWMC, RWMX_DWBH, RWMX_DWID, RWMX_BMMC, RWMX_BMBH, 
    RWMX_BMID, RWMX_TBR, RWMX_TBRID, RWMX_TBRQ, RWMX_NOTE, RWMX_SJDH, RWMX_GPS, RWMX_SJLX, 
    RWMX_SJSM, RWMX_JJD, RWMX_TP, RWMX_SP, RWMX_ZH, RWMX_FXSJ, RWMX_SHLX, RWMX_BHLX, 
    RWMX_BHSL, RWMX_KHNR, RWMX_CD, RWMX_CZFS
    from XCSB
    where RWMX_ID = #{rwmxId,jdbcType=VARCHAR}
  </select>
</mapper>