<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.rcyh.mapper.YhrwdshMapper">

    <resultMap type="com.hdsx.rcyh.entity.Yhrwd" id="yhrwddjbh">
        <result column="YHRWD_DJBH" property="yhrwddjbh"/>
        <result column="YHRWD_LX" property="yhrwdlx"/>
        <result column="YHRWD_RQ" property="yhrwdrq"/>
        <result column="YHRWD_YD" property="yhrwdyd"/>
        <result column="YHRWD_YHDW" property="yhrwdyhdw"/>
        <result column="YHRWD_GYDW" property="yhrwdgydw"/>
        <result column="YHRWD_RWDSHZT" property="yhrwdrwdshzt"/>
        <result column="YHRWD_YSZT" property="yhrwdyszt"/>

        <collection property="yhrwmxes" ofType="com.hdsx.rcyh.entity.Yhrwmx" column="yhrwdid">
            <result column="YHRWD_ID" property="yhrwdid"/><!-- 这里的column对应的是下面查询的别名，而不是表字段名 -->
            <result column="YHRWD_DJBH" property="yhrwdmxdjbh"/><!-- property对应JavaBean中的属性名 -->
            <result column="RWMX_SJDH" property="yhrwdsjbh"/><!-- property对应JavaBean中的属性名 -->
            <result column="RWMX_DWMC" property="yhrwdxcdw"/>
            <result column="RWMX_XCFX" property="yhrwdxcfx"/>
            <result column="RWMX_CD" property="yhrwdcd"/>
            <result column="RWMX_DWGC" property="yhrwddwgc"/>
            <result column="RWMX_BHLX" property="yhrwdbhlx"/>
            <result column="RWMX_BHSL" property="yhrwdbhsl"/>
            <result column="RWMX_GCLLX" property="yhrwdgcllx"/>
            <result column="RWMX_ZH" property="yhrwdzh"/>
            <result column="RWMX_BHSM" property="yhrwdbhsm"/>
            <result column="RWMX_TBRQ" property="yhrwdsj"/>
        </collection>

    </resultMap>

    <select id="queryyhdw" resultType="java.util.Map">
        SELECT distinct  HTXX_XMSGLX  from DJSJ_HTXX
    </select>

    <select id="querygldw" resultType="java.util.Map">
        SELECT distinct  HTXX_XMGLDW from DJSJ_HTXX
    </select>
    <!--主表添加-->
    <!--<insert id="insert" parameterType="com.hdsx.rcyh.entity.Yhrwd">
        insert into XXRW_YHRWD
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="yhrwddjbh != null" >YHRWD_DJBH,</if>
            <if test="yhrwdlx != null" >YHRWD_LX,</if>
            <if test="yhrwdrq != null" >YHRWD_RQ,</if>
            <if test="yhrwdyd != null" >YHRWD_YD,</if>
            <if test="yhrwdyhdw != null" >YHRWD_YHDW,</if>
            <if test="yhrwdgydw != null" >YHRWD_GYDW,</if>
            YHRWD_RWDSHZT,
            YHRWD_YSZT
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="yhrwddjbh != null" >#{yhrwddjbh},</if>
            <if test="yhrwdlx != null" >#{yhrwdlx},</if>
            <if test="yhrwdrq != null" >to_date(#{yhrwdrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'),</if>
            <if test="yhrwdyd != null" >to_date(#{yhrwdyd,jdbcType=TIMESTAMP},'yyyy/mm'),</if>
            <if test="yhrwdyhdw != null" >#{yhrwdyhdw},</if>
            <if test="yhrwdgydw != null" >#{yhrwdgydw},</if>
            '未处理',
             '未处理'
        </trim>
    </insert>-->


    <insert id="insert" parameterType="com.hdsx.rcyh.entity.Yhrwd">
        insert into XXRW_YHRWD
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="yhrwddjbh != null" >YHRWD_DJBH,</if>
            <if test="yhrwdlx != null" >YHRWD_LX,</if>
            <if test="yhrwdrq != null" >YHRWD_RQ,</if>
            <if test="yhrwdyd != null" >YHRWD_YD,</if>
            <if test="yhrwdyhdw != null" >YHRWD_YHDW,</if>
            <if test="yhrwdgydw != null" >YHRWD_GYDW,</if>
           YHRWD_RWDSHZT,
            YHRWD_YSZT,

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="yhrwddjbh != null" >#{yhrwddjbh},</if>
            <if test="yhrwdlx != null" >#{yhrwdlx},</if>
            <if test="yhrwdrq != null" >to_date(#{yhrwdrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'),</if>
            <if test="yhrwdyd != null" >to_date(#{yhrwdyd,jdbcType=TIMESTAMP},'yyyy/mm'),</if>
            <if test="yhrwdyhdw != null" >#{yhrwdyhdw},</if>
            <if test="yhrwdgydw != null" >#{yhrwdgydw},</if>
           '未处理',
            '未处理',
        </trim>
    </insert>

    <!--子表添加-->
    <insert id="insertzb" parameterType="com.hdsx.rcyh.entity.Yhrwmx">
        insert into XXRW_YHRWD_MX
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="yhrwdid != null" >YHRWD_ID,</if>
            <if test="yhrwdmxdjbh != null" >YHRWD_DJBH,</if>
            <if test="yhrwdsjbh != null" >RWMX_SJDH,</if>
            <if test="yhrwdxcdw != null" >RWMX_DWMC,</if>
            <if test="yhrwdxcfx != null" >RWMX_XCFX,</if>
            <if test="yhrwdcd != null" >RWMX_CD,</if>
            <if test="yhrwddwgc != null" >RWMX_DWGC,</if>
            <if test="yhrwdbhlx != null" >RWMX_BHLX,</if>
            <if test="yhrwdbhsl != null" >RWMX_BHSL,</if>
            <if test="yhrwdgcllx != null" >RWMX_GCLLX,</if>
            <if test="yhrwdzh != null" >RWMX_ZH,</if>
            <if test="yhrwdbhsm != null" >RWMX_BHSM,</if>
            <if test="yhrwdsj != null" >RWMX_TBRQ,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="yhrwdid != null" >#{yhrwdid},</if>
            <if test="yhrwdmxdjbh != null" >#{yhrwdmxdjbh},</if>
            <if test="yhrwdsjbh != null" >#{yhrwdsjbh},</if>
            <if test="yhrwdxcdw != null" >#{yhrwdxcdw},</if>
            <if test="yhrwdcd != null" >#{yhrwdcd},</if>
            <if test="yhrwdxcfx != null" >#{yhrwdxcfx},</if>
            <if test="yhrwddwgc != null" >#{yhrwddwgc},</if>
            <if test="yhrwdbhlx != null" >#{yhrwdbhlx},</if>
            <if test="yhrwdbhsl != null" >#{yhrwdbhsl},</if>
            <if test="yhrwdgcllx != null" >#{yhrwdgcllx},</if>
            <if test="yhrwdzh != null" >#{yhrwdzh},</if>
            <if test="yhrwdbhsm != null" >#{yhrwdbhsm},</if>
            <if test="yhrwdsj != null" >to_date(#{yhrwdsj,jdbcType=TIMESTAMP},'yyyy/mm/dd'),</if>
        </trim>
    </insert>
<!--主表-->
    <update id="update" parameterType="com.hdsx.rcyh.entity.Yhrwd">
        update XXRW_YHRWD
        <set>
            <if test="yhrwdlx != null" >YHRWD_LX=#{yhrwdlx},</if>
            <if test="yhrwdrq != null" >YHRWD_RQ=to_date(#{yhrwdrq,jdbcType=TIMESTAMP},'yyyy/mm/dd'),</if>
            <if test="yhrwdyd != null" >YHRWD_YD=to_date(#{yhrwdyd,jdbcType=TIMESTAMP},'yyyy/mm'),</if>
            <if test="yhrwdyhdw != null" >YHRWD_YHDW=#{yhrwdyhdw},</if>
            <if test="yhrwdgydw != null" >YHRWD_GYDW=#{yhrwdgydw},</if>
            <if test="yhrwdrwdshzt != null" >YHRWD_RWDSHZT=#{yhrwdrwdshzt},</if>
            <if test="yhrwdyszt != null" >YHRWD_YSZT=#{yhrwdyszt},</if>
        </set>
        where 1=1 and YHRWD_DJBH=#{yhrwddjbh}
    </update>

    <!--&lt;!&ndash;子表&ndash;&gt;
    <update id="updatezb" parameterType="com.hdsx.rcyh.entity.Yhrwmx">
        update XXRW_YHRWD
        <set>
            <if test="yhrwdid != null" >YHRWD_ID=#{yhrwdid},</if>
            <if test="yhrwdmxdjbh != null" >YHRWD_DJBH=#{yhrwdmxdjbh},</if>
            <if test="yhrwdsjbh != null" >YHRWD_SJBH=#{yhrwdsjbh},</if>
            <if test="yhrwdxcdw != null" >YHRWD_XCDW=#{yhrwdxcdw},</if>
            <if test="yhrwdxcfx != null" >YHRWD_XCFX=#{yhrwdxcfx},</if>
            <if test="yhrwdcd != null" >YHRWD_CD=#{yhrwdcd},</if>
            <if test="yhrwddwgc != null" >YHRWD_DWGC=#{yhrwddwgc},</if>
            <if test="yhrwdbhlx != null" >YHRWD_BHLX=#{yhrwdbhlx},</if>
            <if test="yhrwdbhsl != null" >YHRWD_BHSL=#{yhrwdbhsl},</if>
            <if test="yhrwdgcllx != null" >YHRWD_GCLLX=#{yhrwdgcllx},</if>
            <if test="yhrwdzh != null" >YHRWD_ZH=#{yhrwdzh},</if>
            <if test="yhrwdbhsm != null" >YHRWD_BHSM=#{yhrwdbhsm},</if>
            <if test="yhrwdsj != null" >YHRWD_SJ=to_date(#{yhrwdsj},'yyyy/mm/dd'),</if>
        </set>
        where 1=1 and YHRWD_ID=#{yhrwdid}
    </update>
-->
    <!--删除主表-->
    <delete id="delete" parameterType="java.lang.String">
        delete from XXRW_YHRWD
        where YHRWD_DJBH = #{yhrwddjbh}
    </delete>

    <!--删除子表-->
    <delete id="deletezb" parameterType="java.lang.String">
        delete from XXRW_YHRWD_MX
        where YHRWD_DJBH = #{yhrwdmxdjbh}
    </delete>

    <select id="getYhrwdshList" parameterType="hashmap" resultMap="yhrwddjbh">
        select * from ( select YHRWD_DJBH,YHRWD_LX,to_char(YHRWD_RQ,'yyyy/mm/dd') YHRWD_RQ,to_char(YHRWD_YD,'yyyy/mm') YHRWD_YD,
        YHRWD_YHDW,YHRWD_GYDW,YHRWD_RWDSHZT,YHRWD_YSZT
        from XXRW_YHRWD) A
        left join (select YHRWD_ID,YHRWD_DJBH,RWMX_SJDH,RWMX_DWMC,RWMX_XCFX,RWMX_CD,RWMX_DWGC
        ,RWMX_BHLX,RWMX_BHSL,RWMX_GCLLX,RWMX_ZH,RWMX_BHSM,to_char(RWMX_TBRQ,'yyyy/mm/dd') RWMX_TBRQ
        from XXRW_YHRWD_MX)
        B on A.YHRWD_DJBH=B.YHRWD_DJBH
        where 1=1

        <if test="yhrwdlx != null and yhrwdlx !=''">
          and A.YHRWD_LX=#{yhrwdlx}
        </if>
        <if test="yhrwdyd != null and yhrwdyd !=''">
            and A.YHRWD_YD=#{yhrwdyd}
        </if>
        <if test="yhrwdyhdw != null and yhrwdyhdw !=''">
            and A.YHRWD_YHDW=#{yhrwdyhdw}
        </if>
        <if test="yhrwdgydw != null and yhrwdgydw !=''">
            and A.YHRWD_GYDW=#{yhrwdgydw}
        </if>



    </select>




    <update id="updateshzt" parameterType="hashmap">
        update XXRW_YHRWD
        set
          YHRWD_RWDSHZT = #{yhrwdrwdshzt,jdbcType=VARCHAR}
        where
          YHRWD_DJBH = #{yhrwddjbh,jdbcType=VARCHAR}
    </update>

    <update id="updateyszt" parameterType="hashmap">
        update XXRW_YHRWD
        set
          YHRWD_YSZT=#{yhrwdyszt,jdbcType=VARCHAR}
        where
          YHRWD_DJBH = #{yhrwddjbh,jdbcType=VARCHAR}
    </update>

</mapper>

