<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.lkpd.mapper.LkpdDrMapper">

    <!-- 查询所有pci录入数据 -->
    <select id="getLksjdrByDclx" resultType="com.hdsx.lkpd.entity.Qmldb" parameterType="hashmap">
        select q.*,l.* from
          (
            select qm.*,'K'||qm.szhh||'-K'||qm.ezhh as ldName,mj.value as fxName,l.lxname from jcpd_qmldb qm
            left join htgl_ldb ld
            on ld.lxcode=qm.lxcode and qm.szhh>=ld.szhh and ld.ezhh>qm.szhh
            left join htgl_lxb l
            on qm.lxcode=l.lxcode
            left join htgl_mjlx mj
            on qm.fx=mj.key
            where qm.fx=#{xcfx} and qm.bbid=(select qmbbid from jcpd_bbkzb where bbid=#{bbid})

        <if test="ldcode != null and ldcode != ''">
            and ld.ldcode=#{ldcode}
        </if>
        <if test="lmlx != null and lmlx != ''">
            and qm.lmlx=#{lmlx}
        </if>
        )q left join
        (select dcid,lxid,ldid as qmldid,bbid as dcbbid,dcsj,dcry from jcpd_lkdczb where bbid=#{bbid} and lxid=#{lxid} )l
        on q.ldid=l.qmldid
        order by q.lxname,q.szhh

    </select>

    <!-- 通过检测类型查询路况导入数据 -->
    <select id="getLksjdrByJclx" parameterType="hashmap" resultType="com.hdsx.lkpd.entity.Lmjcb">
        SELECT QM.LXCODE,'K'||QM.SZHH||'-K'||QM.EZHH AS QMNAME,MJ.VALUE AS FXNAME,
        L.JCID,L.BBID,L.LDID,L.JCLX,NVL(JCD1,-1) JCD1,NVL(JCD2,-1) JCD2,NVL(JCD3,-1) JCD3,NVL(JCD4,-1) JCD4,NVL(JCD5,-1) JCD5,
        NVL(JCD6,-1) JCD6,NVL(JCD7,-1) JCD7,NVL(JCD8,-1) JCD8,NVL(JCD9,-1) JCD9,NVL(JCD10,-1) JCD10,NVL(ZHI,-1) ZHI,NVL(PJZ,-1) PJZ
        FROM JCPD_QMLDB QM
        LEFT JOIN HTGL_MJLX MJ
        ON QM.FX=MJ.KEY
        JOIN (SELECT * FROM JCPD_LMJCB WHERE JCLX=#{jclx} AND BBID=#{bbid}) L
        ON QM.LDID=L.LDID
        WHERE QM.LXCODE=#{lxcode} AND QM.BBID=(SELECT QMBBID FROM JCPD_BBKZB WHERE BBID=#{bbid})
        AND QM.FX=#{xcfx}
        ORDER BY QM.SZHH

    </select>

    <!-- 路况调查中查询各种调查类型的数量 -->
    <select id="getLksjdrfb" parameterType="String" resultType="com.hdsx.lkpd.entity.Lkdcfb">
		select * from jcpd_lkdcfb
		where dcid=#{dcid}
		order by lxid
	</select>

    <!-- 查询pci -->
    <select id="getPci" parameterType="com.hdsx.lkpd.entity.Qmldb" resultType="Double">
		select round(nvl(100-#{a0}*power(100*sum(qz*ljsj*dwkf)/(#{cd}*#{lmkd}),#{a1}),100),2) as pci from
		(select nvl(l.ljsj,0) ljsj,lx.qz,lx.dwkf,lx.lxname from jcpd_lkdcfb l
		left join jcpd_lkdclxb lx
		on l.lxid=lx.lxid
		where dcid=(select dcid from jcpd_lkdczb where ldid=#{ldid} and bbid=#{dcbbid} and lxid=#{lxid}))
	</select>
    <!-- 查询sci -->
    <select id="getSci" parameterType="com.hdsx.lkpd.entity.Qmldb" resultType="Double">
		select nvl(sum(qz*(case when(100-total)>0 then (100-total) else 0 end)),100) as sci from
		(select lxName,sum(ljsj*dwkf) as total,avg(qz) as qz from
		(select nvl(l.ljsj,0) ljsj,lx.dwkf,lx.qz,lx.lxname from jcpd_lkdcfb l
		left join jcpd_lkdclxb lx
		on l.lxid=lx.lxid
		where dcid=(select dcid from jcpd_lkdczb where ldid=#{ldid} and bbid=#{dcbbid} and lxid='02'))
		group by lxName)
	</select>
    <!-- 查询bci -->
    <select id="getBci" parameterType="com.hdsx.lkpd.entity.Qmldb" resultType="Double">
		select (case when (100-nvl(max(total),0))>0 then (100-nvl(max(total),0)) else 0 end) as bci from
		(select lxName,sum(ljsj*dwkf) as total from
		(select nvl(l.ljsj,0) ljsj,lx.dwkf,lx.lxname from jcpd_lkdcfb l
		left join jcpd_lkdclxb lx
		on l.lxid=lx.lxid
		where dcid=(select dcid from jcpd_lkdczb where ldid=#{ldid} and bbid=#{dcbbid} and lxid='03'))
		group by lxName)
	</select>
    <!-- 查询tci -->
    <select id="getTci" parameterType="com.hdsx.lkpd.entity.Qmldb" resultType="Double">
		select round(nvl(sum(qz*(case when (100-total)>0 then (100-total) elsr 0 end)),100),2) as tci from
		(select lxName,sum(ljsj*dwkf) as total,avg(qz) as qz from
		(select nvl(l.ljsj,0) ljsj,lx.dwkf,lx.qz,lx.lxname from jcpd_lkdcfb l
		left join jcpd_lkdclxb lx
		on l.lxid=lx.lxid
		where dcid=(select dcid from jcpd_lkdczb where ldid=#{ldid} and bbid=#{dcbbid} and lxid='04'))
		group by lxName)
	</select>

</mapper>