<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.lkpd.mapper.LkpdCxMapper">

    <!-- 查询明细表数据数据 -->
    <select id="getMxbForLksjcx" resultType="com.hdsx.lkpd.entity.Qmldb" parameterType="hashmap">
        select t.*,q.lxcode,q.szhh,q.ezhh,q.cd,mj.value as fxName, bb.bbmc as bbname from jcpd_lkpdmxb t
				join jcpd_qmldb q
				on t.ldid=q.ldid
				left join htgl_mjlx mj
				on q.fx=mj.key
				left join JCPD_BBKZB bb on t.bbid=bb.bbid
				where t.bbid=#{bbid}
				<if test="lxcode != null and lxcode != ''">
                    and q.lxcode=#{lxcode}
                </if>
				<if test="szhh != null and szhh != ''">
					and q.ezhh>${szhh}
				</if>
				<if test="ezhh != null and ezhh != ''">
					and q.szhh&lt;${ezhh}
				</if>
				<if test="xcfx != null and xcfx != ''">
					and q.fx = #{xcfx}
				</if>
				and q.lmlx=#{lmlx}
				order by q.szhh,q.fx

    </select>

	<!-- 查询汇总表数据数据 -->
	<select id="getHzbForLksjcx" resultType="hashmap" parameterType="hashmap">
		select pdfa,lxcode,szhh,ezhh,xcfx,pddj,cd,
		(case when mqi1>=70 then mqi1 end) mqi1,(case when mqi1>=55 and mqi1&lt;70 then mqi1 end) mqi2,(case when mqi1&lt;55 then mqi1 end) mqi3,
		(case when pqi1>=70 then pqi1 end) pqi1,(case when pqi1>=55 and pqi1&lt;70 then pqi1 end) pqi2,(case when pqi1&lt;55 then pqi1 end) pqi3,
		(case when sci1>=70 then sci1 end) sci1,(case when sci1>=55 and sci1&lt;70 then sci1 end) sci2,(case when sci1&lt;55 then sci1 end) sci3,
		(case when tci1>=70 then tci1 end) tci1,(case when tci1>=55 and tci1&lt;70 then tci1 end) tci2,(case when tci1&lt;55 then tci1 end) tci3,
		(case when bci1>=70 then bci1 end) bci1,(case when bci1>=55 and bci1&lt;70 then bci1 end) bci2,(case when bci1&lt;55 then bci1 end) bci3,
		pdsj
		from
		(
		SELECT BBMC PDFA,LXCODE,TT.SZHH SZHH,TT.EZHH EZHH,(SELECT MJ.VALUE FROM HTGL_MJLX MJ WHERE MJ.KEY=TT.FX) XCFX,'' pddj,TT.CD CD,pdsj,
		SUM(TT.MQI*TT.CD)/SUM(TT.CD) MQI1,SUM(TT.PQI*TT.CD)/SUM(TT.CD) PQI1,SUM(TT.SCI*TT.CD)/SUM(TT.CD) SCI1,SUM(TT.BCI*TT.CD)/SUM(TT.CD) BCI1,SUM(TT.TCI*TT.CD)/SUM(TT.CD) TCI1
		FROM
		(SELECT QM.LXCODE,QM.LDID LDCODE,QM.SZHH SZHH,QM.EZHH EZHH,BB.BBID BBID,BB.BBMC,TO_NUMBER(MX.MQI) MQI,
		TO_NUMBER(MX.PQI) PQI,TO_NUMBER(MX.SCI) SCI,TO_NUMBER(MX.BCI) BCI,TO_NUMBER(MX.TCI) TCI,QM.CD/1000 CD,QM.FX FX,
		mx.pdsj pdsj
		FROM JCPD_BBKZB  BB
		LEFT JOIN JCPD_LKPDMXB MX ON BB.BBID=MX.BBID
		LEFT JOIN JCPD_QMLDB QM ON QM.LDID=MX.LDID
		where 1=1
		<if test="lxcode != null and lxcode != ''">
			and qm.lxcode=#{lxcode}
		</if>
		<if test="szhh != null and szhh != ''">
			and qm.ezhh>${szhh}
		</if>
		<if test="ezhh != null and ezhh != ''">
			and qm.szhh&lt;${ezhh}
		</if>
		<if test="lmlx != null and lmlx != ''">
			and qm.lmlx=#{lmlx}
		</if>
		<if test="bbid != null and bbid != ''">
			and bb.bbid=#{bbid}
		</if>

		)TT
		GROUP BY TT.SZHH,TT.EZHH,CD,FX,LXCODE,BBMC,pdsj
		)
		order by szhh,xcfx

	</select>
	<!-- 获取单据编号 -->
	<select id="getDjbhForLksjcx" resultType="hashmap">
		select decode(max(bbid),null,10001,max(bbid)+1) djbh from JCPD_BBKZB
	</select>
	<!--  通过单据编号查询是否有方案数据  -->
	<select id="getIsFaDataByDjbh" resultType="integer" parameterType="integer">
		select count(*) from JCPD_BBKZB where bbid=#{value}
	</select>
	<!--  添加方案  -->

	<insert id="addFaForLksjcx" parameterType="com.hdsx.lkpd.entity.Pdfa">
		insert into JCPD_BBKZB
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="djbh != null" >bbid,</if>
			<if test="djbh != null" >qmbbid,</if>
			<if test="famc != null" >bbmc,</if>
			<if test="sjsjxx != null" >sjsjxx,</if>
			<if test="sjsjsx != null" >sjsjsx,</if>
			<if test="tbdw != null" >tbdw,</if>
			<if test="tbbm != null" >tbbm,</if>
			<if test="tbsj != null" >tbsj,</if>
			<if test="tbr != null" >tbr,</if>
			<if test="remark != null" >remark,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="djbh != null" >#{djbh},</if>
			<if test="djbh != null" >10220,</if>
			<if test="famc != null" >#{famc},</if>
			<if test="sjsjxx != null" >#{sjsjxx},</if>
			<if test="sjsjsx != null" >#{sjsjsx},</if>
			<if test="tbdw != null" >#{tbdw},</if>
			<if test="tbbm != null" >#{tbbm},</if>
			<if test="tbsj != null" >#{tbsj},</if>
			<if test="tbr != null" >#{tbr},</if>
			<if test="remark != null" >#{remark},</if>
		</trim>
	</insert>

	<!--  查询方案数据列表 -->
	<select id="getFaForLksjcx" resultType="com.hdsx.lkpd.entity.Pdfa" parameterType="hashmap">
		select BBID djbh, BBMC famc,SJSJSX, SJSJXX, TBR, TBSJ, TBDW, TBBM, REMARK
		from JCPD_BBKZB fa
		where 1=1
		<if test="famc != null and famc != ''">
			and fa.bbmc like '%'||#{famc}||'%'
		</if>
		<!--  这里这个时间先这样写，后面会改，应该是大于小于的关系  -->
		<if test="sjsjxx != null and sjsjxx != ''">
			and fa.sjsjxx=#{sjsjxx}
		</if>
		<if test="sjsjsx != null and sjsjsx != ''">
			and fa.sjsjsx=#{sjsjsx}
		</if>

		order by djbh

	</select>

	<!--  编辑方案数据  -->
	<update id="editFaForLksjcx" parameterType="com.hdsx.lkpd.entity.Pdfa" >
		update JCPD_BBKZB
		<set>
			<if test="famc != null" >bbmc=#{famc},</if>
			<if test="sjsjxx != null" >sjsjxx=#{sjsjxx},</if>
			<if test="sjsjsx != null" >sjsjsx=#{sjsjsx},</if>
			<if test="tbdw != null" >tbdw=#{tbdw},</if>
			<if test="tbbm != null" >tbbm=#{tbbm},</if>
			<if test="tbsj != null" >tbsj=#{tbsj},</if>
			<if test="tbr != null" >tbr=#{tbr},</if>
			<if test="remark != null" >remark=#{remark},</if>
		</set>
		where 1=1 and bbid=#{djbh}
	</update>

	<!--  删除评定方案  -->
	<delete id="delFaForLksjcx" parameterType="java.util.List" >
		delete from JCPD_BBKZB
		where bbid in
		<foreach collection="list" item="id"  open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<!-- 清空某个版本某个路段上的评定明细数据 -->
	<delete id="dropMxb" parameterType="hashmap">
		DELETE FROM JCPD_LKPDMXB
		WHERE BBID=#{bbid}

	</delete>

	<!-- 获取路面四项指标 -->
	<select id="getLmjc" parameterType="hashmap" resultType="com.hdsx.lkpd.entity.Qmldb">
		select qm.*,nvl(lm1.zhi,100) as rqi,lm1.pjz as iri,nvl(lm2.zhi,100) as rdi,
		nvl(lm3.zhi,100) as sri,nvl(lm4.zhi,100) as pssi
		from jcpd_qmldb qm
		left join (select * from JCPD_LMJCB WHERE to_date(jcrq,'yyyy-mm-dd')&lt;=
		(select to_date(sjsjsx,'yyyy-mm-dd') from jcpd_bbkzb where bbid=#{bbid})
		and to_date(jcrq,'yyyy-mm-dd')>=
		(select to_date(sjsjxx,'yyyy-mm-dd') from jcpd_bbkzb where bbid=#{bbid})
		and jclx='0401')lm1
		on qm.ldid=lm1.ldid
		left join (select * from JCPD_LMJCB WHERE to_date(jcrq,'yyyy-mm-dd')&lt;=
		(select to_date(sjsjsx,'yyyy-mm-dd') from jcpd_bbkzb where bbid=#{bbid})
		and to_date(jcrq,'yyyy-mm-dd')>=
		(select to_date(sjsjxx,'yyyy-mm-dd') from jcpd_bbkzb where bbid=#{bbid}) and jclx='0402')lm2
		on qm.ldid=lm2.ldid
		left join (select * from JCPD_LMJCB WHERE to_date(jcrq,'yyyy-mm-dd')&lt;=
		(select to_date(sjsjsx,'yyyy-mm-dd') from jcpd_bbkzb where bbid=#{bbid})
		and to_date(jcrq,'yyyy-mm-dd')>=
		(select to_date(sjsjxx,'yyyy-mm-dd') from jcpd_bbkzb where bbid=#{bbid}) and jclx='0403')lm3
		on qm.ldid=lm3.ldid
		left join (select * from JCPD_LMJCB WHERE to_date(jcrq,'yyyy-mm-dd')&lt;=
		(select to_date(sjsjsx,'yyyy-mm-dd') from jcpd_bbkzb where bbid=#{bbid})
		and to_date(jcrq,'yyyy-mm-dd')>=
		(select to_date(sjsjxx,'yyyy-mm-dd') from jcpd_bbkzb where bbid=#{bbid}) and jclx='0404')lm4
		on qm.ldid=lm4.ldid
		where 1=1
		<if test="dwbm != null and dwbm != ''">
			and qm.dwbm like #{dwbm}||'%'
		</if>
	</select>

	<!-- 明细表中插入数据 -->
	<insert id="addMxb" parameterType="com.hdsx.lkpd.entity.Qmldb">
		INSERT INTO JCPD_LKPDMXB(LDID,BBID,MQI,PQI,PCI,RQI,PSSI,RDI,SRI,SCI,BCI,TCI,IRI,pdsj)
		VALUES(#{ldid},#{pdbbid},#{mqi},#{pqi},#{pci},#{rqi},#{pssi},#{rdi},#{sri},#{sci},#{bci},#{tci},#{iri},#{pdsj})
	</insert>
	<update id="updateFaZtYfb" parameterType="com.hdsx.lkpd.entity.Qmldb">
		update JCPD_BBKZB set fbzt='已发布' where bbid=#{pdbbid}
	</update>

	<!-- 查询pci -->
	<select id="getPcicx" parameterType="com.hdsx.lkpd.entity.Qmldb" resultType="Double">
		select round(nvl(100-#{a0}*power(100*sum(qz*ljsj*dwkf)/(#{cd}*#{lmkd}),#{a1}),100),2) as pci from
		(select nvl(l.ljsj,0) ljsj,lx.qz,lx.dwkf,lx.lxname from jcpd_lkdcfb l
		left join jcpd_lkdclxb lx
		on l.lxid=lx.lxid
		where dcid=(select dcid from jcpd_lkdczb where
      to_date(dcsj,'yyyy-mm-dd')&lt;=
      (select to_date(sjsjsx,'yyyy-mm-dd') from jcpd_bbkzb where bbid=#{pdbbid})
      and to_date(dcsj,'yyyy-mm-dd')>=
      (select to_date(sjsjxx,'yyyy-mm-dd') from jcpd_bbkzb where bbid=#{pdbbid})
      and ldid=#{ldid} and lxid=#{lxid}))

	</select>
	<!-- 查询sci -->
	<select id="getScicx" parameterType="com.hdsx.lkpd.entity.Qmldb" resultType="Double">
		select nvl(sum(qz*(case when(100-total)>0 then (100-total) else 0 end)),100) as sci from
		(select lxName,sum(ljsj*dwkf) as total,avg(qz) as qz from
		(select nvl(l.ljsj,0) ljsj,lx.dwkf,lx.qz,lx.lxname from jcpd_lkdcfb l
		left join jcpd_lkdclxb lx
		on l.lxid=lx.lxid
		where dcid=(select dcid from jcpd_lkdczb where
      to_date(dcsj,'yyyy-mm-dd')&lt;=
      (select to_date(sjsjsx,'yyyy-mm-dd') from jcpd_bbkzb where bbid=#{pdbbid})
      and to_date(dcsj,'yyyy-mm-dd')>=
      (select to_date(sjsjxx,'yyyy-mm-dd') from jcpd_bbkzb where bbid=#{pdbbid})
      and ldid=#{ldid} and lxid='02'))
		group by lxName)
	</select>
	<!-- 查询bci -->
	<select id="getBcicx" parameterType="com.hdsx.lkpd.entity.Qmldb" resultType="Double">
		select (case when (100-nvl(max(total),0))>0 then (100-nvl(max(total),0)) else 0 end) as bci from
		(select lxName,sum(ljsj*dwkf) as total from
		(select nvl(l.ljsj,0) ljsj,lx.dwkf,lx.lxname from jcpd_lkdcfb l
		left join jcpd_lkdclxb lx
		on l.lxid=lx.lxid
		where dcid=(select dcid from jcpd_lkdczb where
      to_date(dcsj,'yyyy-mm-dd')&lt;=
      (select to_date(sjsjsx,'yyyy-mm-dd') from jcpd_bbkzb where bbid=#{pdbbid})
      and to_date(dcsj,'yyyy-mm-dd')>=
      (select to_date(sjsjxx,'yyyy-mm-dd') from jcpd_bbkzb where bbid=#{pdbbid})
      and ldid=#{ldid} and lxid='03'))
		group by lxName)
	</select>
	<!-- 查询tci -->
	<select id="getTcicx" parameterType="com.hdsx.lkpd.entity.Qmldb" resultType="Double">
		select round(nvl(sum(qz*(case when (100-total)>0 then (100-total) else 0 end)),100),2) as tci from
		(select lxName,sum(ljsj*dwkf) as total,avg(qz) as qz from
		(select nvl(l.ljsj,0) ljsj,lx.dwkf,lx.qz,lx.lxname from jcpd_lkdcfb l
		left join jcpd_lkdclxb lx
		on l.lxid=lx.lxid
		where dcid=(select dcid from jcpd_lkdczb where
      to_date(dcsj,'yyyy-mm-dd')&lt;=
      (select to_date(sjsjsx,'yyyy-mm-dd') from jcpd_bbkzb where bbid=#{pdbbid})
      and to_date(dcsj,'yyyy-mm-dd')>=
      (select to_date(sjsjxx,'yyyy-mm-dd') from jcpd_bbkzb where bbid=#{pdbbid})
      and ldid=#{ldid} and lxid='04'))
		group by lxName)
	</select>

</mapper>