<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.zxyh.mapper.GcysCbrylwtMapper">

    <resultMap type="com.hdsx.zxyh.entity.Gcyscbr" id="cbrylwt">
        <result column="djbh" property="djbh"/>
        <result column="gcmc" property="gcmc"/>
        <result column="htbh" property="htbh"/>
        <result column="cbdw" property="cbdw"/>
        <result column="ramark" property="ramark"/>
        <result column="bzdw" property="bzdw"/>
        <result column="bzrq" property="bzrq"/>
        <result column="dwbm" property="dwbm"/>
        <result column="spzt" property="spzt"/>
        <collection property="mx" ofType="com.hdsx.zxyh.entity.Gcyscbrmx" column="cbrylwtmx">
            <result column="mxdjbh" property="mxdjbh"/>
            <result column="xh" property="xh"/>
            <result column="ylwtmc" property="ylwtmc"/>
            <result column="zynr" property="zynr"/>
            <result column="mxremark" property="mxremark"/>
        </collection>

    </resultMap>
    <select id="getCbrylwtList" parameterType="hashmap" resultMap="cbrylwt">

        select djbh, gcmc, htbh, cbdw, ramark, bzdw, to_char(bzrq,'yyyy-mm-dd') bzrq, dwbm, spzt,mx.* from ZXYH_CBRYLWT g left join ZXYH_CBRYLWTMX mx on g.djbh=mx.mxdjbh
        where 1=1
        <if test="dwbh != null and dwbh != ''">
            and g.dwbm like '%'||#{dwbh}||'%'
        </if>
        <if test="htbh != null and htbh != ''">
            and g.htbh=#{htbh}
        </if>
        <if test="ksrq != null and ksrq != ''">
            and to_date(bzrq,'yyyy-mm-dd')>=to_date(#{ksrq},'yyyy-mm-dd')
        </if>
        <if test="jsrq != null and jsrq != ''">
            and to_date(bzrq,'yyyy-mm-dd')&lt;=to_date(#{jsrq},'yyyy-mm-dd')
        </if>
        order by djbh,xh
    </select>


    <select id="getCbrylwtInfoByDjbh" parameterType="hashmap" resultMap="cbrylwt">
        select djbh, gcmc, htbh, cbdw, ramark, bzdw, to_char(bzrq,'yyyy-mm-dd') bzrq, dwbm, spzt,mx.* from ZXYH_CBRYLWT g left join ZXYH_CBRYLWTMX mx on g.djbh=mx.mxdjbh
        where 1=1
        <if test="djbh != null and djbh != ''">
            and g.djbh=#{djbh}
        </if>
        order by djbh,xh
    </select>

    <insert id="addCbrylwtForGcys" parameterType="com.hdsx.zxyh.entity.Gcyscbr">
        insert into ZXYH_CBRYLWT
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="djbh != null" >djbh,</if>
            <if test="gcmc != null" >gcmc,</if>
            <if test="htbh != null" >htbh,</if>
            <if test="cbdw != null" >cbdw,</if>
            <if test="ramark != null" >ramark,</if>
            <if test="bzdw != null" >bzdw,</if>
            <if test="bzrq != null" >bzrq,</if>
            <if test="dwbm != null" >dwbm,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="djbh != null" >#{djbh},</if>
            <if test="gcmc != null" >#{gcmc},</if>
            <if test="htbh != null" >#{htbh},</if>
            <if test="cbdw != null" >#{cbdw},</if>
            <if test="ramark != null" >#{ramark},</if>
            <if test="bzdw != null" >#{bzdw},</if>
            <if test="bzrq != null" >to_date(#{bzrq},'yyyy-mm-dd'),</if>
            <if test="dwbm != null" >#{dwbm},</if>

        </trim>
    </insert>

    <insert id="addCbrylwtMxForGcys" parameterType="com.hdsx.zxyh.entity.Gcyscbr">
        begin
        <foreach collection="mx" item="item" index="index" separator=";">
            insert into ZXYH_CBRYLWTMX(mxdjbh, xh, ylwtmc, zynr, mxremark)  values
            (trim(#{djbh,jdbcType=VARCHAR}),trim(#{item.xh,jdbcType=VARCHAR}),trim(#{item.ylwtmc,jdbcType=VARCHAR}),trim(#{item.zynr,jdbcType=VARCHAR}),trim(#{item.mxremark,jdbcType=VARCHAR}))
        </foreach>
        ;end;
    </insert>

    <delete id="delCbrylwtMxByDjbh" parameterType="string">
        delete from ZXYH_CBRYLWTMX where mxdjbh=#{value}
    </delete>

    <update id="editCbrylwtForGcys" parameterType="com.hdsx.zxyh.entity.Gcyssqd" >
        update ZXYH_CBRYLWT
        <set>
            <if test="djbh != null" >djbh=#{djbh},</if>
            <if test="gcmc != null" >gcmc=#{gcmc},</if>
            <if test="htbh != null" >htbh=#{htbh},</if>
            <if test="cbdw != null" >cbdw=#{cbdw},</if>
            <if test="ramark != null" >ramark=#{ramark},</if>
            <if test="bzdw != null" >bzdw=#{bzdw},</if>
            <if test="bzrq != null" >bzrq=to_date(#{bzrq},'yyyy-mm-dd'),</if>
            <if test="dwbm != null" >dwbm=#{dwbm},</if>
        </set>
        where 1=1 and djbh=#{djbh}
    </update>

    <delete id="delCbrylwtMxForGcys" parameterType="java.util.List" >
        delete from ZXYH_CBRYLWTMX
        where mxdjbh in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>

    </delete>
    <delete id="delCbrylwtForGcys" parameterType="java.util.List" >
        delete from ZXYH_CBRYLWT
        where djbh in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="spCbrylwtForGcys" parameterType="hashmap">
        update ZXYH_CBRYLWT set SPZT=#{spzt}
        where djbh in
        <foreach collection="djbhs" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>



</mapper>