<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.zxyh.mapper.GcysSqdMapper">


    <select id="getGcyssqdList" parameterType="hashmap" resultType="com.hdsx.zxyh.entity.Gcyssqd">

        select sqbh, xmmc, sqsj, htbh, sgdw, gldw, htksgq, htjsgq, yslx, sgfyj, jldwyj, gcjsbyj, jyfzbyj, tbr,to_char(tbrq,'yyyy-mm-dd') tbrq, tbdw, tbbm, tbdwbm, tbbmbm,spzt from ZXYH_GCYSSQD g
        where 1=1
        <if test="dwbh != null and dwbh != ''">
            and g.tbdwbm like '%'||#{dwbh}||'%'
        </if>
        <if test="htbh != null and htbh != ''">
            and g.htbh=#{htbh}
        </if>
        <if test="ksrq != null and ksrq != ''">
            and to_date(sqsj,'yyyy-mm-dd')>=to_date(#{ksrq},'yyyy-mm-dd')
        </if>
        <if test="jsrq != null and jsrq != ''">
            and to_date(sqsj,'yyyy-mm-dd')&lt;=to_date(#{jsrq},'yyyy-mm-dd')
        </if>
    </select>


    <select id="getGcyssqdInfoBySqbh" parameterType="hashmap" resultType="com.hdsx.zxyh.entity.Gcyssqd">
        select sqbh, xmmc, sqsj, htbh, sgdw, gldw, htksgq, htjsgq, yslx, sgfyj, jldwyj, gcjsbyj, jyfzbyj, tbr,to_char(tbrq,'yyyy-mm-dd') tbrq, tbdw, tbbm, tbdwbm, tbbmbm,spzt from ZXYH_GCYSSQD g
        where 1=1
        <if test="sqbh != null and sqbh != ''">
            and g.sqbh=#{sqbh}
        </if>
    </select>

    <insert id="addGcyssqdForGcys" parameterType="com.hdsx.zxyh.entity.Gcyssqd">
        insert into ZXYH_GCYSSQD
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="sqbh != null" >sqbh,</if>
            <if test="xmmc != null" >xmmc,</if>
            <if test="sqsj != null" >sqsj,</if>
            <if test="htbh != null" >htbh,</if>
            <if test="sgdw != null" >sgdw,</if>
            <if test="gldw != null" >gldw,</if>
            <if test="htksgq != null" >htksgq,</if>
            <if test="htjsgq != null" >htjsgq,</if>
            <if test="yslx != null" >yslx,</if>
            <if test="sgfyj != null" >sgfyj,</if>
            <if test="jldwyj != null" >jldwyj,</if>
            <if test="gcjsbyj != null" >gcjsbyj,</if>
            <if test="jyfzbyj != null" >jyfzbyj,</if>
            <if test="tbr != null" >tbr,</if>
            <if test="tbrq != null" >tbrq,</if>
            <if test="tbdw != null" >tbdw,</if>
            <if test="tbbm != null" >tbbm,</if>
            <if test="tbdwbm != null" >tbdwbm,</if>
            <if test="tbbmbm != null" >tbbmbm,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="sqbh != null" >#{sqbh},</if>
            <if test="xmmc != null" >#{xmmc},</if>
            <if test="sqsj != null" >#{sqsj},</if>
            <if test="htbh != null" >#{htbh},</if>
            <if test="sgdw != null" >#{sgdw},</if>
            <if test="gldw != null" >#{gldw},</if>
            <if test="htksgq != null" >#{htksgq},</if>
            <if test="htjsgq != null" >#{htjsgq},</if>
            <if test="yslx != null" >#{yslx},</if>
            <if test="sgfyj != null" >#{sgfyj},</if>
            <if test="jldwyj != null" >#{jldwyj},</if>
            <if test="gcjsbyj != null" >#{gcjsbyj},</if>
            <if test="jyfzbyj != null" >#{jyfzbyj},</if>
            <if test="tbr != null" >#{tbr},</if>
            <if test="tbrq != null" >to_date(#{tbrq},'yyyy-mm-dd'),</if>
            <if test="tbdw != null" >#{tbdw},</if>
            <if test="tbbm != null" >#{tbbm},</if>
            <if test="tbdwbm != null" >#{tbdwbm},</if>
            <if test="tbbmbm != null" >#{tbbmbm},</if>

        </trim>
    </insert>

    <update id="editGcyssqdForGcys" parameterType="com.hdsx.zxyh.entity.Gcyssqd" >
        update ZXYH_GCYSSQD
        <set>
            <if test="sqbh != null" >sqbh=#{sqbh},</if>
            <if test="xmmc != null" >xmmc=#{xmmc},</if>
            <if test="sqsj != null" >sqsj=#{sqsj},</if>
            <if test="htbh != null" >htbh=#{htbh},</if>
            <if test="sgdw != null" >sgdw=#{sgdw},</if>
            <if test="gldw != null" >gldw=#{gldw},</if>
            <if test="htksgq != null" >htksgq=#{htksgq},</if>
            <if test="htjsgq != null" >htjsgq=#{htjsgq},</if>
            <if test="yslx != null" >yslx=#{yslx},</if>
            <if test="sgfyj != null" >sgfyj=#{sgfyj},</if>
            <if test="jldwyj != null" >jldwyj=#{jldwyj},</if>
            <if test="gcjsbyj != null" >gcjsbyj=#{gcjsbyj},</if>
            <if test="jyfzbyj != null" >jyfzbyj=#{jyfzbyj},</if>
            <if test="tbr != null" >tbr=#{tbr},</if>
            <if test="tbrq != null" >tbrq=to_date(#{tbrq},'yyyy-mm-dd'),</if>
            <if test="tbdw != null" >tbdw=#{tbdw},</if>
            <if test="tbbm != null" >tbbm=#{tbbm},</if>
            <if test="tbdwbm != null" >tbdwbm=#{tbdwbm},</if>
            <if test="tbbmbm != null" >tbbmbm=#{tbbmbm},</if>
        </set>
        where 1=1 and sqbh=#{sqbh}
    </update>

    <delete id="delGcyssqdForGcys" parameterType="java.util.List" >
        delete from ZXYH_GCYSSQD
        where sqbh in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="spGcyssqdForGcys" parameterType="hashmap">
        update ZXYH_GCYSSQD set SPZT=#{spzt}
        where sqbh in
        <foreach collection="djbhs" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


</mapper>