<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.zxyh.mapper.JczbqkbMapper">

    <!-- 定义数据库字段与实体对象的映射关系 -->
    <resultMap id="jczbqkbBean" type="com.hdsx.zxyh.entity.Jczbqkb">
        <id column="id" property="id"/>
        <result column="htbh" property="htbh"/>
        <result column="jcrq" property="jcrq"/>
        <result column="jcr" property="jcr"/>
        <result column="xmmc" property="xmmc"/>
        <result column="sgdw" property="sgdw"/>
        <result column="gldw" property="gldw"/>
        <result column="htje" property="htje"/>
        <result column="fjhj" property="fjhj"/>
        <!-- 一对多的关系 -->
        <!-- property: 指的是集合属性的值, ofType：指的是集合中元素的类型 -->
        <collection property="list" ofType="com.hdsx.zxyh.entity.Jczbqkbmx" select="selectMx" column="id">
        </collection>
    </resultMap>

    <resultMap id="jczbqkbmxBean" type="com.hdsx.zxyh.entity.Jczbqkbmx">
        <id column="mxid" property="mxid"/>
        <result column="jcid" property="jcid"/>
        <result column="htlyid" property="htlyid"/>
        <result column="htlynr" property="htlynr"/>
        <result column="fj" property="fj"/>
    </resultMap>
    <select id="selectMx" resultMap="jczbqkbmxBean">
      select * from ZXYH_JCZBQKB_MX where jcid=#{id}
    </select>
    <select id="getJczbqkb" parameterType="hashmap" resultMap="jczbqkbBean">
      select *
      from ZXYH_JCZBQKB
      where 1 = 1
      <if test="htbh != null and htbh !=''">
          and htbh = #{htbh}
      </if>
      <if test="gldw != null and gldw !=''">
          and gldw = #{gldw}
      </if>
    </select>

    <insert id="addJczbqkb" parameterType="com.hdsx.zxyh.entity.Jczbqkb">
        insert into ZXYH_JCZBQKB
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                id,
            </if>
            <if test="htbh !=null and htbh !=''">
                htbh,
            </if>
            <if test="jcrq !=null">
                jcrq,
            </if>
            <if test="jcr != null and jcr !=''">
                jcr,
            </if>
            <if test="xmmc != null and xmmc !=''">
                xmmc,
            </if>
            <if test="sgdw != null and sgdw !=''">
                sgdw,
            </if>
            <if test="gldw != null and gldw !=''">
                gldw,
            </if>
            <if test="htje != null and htje !=''">
                htje,
            </if>
            <if test="fjhj != null and fjhj !=''">
                fjhj,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                #{id},
            </if>
            <if test="htbh !=null and htbh !=''">
                #{htbh},
            </if>
            <if test="jcrq !=null">
                #{jcrq},
            </if>
            <if test="jcr != null and jcr !=''">
                #{jcr},
            </if>
            <if test="xmmc != null and xmmc !=''">
                #{xmmc},
            </if>
            <if test="sgdw != null and sgdw !=''">
                #{sgdw},
            </if>
            <if test="gldw != null and gldw !=''">
                #{gldw},
            </if>
            <if test="htje != null and htje !=''">
                #{htje},
            </if>
            <if test="fjhj != null and fjhj !=''">
                #{fjhj},
            </if>
        </trim>
    </insert>

    <insert id="addJczbqkbMx" parameterType="list">
        BEGIN
        <foreach collection ="list" item="item" index= "index" separator =" ">
          insert into ZXYH_JCZBQKB_MX
            (MXID, JCID, HTLYID, HTLYNR, FJ)
          values
          (
            #{item.mxid},
            #{item.jcid},
            #{item.htlyid},
            #{item.htlynr},
            #{item.fj}
          );
        </foreach>
        COMMIT;
        END;
    </insert>

    <delete id="deleteJczbqkbMx" parameterType="string">
        DELETE FROM ZXYH_JCZBQKB_MX WHERE JCID IN
        <foreach collection="array" item="jcid" open="(" close=")" separator=",">
            #{jcid}
        </foreach>
    </delete>

    <delete id="deleteJczbqkb" parameterType="string">
        DELETE FROM ZXYH_JCZBQKB WHERE id IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="updateJczbqkb" parameterType="com.hdsx.zxyh.entity.Jczbqkb">
        update ZXYH_JCZBQKB
        <set>
            <if test="htbh !=null and htbh !=''">
                htbh=#{htbh},
            </if>
            <if test="jcrq !=null ">
                jcrq=#{jcrq},
            </if>
            <if test="jcr != null and jcr !=''">
                jcr=#{jcr},
            </if>
            <if test="xmmc != null and xmmc !=''">
                xmmc=#{xmmc},
            </if>
            <if test="sgdw != null and sgdw !=''">
                sgdw=#{sgdw},
            </if>
            <if test="gldw != null and gldw !=''">
                gldw=#{gldw},
            </if>
            <if test="htje != null and htje !=''">
                htje=#{htje},
            </if>
            <if test="fjhj != null and fjhj !=''">
                fjhj=#{fjhj},
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>