<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.zxyh.mapper.KgsqdMapper">

    <!-- 定义数据库字段与实体对象的映射关系 -->
    <resultMap id="kgsqdBean" type="com.hdsx.zxyh.entity.Kgsqd">
        <id column="djbh" property="djbh"/>
        <result column="htbh" property="htbh"/>
        <result column="bpzdwz" property="bpzdwz"/>
        <result column="zxkfx" property="zxkfx"/>
        <result column="isxl" property="isxl"/>
        <result column="isfd" property="isfd"/>
        <result column="xcfzr" property="xcfzr"/>
        <result column="lxdh" property="lxdh" />
        <result column="sgzbqksm" property="sgzbqksm" />
        <result column="spyj" property="spyj" />
        <result column="tbdw" property="tbdw" />
        <result column="tbrq" property="tbrq" />
        <result column="zt" property="zt"/>
        <result column="gcxm" property="gcxm"/>
        <result column="cbdw" property="cbdw"/>
        <result column="gldw" property="gldw"/>
        <result column="htmc" property="htmc"/>
        <result column="lxmc" property="lxmc"/>
        <result column="qdzh" property="qdzh"/>
        <result column="zdzh" property="zdzh"/>
        <result column="fx" property="fx"/>
    </resultMap>
    
    <select id="getAll" resultMap="kgsqdBean">
        select * from zxyh_kgsqd
    </select>

    <insert id="addKgsqd" parameterType="com.hdsx.zxyh.entity.Kgsqd">
        insert into ZXYH_KGSQD
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="djbh != null and djbh != ''">
                djbh,
            </if>
            <if test="htbh != null and htbh != ''">
                htbh,
            </if>
            <if test="bpzdwz != null and bpzdwz != ''">
                bpzdwz,
            </if>
            <if test="zxkfx != null and zxkfx != ''">
                zxkfx,
            </if>
            <if test="isxl !=null and isxl !=''">
                isxl,
            </if>
            <if test="isfd != null and isfd !=''">
                isfd,
            </if>
            <if test="xcfzr !=null and xcfzr !=''">
                xcfzr,
            </if>
            <if test="lxdh !=null and lxdh !=''">
                lxdh,
            </if>
            <if test="sgzbqksm !=null and sgzbqksm!=''">
                sgzbqksm,
            </if>
            <if test="spyj !=null and spyj !=''">
                spyj,
            </if>
            <if test="tbdw != null and tbdw != ''">
                tbdw,
            </if>
            <if test="tbrq != null">
                tbrq,
            </if>
            <if test="zt !=null and zt !=''">
                zt,
            </if>
            <if test="gcxm !=null and gcxm !=''">
                gcxm,
            </if>
            <if test="cbdw !=null and cbdw !=''">
                cbdw,
            </if>
            <if test="gldw !=null and gldw !=''">
                gldw,
            </if>
            <if test="htmc !=null and htmc !=''">
                htmc,
            </if>
            <if test="lxmc !=null and lxmc !=''">
                lxmc,
            </if>
            <if test="qdzh !=null and qdzh !=''">
                qdzh,
            </if>
            <if test="zdzh !=null and zdzh !=''">
                zdzh,
            </if>
            <if test="fx !=null and fx != ''">
                fx,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="djbh != null and djbh != ''">
                #{djbh},
            </if>
            <if test="htbh != null and htbh != ''">
                #{htbh},
            </if>
            <if test="bpzdwz != null and bpzdwz != ''">
                #{bpzdwz},
            </if>
            <if test="zxkfx != null and zxkfx != ''">
                #{zxkfx},
            </if>
            <if test="isxl !=null and isxl !=''">
                #{isxl},
            </if>
            <if test="isfd != null and isfd !=''">
                #{isfd},
            </if>
            <if test="xcfzr !=null and xcfzr !=''">
                #{xcfzr},
            </if>
            <if test="lxdh !=null and lxdh !=''">
                #{lxdh},
            </if>
            <if test="sgzbqksm !=null and sgzbqksm!=''">
                #{sgzbqksm},
            </if>
            <if test="spyj !=null and spyj !=''">
                #{spyj},
            </if>
            <if test="tbdw != null and tbdw != ''">
                #{tbdw},
            </if>
            <if test="tbrq != null">
                to_date(#{tbrq}, 'yyyy/mm/dd'),
            </if>
            <if test="zt !=null and zt != ''">
                '未开工',
            </if>
            <if test="gcxm !=null and gcxm !=''">
                #{gcxm},
            </if>
            <if test="cbdw !=null and cbdw !=''">
                #{cbdw},
            </if>
            <if test="gldw !=null and gldw !=''">
                #{gldw},
            </if>
            <if test="htmc !=null and htmc !=''">
                #{htmc},
            </if>
            <if test="lxmc !=null and lxmc !=''">
                #{lxmc},
            </if>
            <if test="qdzh !=null and qdzh !=''">
                #{qdzh},
            </if>
            <if test="zdzh !=null and zdzh !=''">
                #{zdzh},
            </if>
            <if test="fx !=null and fx != ''">
                #{fx},
            </if>
        </trim>
    </insert>

    <update id="updateKgsqd" parameterType="com.hdsx.zxyh.entity.Kgsqd">
        update ZXYH_KGSQD
        <set>
            <if test="htbh != null and htbh != ''">
                htbh=#{htbh},
            </if>
            <if test="bpzdwz != null and bpzdwz != ''">
                bpzdwz=#{bpzdwz},
            </if>
            <if test="zxkfx != null and zxkfx != ''">
                zxkfx=#{zxkfx},
            </if>
            <if test="isxl !=null and isxl !=''">
                isxl=#{isxl},
            </if>
            <if test="isfd != null and isfd !=''">
                isfd=#{isfd},
            </if>
            <if test="xcfzr !=null and xcfzr !=''">
                xcfzr=#{xcfzr},
            </if>
            <if test="lxdh !=null and lxdh !=''">
                lxdh=#{lxdh},
            </if>
            <if test="sgzbqksm !=null and sgzbqksm!=''">
                sgzbqksm=#{sgzbqksm},
            </if>
            <if test="spyj !=null and spyj !=''">
                spyj=#{spyj},
            </if>
            <if test="tbdw != null and tbdw != ''">
                tbdw=#{tbdw},
            </if>
            <if test="tbrq != null and tbrq != ''">
                tbrq=to_date(#{tbrq}, 'yyyy/mm/dd'),
            </if>
            <if test="zt != null and zt != ''">
                zt=#{zt},
            </if>
            <if test="gcxm !=null and gcxm !=''">
                gcxm=#{gcxm},
            </if>
            <if test="cbdw !=null and cbdw !=''">
                cbdw=#{cbdw},
            </if>
            <if test="gldw !=null and gldw !=''">
                gldw=#{gldw},
            </if>
            <if test="htmc !=null and htmc !=''">
                htmc=#{htmc},
            </if>
            <if test="lxmc !=null and lxmc !=''">
                lxmc=#{lxmc},
            </if>
            <if test="qdzh !=null and qdzh !=''">
                qdzh=#{qdzh},
            </if>
            <if test="zdzh !=null and zdzh !=''">
                zdzh=#{zdzh},
            </if>
            <if test="fx != null and fx != ''">
                fx=#{fx},
            </if>
        </set>
        where djbh = #{djbh}
    </update>

    <delete id="deleteKgsqd">
        DELETE FROM ZXYH_KGSQD WHERE djbh IN
        <foreach collection="array" item="djbh" open="(" close=")" separator=",">
            #{djbh}
        </foreach>
    </delete>
</mapper>