<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.zxyh.mapper.KgsqdMapper">

    <!-- 定义数据库字段与实体对象的映射关系 -->
    <resultMap id="kgsqdBean" type="com.hdsx.zxyh.entity.Kgsqd">
        <id column="djbh" property="djbh"/>
        <result column="htbh" property="htbh"/>
        <result column="bpzdwz" property="bpzdwz"/>
        <result column="zxkfx" property="zxkfx"/>
        <result column="isxl" property="isxl"/>
        <result column="isfd" property="isfd"/>
        <result column="xcfzr" property="xcfzr"/>
        <result column="lxdh" property="lxdh" />
        <result column="sgzbqksm" property="sgzbqksm" />
        <result column="spyj" property="spyj" />
        <result column="tbdw" property="tbdw" />
        <result column="tbrq" property="tbrq" />
        <result column="zt" property="zt"/>
        <!-- 一对一的关系 -->
        <!-- property: 指的是属性的值, javaType：指的是元素的类型 -->
        <association property="yhxmxx" javaType="com.hdsx.zxyh.entity.Yhxmxx">
            <id column="yhhtxx_htbh" property="htbh" />
            <result column="yhhtxx_htmc" property="htmc" />
            <result column="yhhtxx_lxmc" property="lxmc" />
            <result column="yhhtxx_cd" property="cd"/>
            <result column="yhhtxx_qszh" property="qszh"/>
            <result column="yhhtxx_zzzh" property="zzzh"/>
            <result column="yhhtxx_dwgc" property="dwgc"/>
            <result column="yhhtxx_gcfl" property="gcfl"/>
            <result column="yhhtxx_htkgrq" property="htkgrq"/>
            <result column="yhhtxx_htwgrq" property="htwgrq"/>
            <result column="yhhtxx_htgq" property="htgq"/>
            <result column="yhhtxx_sjkgrq" property="sjkgrq"/>
            <result column="yhhtxx_sjwgsj" property="sjwgsj"/>
            <result column="yhhtxx_zgspdw" property="zgspdw"/>
            <result column="yhhtxx_wh" property="wh"/>
            <result column="yhhtxx_sprq" property="sprq"/>
            <result column="yhhtxx_lljdbm" property="lljdbm"/>
            <result column="yhhtxx_sglx" property="sglx"/>
            <result column="yhhtxx_gldw" property="gldw"/>
            <result column="yhhtxx_cbdw" property="cbdw"/>
            <result column="yhhtxx_jldw" property="jldw"/>
            <result column="yhhtxx_xmlxr" property="xmlxr"/>
            <result column="yhhtxx_lxdh" property="lxdh"/>
            <result column="yhhtxx_xmjs" property="xmjs"/>
        </association>
    </resultMap>
    
    <select id="getAll" resultMap="kgsqdBean">
        select * from zxyh_kgsqd kg left join djsj_htxx_yhxmxx ht on kg.htbh=ht.yhhtxx_htbh
    </select>

    <insert id="addKgsqd" parameterType="com.hdsx.zxyh.entity.Kgsqd">
        insert into ZXYH_KGSQD
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="djbh != null and djbh != ''">
              djbh,
          </if>
          <if test="htbh != null and htbh != ''">
              htbh,
          </if>
          <if test="bpzdwz != null and bpzdwz != ''">
              bpzdwz,
          </if>
          <if test="zxkfx != null and zxkfx != ''">
              zxkfx,
          </if>
          <if test="isxl !=null and isxl !=''">
              isxl,
          </if>
          <if test="isfd != null and isfd !=''">
              isfd,
          </if>
          <if test="xcfzr !=null and xcfzr !=''">
              xcfzr,
          </if>
          <if test="lxdh !=null and lxdh !=''">
              lxdh,
          </if>
          <if test="sgzbqksm !=null and sgzbqksm!=''">
              sgzbqksm,
          </if>
          <if test="spyj !=null and spyj !=''">
              spyj,
          </if>
          <if test="tbdw != null and tbdw != ''">
              tbdw,
          </if>
          <if test="tbrq != null">
              tbrq,
          </if>
          <if test="zt !=null and zt !=''">
              zt,
          </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="djbh != null and djbh != ''">
                #{djbh},
            </if>
            <if test="htbh != null and htbh != ''">
                #{htbh},
            </if>
            <if test="bpzdwz != null and bpzdwz != ''">
                #{bpzdwz},
            </if>
            <if test="zxkfx != null and zxkfx != ''">
                #{zxkfx},
            </if>
            <if test="isxl !=null and isxl !=''">
                #{isxl},
            </if>
            <if test="isfd != null and isfd !=''">
                #{isfd},
            </if>
            <if test="xcfzr !=null and xcfzr !=''">
                #{xcfzr},
            </if>
            <if test="lxdh !=null and lxdh !=''">
                #{lxdh},
            </if>
            <if test="sgzbqksm !=null and sgzbqksm!=''">
                #{sgzbqksm},
            </if>
            <if test="spyj !=null and spyj !=''">
                #{spyj},
            </if>
            <if test="tbdw != null and tbdw != ''">
                #{tbdw},
            </if>
            <if test="tbrq != null">
                to_date(#{tbrq}, 'yyyy/mm/dd'),
            </if>
            <if test="zt !=null and zt != ''">
                未开工,
            </if>
        </trim>
    </insert>

    <update id="updateKgsqd" parameterType="com.hdsx.zxyh.entity.Kgsqd">
        update ZXYH_KGSQD
        <set>
            <if test="htbh != null and htbh != ''">
                htbh=#{htbh},
            </if>
            <if test="bpzdwz != null and bpzdwz != ''">
                bpzdwz=#{bpzdwz},
            </if>
            <if test="zxkfx != null and zxkfx != ''">
                zxkfx=#{zxkfx}
            </if>
            <if test="isxl !=null and isxl !=''">
                isxl=#{isxl},
            </if>
            <if test="isfd != null and isfd !=''">
                isfd=#{isfd},
            </if>
            <if test="xcfzr !=null and xcfzr !=''">
                xcfzr=#{xcfzr},
            </if>
            <if test="lxdh !=null and lxdh !=''">
                lxdh=#{lxdh},
            </if>
            <if test="sgzbqksm !=null and sgzbqksm!=''">
                sgzbqksm=#{sgzbqksm},
            </if>
            <if test="spyj !=null and spyj !=''">
                spyj=#{spyj},
            </if>
            <if test="tbdw != null and tbdw != ''">
                tbdw=#{tbdw},
            </if>
            <if test="tbrq != null">
                tbrq=to_date(#{tbrq}, 'yyyy/mm/dd'),
            </if>
            <if test="zt != null and zt != ''">
                zt=#{zt}
            </if>
        </set>
        where djbh = #{djbh}
    </update>

    <delete id="deleteKgsqd">
        DELETE FROM ZXYH_KGSQD WHERE djbh IN
        <foreach collection="array" item="djbh" open="(" close=")" separator=",">
            #{djbh}
        </foreach>
    </delete>
</mapper>