<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.zxyh.mapper.LyjcMapper">

    <!-- 定义数据库字段与实体对象的映射关系 -->
    <resultMap id="lyjcBean" type="com.hdsx.zxyh.entity.Lyjc">
        <id column="id" property="id"/>
        <result column="htbh" property="htbh"/>
        <result column="jcrq" property="jcrq"/>
        <result column="jcr" property="jcr"/>
        <!-- 一对一的关系 -->
        <!-- property: 指的是属性的值, javaType：指的是元素的类型 -->
        <association property="htxx" javaType="com.hdsx.zxyh.entity.Htxx">
            <id column="htxx_id" property="id" />
            <result column="htxx_htbh" property="htbh"/>
            <result column="htxx_htmc" property="htmc"/>
            <result column="htxx_xmsglx" property="xmsglx" />
            <result column="htxx_xmgldw" property="xmgldw"/>
            <result column="htxx_htjehs" property="htjehs"/>
        </association>

        <!-- 一对多的关系 -->
        <!-- property: 指的是集合属性的值, ofType：指的是集合中元素的类型 -->
        <collection property="list" ofType="com.hdsx.zxyh.entity.Lyjcmx">
            <id column="lyjc_id" property="id"/>
            <result column="lyjc_mid" property="mid"/>
            <result column="lyjc_nr" property="nr"/>
            <result column="lyjc_bl" property="bl"/>
            <result column="lyjc_note" property="note"/>
            <result column="lyjc_je" property="je"/>
        </collection>
    </resultMap>

    <select id="getLyjc" parameterType="hashmap" resultMap="lyjcBean">
      select *
      from ZXYH_LYJC ly
      left join DJSJ_HTXX ht
      on ly.htbh = ht.htxx_htbh
      left join DJSJ_HTXX_LYJCMX lymx
      on lymx.lyjc_id in (select mxid from zxyh_lyjc_mx where lyjcid= ly.id)
      where 1 = 1
      <if test="htbh != null and htbh !=''">
          and ly.htbh = #{htbh}
      </if>
      <if test="gldw != null and gldw !=''">
          and ht.htxx_xmgldw = #{gldw}
      </if>
    </select>

    <insert id="addLyjc" parameterType="com.hdsx.zxyh.entity.Lyjc">
        insert into ZXYH_LYJC
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id !=null and id !=''">
            id,
          </if>
          <if test="htbh !=null and htbh !=''">
            htbh,
          </if>
          <if test="jcrq !=null and jcrq !=''">
            jcrq,
          </if>
          <if test="jcr != null and jcr !=''">
            jcr,
          </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                #{id},
            </if>
            <if test="htbh !=null and htbh !=''">
                #{htbh},
            </if>
            <if test="jcrq !=null and jcrq !=''">
                to_date(#{jcrq}, 'yyyy/mm/dd'),
            </if>
            <if test="jcr != null and jcr !=''">
                #{jcr},
            </if>
        </trim>
    </insert>

    <insert id="addLyjcMid" parameterType="list">
        BEGIN
        <foreach collection ="list" item="item" index= "index" separator =" ">
          insert into ZXYH_LYJC_MX
            (ID, LYJCID, MXID)
          values
          (
            #{item.id},
            #{item.lyjcid},
            #{item.mxid}
          );
        </foreach>
        COMMIT;
        END;
    </insert>

    <delete id="deleteLyjcMid" parameterType="string">
        delete FROM ZXYH_LYJC_MX WHERE LYJCID=#{lyjcid}
    </delete>

    <delete id="deleteLyjc" parameterType="string">
        delete from zxyh_lyjc where id = #{id}
    </delete>

    <update id="updateLyjc" parameterType="com.hdsx.zxyh.entity.Lyjc">
        update zxyh_lyjc
        <set>
            <if test="htbh !=null and htbh !=''">
                htbh=#{htbh},
            </if>
            <if test="jcrq !=null and jcrq !=''">
                jcrq=to_date(#{jcrq}, 'yyyy/mm/dd'),
            </if>
            <if test="jcr != null and jcr !=''">
                jcr=#{jcr}
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>