<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.zxyh.mapper.LyjcMapper">

    <!--&lt;!&ndash; 定义数据库字段与实体对象的映射关系 &ndash;&gt;-->
    <!--<resultMap id="lyjcBean" type="com.hdsx.zxyh.entity.Lyjc">-->
        <!--<id column="id" property="id"/>-->
        <!--<result column="htbh" property="htbh"/>-->
        <!--<result column="jcrq" property="jcrq"/>-->
        <!--<result column="jcr" property="jcr"/>-->
        <!--&lt;!&ndash; 一对一的关系 &ndash;&gt;-->
        <!--&lt;!&ndash; property: 指的是属性的值, javaType：指的是元素的类型 &ndash;&gt;-->
        <!--<association property="htxx" javaType="com.hdsx.zxyh.entity.Htxx">-->
            <!--<id column="htxx_id" property="id" />-->
            <!--<result column="htxx_htbh" property="htbh"/>-->
            <!--<result column="htxx_htmc" property="htmc"/>-->
            <!--<result column="htxx_xmsglx" property="xmsglx" />-->
            <!--<result column="htxx_xmgldw" property="xmgldw"/>-->
            <!--<result column="htxx_htjehs" property="htjehs"/>-->
        <!--</association>-->

        <!--&lt;!&ndash; 一对多的关系 &ndash;&gt;-->
        <!--&lt;!&ndash; property: 指的是集合属性的值, ofType：指的是集合中元素的类型 &ndash;&gt;-->
        <!--<collection property="list" ofType="com.hdsx.zxyh.entity.Lyjcmx">-->
            <!--<result property="mxid" column="mxid"/>-->
            <!--<result column="lyjcid" property="lyjcid"/>-->
            <!--<result column="htlyid" property="htlyid"/>-->
            <!--<result column="htlynr" property="htlynr"/>-->
            <!--<result column="fj" property="fj"/>-->
        <!--</collection>-->
    <!--</resultMap>-->

    <!-- 定义数据库字段与实体对象的映射关系 -->
    <resultMap id="lyjcBean" type="com.hdsx.zxyh.entity.Lyjc">
        <id column="id" property="id"/>
        <result column="htbh" property="htbh"/>
        <result column="jcrq" property="jcrq"/>
        <result column="jcr" property="jcr"/>
        <!-- 一对一的关系 -->
        <!-- property: 指的是属性的值, javaType：指的是元素的类型 -->
        <association property="htxx" javaType="com.hdsx.zxyh.entity.Htxx">
            <id column="htxx_id" property="id" />
            <result column="htxx_htbh" property="htbh"/>
            <result column="htxx_htmc" property="htmc"/>
            <result column="htxx_xmsglx" property="xmsglx" />
            <result column="htxx_xmgldw" property="xmgldw"/>
            <result column="htxx_htjehs" property="htjehs"/>
        </association>

        <!-- 一对多的关系 -->
        <!-- property: 指的是集合属性的值, ofType：指的是集合中元素的类型 -->
        <collection property="list" ofType="com.hdsx.zxyh.entity.Lyjcmx" select="selectMx" column="id"></collection>
    </resultMap>

    <resultMap id="lyjcmxBean" type="com.hdsx.zxyh.entity.Lyjcmx">
        <result property="mxid" column="mxid"/>
        <result column="lyjcid" property="lyjcid"/>
        <result column="htlyid" property="htlyid"/>
        <result column="htlynr" property="htlynr"/>
        <result column="fj" property="fj"/>
    </resultMap>
    
    <select id="selectMx" resultMap="lyjcmxBean">
        select * from ZXYH_LYJC_MX where lyjcid in #{id}
    </select>

    <select id="getLyjc" parameterType="hashmap" resultMap="lyjcBean">
        SELECT *
        FROM ZXYH_LYJC ly left join DJSJ_HTXX ht on ly.htbh = ht.htxx_htbh
      where 1 = 1
      <if test="htbh != null and htbh !=''">
          and ly.htbh = #{htbh}
      </if>
      <if test="gldw != null and gldw !=''">
          and ht.htxx_xmgldw = #{gldw}
      </if>
    </select>

    <insert id="addLyjc" parameterType="com.hdsx.zxyh.entity.Lyjc">
        insert into ZXYH_LYJC
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id !=null and id !=''">
            id,
          </if>
          <if test="htbh !=null and htbh !=''">
            htbh,
          </if>
          <if test="jcrq !=null and jcrq !=''">
            jcrq,
          </if>
          <if test="jcr != null and jcr !=''">
            jcr,
          </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                #{id},
            </if>
            <if test="htbh !=null and htbh !=''">
                #{htbh},
            </if>
            <if test="jcrq !=null and jcrq !=''">
                to_date(#{jcrq}, 'yyyy/mm/dd'),
            </if>
            <if test="jcr != null and jcr !=''">
                #{jcr},
            </if>
        </trim>
    </insert>

    <insert id="addLyjcMx" parameterType="list">
        BEGIN
        <foreach collection ="list" item="item" index= "index" separator =" ">
          insert into ZXYH_LYJC_MX
            (MXID, LYJCID, HTLYID, HTLYNR, FJ)
          values
          (
            #{item.mxid},
            #{item.lyjcid},
            #{item.htlyid},
            #{item.htlynr},
            #{item.fj}
          );
        </foreach>
        COMMIT;
        END;
    </insert>

    <delete id="deleteLyjcMx" parameterType="string">
        DELETE FROM ZXYH_LYJC_MX WHERE LYJCID IN
        <foreach collection="array" item="lyjcid" open="(" close=")" separator=",">
            #{lyjcid}
        </foreach>
    </delete>

    <delete id="deleteLyjc" parameterType="string">
        DELETE FROM zxyh_lyjc WHERE id IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="updateLyjc" parameterType="com.hdsx.zxyh.entity.Lyjc">
        update zxyh_lyjc
        <set>
            <if test="htbh !=null and htbh !=''">
                htbh=#{htbh},
            </if>
            <if test="jcrq !=null and jcrq !=''">
                jcrq=to_date(#{jcrq}, 'yyyy/mm/dd'),
            </if>
            <if test="jcr != null and jcr !=''">
                jcr=#{jcr}
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>