<?xml version='1.0' encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.zxyh.mapper.SgzjdjhMapper">

    <!-- 定义数据库字段与实体对象的映射关系 -->
    <resultMap id="sgzjdjhBean" type="com.hdsx.zxyh.entity.Sgzjdjh">
        <id property="id" column="id"/>
        <result property="djbh" column="djbh"/>
        <result property="gcmc" column="gcmc"/>
        <result property="htmc" column="htmc"/>
        <result property="gldw" column="gldw"/>
        <result property="htkgrq" column="htkgrq"/>
        <result property="htjgrq" column="htjgrq"/>
        <result property="jhgq" column="jhgq"/>
        <result property="cbdw" column="cbdw"/>
        <result property="bz" column="bz"/>
        <result property="bzr" column="bzr"/>
        <result property="bzrq" column="bzrq"/>
        <result property="bzdw" column="bzdw"/>
        <result property="bzbm" column="bzbm"/>
    </resultMap>

    <select id="getSgzjdjh" resultMap="sgzjdjhBean">
      select * from ZXYH_SGZJDJH
    </select>
    <insert id="addSgzjdjh" parameterType="com.hdsx.zxyh.entity.Sgzjdjh">
        insert into ZXYH_SGZJDJH
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                id,
            </if>
            <if test="djbh != null and djbh != ''">
                djbh,
            </if>
            <if test="gcmc != null and gcmc != ''">
                gcmc,
            </if>
            <if test="htmc != null and htmc != ''">
                htmc,
            </if>
            <if test="gldw != null and gldw != ''">
                gldw,
            </if>
            <if test="htkgrq != null and htkgrq != ''">
                htkgrq,
            </if>
            <if test="htjgrq != null and htjgrq != ''">
                htjgrq,
            </if>
            <if test="jhgq != null and jhgq != ''">
                jhgq,
            </if>
            <if test="cbdw != null and cbdw != ''">
                cbdw,
            </if>
            <if test="bz !=null and bz != ''">
                bz,
            </if>
            <if test="bzr != null and bzr != ''">
                bzr,
            </if>
            <if test="bzrq != null and bzrq != ''">
                bzrq,
            </if>
            <if test="bzbm != null and bzbm != ''">
                bzbm,
            </if>
            <if test="bzdw != null and bzdw != ''">
                bzdw,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                #{id},
            </if>
            <if test="djbh != null and djbh != ''">
                #{djbh},
            </if>
            <if test="gcmc != null and gcmc != ''">
                #{gcmc},
            </if>
            <if test="htmc != null and htmc != ''">
                #{htmc},
            </if>
            <if test="gldw != null and gldw != ''">
                #{gldw},
            </if>
            <if test="htkgrq != null and htkgrq != ''">
                to_date(#{htkgrq}, 'yyyy/mm/dd'),
            </if>
            <if test="htjgrq != null and htjgrq != ''">
                to_date(#{htjgrq}, 'yyyy/mm/dd'),
            </if>
            <if test="jhgq != null and jhgq != ''">
                #{jhgq},
            </if>
            <if test="cbdw != null and cbdw != ''">
                #{cbdw},
            </if>
            <if test="bz !=null and bz != ''">
                #{bz},
            </if>
            <if test="bzr != null and bzr != ''">
                #{bzr},
            </if>
            <if test="bzrq != null and bzrq != ''">
                to_date(#{bzrq}, 'yyyy/mm/dd'),
            </if>
            <if test="bzbm != null and bzbm != ''">
                #{bzbm},
            </if>
            <if test="bzdw != null and bzdw != ''">
                #{bzdw},
            </if>
        </trim>
    </insert>

    <update id="updateSgzjdjh" parameterType="com.hdsx.zxyh.entity.Sgzjdjh">
        update ZXYH_SGZJDJH
        <set>
            <if test="djbh != null and djbh != ''">
                djbh=#{djbh},
            </if>
            <if test="gcmc != null and gcmc != ''">
                gcmc=#{gcmc},
            </if>
            <if test="htmc != null and htmc != ''">
                htmc=#{htmc},
            </if>
            <if test="gldw != null and gldw != ''">
                gldw=#{gldw},
            </if>
            <if test="htkgrq != null and htkgrq != ''">
                htkgrq=to_date(#{htkgrq},'yyyy/mm/dd'),
            </if>
            <if test="htjgrq != null and htjgrq != ''">
                htjgrq=to_date(#{htjgrq},'yyyy/mm/dd'),
            </if>
            <if test="jhgq != null and jhgq != ''">
                jhgq=#{jhgq},
            </if>
            <if test="cbdw != null and cbdw != ''">
                cbdw=#{cbdw},
            </if>
            <if test="bz !=null and bz != ''">
                bz=#{bz},
            </if>
            <if test="bzr != null and bzr != ''">
                bzr=#{bzr},
            </if>
            <if test="bzrq != null and bzrq != ''">
                bzrq=to_date(#{bzrq},'yyyy/mm/dd'),
            </if>
            <if test="bzbm != null and bzbm != ''">
                bzbm=#{bzbm},
            </if>
            <if test="bzdw != null and bzdw != ''">
                bzdw=#{bzdw},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteSgzjdjh" parameterType="list">
        DELETE FROM ZXYH_KGSQD WHERE djbh IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>