<?xml version='1.0' encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.zxyh.mapper.SgzjdjhMapper">

    <!-- 定义数据库字段与实体对象的映射关系 -->
    <resultMap id="sgzjdjhBean" type="com.hdsx.zxyh.entity.Sgzjdjh">
        <id column="id" property="id"/>
        <result column="bz" property="bz"/>
        <result column="bzr" property="bzr"/>
        <result column="bzrq" property="bzrq"/>
        <result column="bzbm" property="bzbm"/>
        <result column="bzdw" property="bzdw" />
        <result column="djbh" property="djbh" />
        <!-- 一对一的关系 -->
        <!-- property: 指的是属性的值, javaType：指的是元素的类型 -->
        <association property="htxx" javaType="com.hdsx.zxyh.entity.Htxx">
            <id column="htxx_id" property="id" />
            <result column="htxx_htbh" property="htbh"/>
            <result column="htxx_htmc" property="htmc"/>
            <result column="htxx_xmsglx" property="xmsglx" />
            <result column="htxx_xmgldw" property="xmgldw"/>
            <result column="htxx_htjehs" property="htjehs"/>
        </association>
        
        <association property="htgjxx" javaType="com.hdsx.zxyh.entity.Htgjxx">
            <id column="htgjxx_htbh" property="htbh"/>
            <result column="htgjxx_htmc" property="htmc"/>
            <result column="htgjxx_htje" property="htje"/>
            <result column="htgjxx_htxdf" property="htxdf"/>
            <result column="htgjxx_lb" property="lb"/>
            <result column="htgjxx_xlb" property="xlb"/>
            <result column="htgjxx_qdrq" property="qdrq"/>
            <result column="htgjxx_lxbh" property="lxbh"/>
            <result column="htgjxx_cgxmmc" property="cgxmmc"/>
            <result column="htgjxx_khh" property="khh"/>
            <result column="htgjxx_yhzh" property="yhzh"/>
            <result column="htgjxx_zlbzjbl" property="zlbzjbl"/>
            <result column="htgjxx_fwxt" property="fwxt"/>
            <result column="htgjxx_bz" property="bz"/>
            <result column="htgjxx_fj" property="fj"/>
            <result column="htgjxx_tbr" property="tbr"/>
            <result column="htgjxx_lrsj" property="lrsj"/>
            <result column="htgjxx_tbdw" property="tbdw"/>
            <result column="htgjxx_tbbm" property="tbbm"/>
            <result column="htgjxx_jbr" property="jbr"/>
            <result column="htgjxx_qcrq" property="qcrq"/>
            <result column="htgjxx_jbdw" property="jbdw"/>
            <result column="htgjxx_jbbm" property="jbbm"/>
        </association>
    </resultMap>

    <select id="getSgzjdjh" resultMap="sgzjdjhBean">
      select * from ZXYH_SGZJDJH sg left join DJSJ_HTXX_HTGJXX ht on sg.djbh=ht.htgjxx_htbh
    </select>

    <insert id="addSgzjdjh" parameterType="com.hdsx.zxyh.entity.Sgzjdjh">
        insert into ZXYH_SGZJDJH
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                id,
            </if>
            <if test="djbh != null and djbh != ''">
                djbh,
            </if>
            <if test="bz !=null and bz != ''">
                bz,
            </if>
            <if test="bzr != null and bzr != ''">
                bzr,
            </if>
            <if test="bzrq != null and bzrq != ''">
                bzrq,
            </if>
            <if test="bzbm != null and bzbm != ''">
                bzbm,
            </if>
            <if test="bzdw != null and bzdw != ''">
                bzdw,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                #{id},
            </if>
            <if test="djbh != null and djbh != ''">
                #{djbh},
            </if>
            <if test="bz !=null and bz != ''">
                #{bz},
            </if>
            <if test="bzr != null and bzr != ''">
                #{bzr},
            </if>
            <if test="bzrq != null and bzrq != ''">
                to_date(#{bzrq}, 'yyyy/mm/dd'),
            </if>
            <if test="bzbm != null and bzbm != ''">
                #{bzbm},
            </if>
            <if test="bzdw != null and bzdw != ''">
                #{bzdw},
            </if>
        </trim>
    </insert>

    <update id="updateSgzjdjh" parameterType="com.hdsx.zxyh.entity.Sgzjdjh">
        update ZXYH_SGZJDJH
        <set>
            <if test="djbh != null and djbh != ''">
                djbh=#{djbh},
            </if>
            <if test="bz !=null and bz != ''">
                bz=#{bz},
            </if>
            <if test="bzr != null and bzr != ''">
                bzr=#{bzr},
            </if>
            <if test="bzrq != null and bzrq != ''">
                bzrq=#{bzrq},
            </if>
            <if test="bzbm != null and bzbm != ''">
                bzbm=#{bzbm},
            </if>
            <if test="bzdw != null and bzdw != ''">
                bzdw=#{bzdw}
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteSgzjdjh" parameterType="list">
        DELETE FROM ZXYH_KGSQD WHERE djbh IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>