<?xml version='1.0' encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.zxyh.mapper.SgzjdjhMapper">

    <!-- 定义数据库字段与实体对象的映射关系 -->
    <resultMap id="sgzjdjhBean" type="com.hdsx.zxyh.entity.Sgzjdjh">
        <id property="id" column="id"/>
        <result property="htbh" column="htbh"/>
        <result property="djbh" column="djbh"/>
        <result property="gcmc" column="gcmc"/>
        <result property="htmc" column="htmc"/>
        <result property="gldw" column="gldw"/>
        <result property="htkgrq" column="htkgrq"/>
        <result property="htjgrq" column="htjgrq"/>
        <result property="jhgq" column="jhgq"/>
        <result property="cbdw" column="cbdw"/>
        <result property="bz" column="bz"/>
        <result property="bzr" column="bzr"/>
        <result property="bzrq" column="bzrq"/>
        <result property="bzdw" column="bzdw"/>
        <result property="bzbm" column="bzbm"/>
        <collection property="mx" ofType="com.hdsx.zxyh.entity.Sgzjdjhmx" select="getSgzjdjhMX" column="djbh">

        </collection>
    </resultMap>


    <select id="getSgzjdjhMX" parameterType="string" resultType="com.hdsx.zxyh.entity.Sgzjdjhmx">
        select * from ZXYH_SGZJDJHMX where pdjbh=#{value}
    </select>
    <select id="getSgzjdjh" resultMap="sgzjdjhBean">
      select * from ZXYH_SGZJDJH
    </select>
    <insert id="addSgzjdjh" parameterType="com.hdsx.zxyh.entity.Sgzjdjh">
        insert into ZXYH_SGZJDJH
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                id,
            </if>
            <if test="djbh != null and djbh != ''">
                djbh,
            </if>
            <if test="htbh != null and htbh != ''">
                htbh,
            </if>
            <if test="gcmc != null and gcmc != ''">
                gcmc,
            </if>
            <if test="htmc != null and htmc != ''">
                htmc,
            </if>
            <if test="gldw != null and gldw != ''">
                gldw,
            </if>
            <if test="htkgrq != null">
                htkgrq,
            </if>
            <if test="htjgrq != null">
                htjgrq,
            </if>
            <if test="jhgq != null and jhgq != ''">
                jhgq,
            </if>
            <if test="cbdw != null and cbdw != ''">
                cbdw,
            </if>
            <if test="bz !=null and bz != ''">
                bz,
            </if>
            <if test="bzr != null and bzr != ''">
                bzr,
            </if>
            <if test="bzrq != null">
                bzrq,
            </if>
            <if test="bzbm != null and bzbm != ''">
                bzbm,
            </if>
            <if test="bzdw != null and bzdw != ''">
                bzdw,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                #{id},
            </if>
            <if test="djbh != null and djbh != ''">
                #{djbh},
            </if>
            <if test="htbh != null and htbh != ''">
                #{htbh},
            </if>
            <if test="gcmc != null and gcmc != ''">
                #{gcmc},
            </if>
            <if test="htmc != null and htmc != ''">
                #{htmc},
            </if>
            <if test="gldw != null and gldw != ''">
                #{gldw},
            </if>
            <if test="htkgrq != null">
                #{htkgrq},
            </if>
            <if test="htjgrq != null">
                #{htjgrq},
            </if>
            <if test="jhgq != null and jhgq != ''">
                #{jhgq},
            </if>
            <if test="cbdw != null and cbdw != ''">
                #{cbdw},
            </if>
            <if test="bz !=null and bz != ''">
                #{bz},
            </if>
            <if test="bzr != null and bzr != ''">
                #{bzr},
            </if>
            <if test="bzrq != null">
                #{bzrq},
            </if>
            <if test="bzbm != null and bzbm != ''">
                #{bzbm},
            </if>
            <if test="bzdw != null and bzdw != ''">
                #{bzdw},
            </if>
        </trim>
    </insert>

    <insert id="addSgzjdjhMx" parameterType="com.hdsx.zxyh.entity.Sgzjdjh">
        begin
        <foreach collection="mx" item="item" index="index" separator=";">
            insert into ZXYH_SGZJDJHMX
            <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="1 != 2" >id,</if>
                <if test="djbh != null" >pdjbh,</if>
                <if test="item.zmmc != null" >zmmc,</if>
                <if test="item.kssj != null" >kssj,</if>
                <if test="item.jssj != null" >jssj,</if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="1 != 2" >sys_guid(),</if>
                <if test="djbh != null" >trim(#{djbh}),</if>
                <if test="item.zmmc != null" >trim(#{item.zmmc}),</if>
                <if test="item.kssj != null" >trim(#{item.kssj}),</if>
                <if test="item.jssj != null" >trim(#{item.jssj}),</if>
            </trim>


        </foreach>
        ;end;
    </insert>

    <delete id="delSgzjdjhMx" parameterType="string">
        delete from ZXYH_SGZJDJHMX where pdjbh=#{value}
    </delete>


    <update id="updateSgzjdjh" parameterType="com.hdsx.zxyh.entity.Sgzjdjh">
        update ZXYH_SGZJDJH
        <set>
            <if test="djbh != null and djbh != ''">
                djbh=#{djbh},
            </if>
            <if test="htbh != null and htbh != ''">
                htbh=#{htbh},
            </if>
            <if test="gcmc != null and gcmc != ''">
                gcmc=#{gcmc},
            </if>
            <if test="htmc != null and htmc != ''">
                htmc=#{htmc},
            </if>
            <if test="gldw != null and gldw != ''">
                gldw=#{gldw},
            </if>
            <if test="htkgrq != null">
                htkgrq=#{htkgrq},
            </if>
            <if test="htjgrq != null">
                htjgrq=#{htjgrq},
            </if>
            <if test="jhgq != null and jhgq != ''">
                jhgq=#{jhgq},
            </if>
            <if test="cbdw != null and cbdw != ''">
                cbdw=#{cbdw},
            </if>
            <if test="bz !=null and bz != ''">
                bz=#{bz},
            </if>
            <if test="bzr != null and bzr != ''">
                bzr=#{bzr},
            </if>
            <if test="bzrq != null">
                bzrq=#{bzrq},
            </if>
            <if test="bzbm != null and bzbm != ''">
                bzbm=#{bzbm},
            </if>
            <if test="bzdw != null and bzdw != ''">
                bzdw=#{bzdw},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteSgzjdjh" parameterType="list">
        DELETE FROM ZXYH_SGZJDJH WHERE id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteSgzjdjhiMx" parameterType="list">
        DELETE FROM ZXYH_SGZJDJHMX WHERE
        pdjbh in (
        select djbh from ZXYH_SGZJDJH where
        id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        )

    </delete>

    <update id="spSgzjdjh" parameterType="hashmap">
        update ZXYH_SGZJDJH set SPZT=#{spzt}
        where id in
        <foreach collection="djbhs" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>