<?xml version='1.0' encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.zxyh.mapper.TestMapper">
    <select id="test" resultType="hashmap">
        select * from JCPD_BBKZB
    </select>

    <select id="exportexcel" resultType="hashmap">
        select bbid v_0,bbmc v_1,bbsj v_2,bblx v_3,zjczr v_4 from JCPD_BBKZB
    </select>
</mapper>