<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.zxyh.mapper.YdjhMapper">

    <!-- 定义数据库字段与实体对象的映射关系 -->
    <resultMap id="ydjhBean" type="com.hdsx.zxyh.entity.Ydjh">
        <id column="id" property="id"/>
        <result column="djbh" property="djbh"/>
        <result column="yd" property="yd"/>
        <result column="gcmc" property="gcmc"/>
        <result column="htbh" property="htbh"/>
        <result column="gldw" property="gldw"/>
        <result column="cbdw" property="cbdw"/>
        <result column="byjhwcqk" property="byjhwcqk"/>
        <result column="xyzygzjh" property="xyzygzjh"/>
        <result column="bz" property="bz"/>
        <result column="bzr" property="bzr"/>
        <result column="bzrq" property="bzrq"/>
        <result column="bzdw" property="bzdw"/>
        <result column="bzbm" property="bzbm"/>
        <result property="zt" column="zt"/>
        <!-- 一对多的关系 -->
        <!-- property: 指的是集合属性的值, ofType：指的是集合中元素的类型 -->
        <collection property="list" ofType="com.hdsx.zxyh.entity.Ydjhmx" select="selectMx" column="id"></collection>
    </resultMap>

    <resultMap id="ydjhmxBean" type="com.hdsx.zxyh.entity.Ydjhmx">
        <result column="mxid" property="mxid"/>
        <result column="ydid" property="ydid"/>
        <result column="qdzh" property="qdzh"/>
        <result column="zdzh" property="zdzh"/>
        <result column="jggc" property="jggc"/>
        <result column="fx" property="fx"/>
        <result column="czfs" property="czfs"/>
        <result column="czcd" property="czcd"/>
        <result column="jhgcl" property="jhgcl"/>
        <result column="jhksrq" property="jhksrq"/>
        <result column="jhwcrq" property="jhwcrq"/>
    </resultMap>

    <select id="selectMx" resultMap="ydjhmxBean">
        select * from ZXYH_YDJH_MX where ydid in #{id}
    </select>

    <select id="getYdjh" resultMap="ydjhBean">
        select * from ZXYH_YDJH yd where 1=1
        <if test="yd != null">
            and yd =#{yd}
        </if>
        <if test="zt != null and zt != ''">
            and zt = #{zt}
        </if>
    </select>

    <insert id="addYdjh" parameterType="com.hdsx.zxyh.entity.Ydjh">
        insert into ZXYH_YDJH
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                id,
            </if>
            <if test="djbh !=null and djbh !=''">
                djbh,
            </if>
            <if test="yd != null and yd !=''">
                yd,
            </if>
            <if test="gcmc != null and gcmc !=''">
                gcmc,
            </if>
            <if test="htbh != null and htbh !=''">
                htbh,
            </if>
            <if test="gldw != null and gldw !=''">
                gldw,
            </if>
            <if test="cbdw != null and cbdw !=''">
                cbdw,
            </if>
            <if test="byjhwcqk !=null and byjhwcqk !=''">
                byjhwcqk,
            </if>
            <if test="xyzygzjh != null and xyzygzjh !=''">
                xyzygzjh,
            </if>
            <if test="bz !=null and bz !=''">
                bz,
            </if>
            <if test="bzr !=null and bzr !=''">
                bzr,
            </if>
            <if test="bzrq !=null">
                bzrq,
            </if>
            <if test="bzdw !=null and bzdw !=''">
                bzdw,
            </if>
            <if test="bzbm !=null and bzbm !=''">
                bzbm,
            </if>
            <if test="zt != null and zt != ''">
                zt,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                #{id},
            </if>
            <if test="djbh !=null and djbh !=''">
                #{djbh},
            </if>
            <if test="yd != null and yd !=''">
                #{yd},
            </if>
            <if test="gcmc != null and gcmc !=''">
                #{gcmc},
            </if>
            <if test="htbh != null and htbh !=''">
                #{htbh},
            </if>
            <if test="gldw != null and gldw !=''">
                #{gldw},
            </if>
            <if test="cbdw != null and cbdw !=''">
                #{cbdw},
            </if>
            <if test="byjhwcqk !=null and byjhwcqk !=''">
                #{byjhwcqk},
            </if>
            <if test="xyzygzjh != null and xyzygzjh !=''">
                #{xyzygzjh},
            </if>
            <if test="bz !=null and bz !=''">
                #{bz},
            </if>
            <if test="bzr !=null and bzr !=''">
                #{bzr},
            </if>
            <if test="bzrq !=null">
                #{bzrq},
            </if>
            <if test="bzdw !=null and bzdw !=''">
                #{bzdw},
            </if>
            <if test="bzbm !=null and bzbm !=''">
                #{bzbm},
            </if>
            <if test="zt != null and zt != ''">
                #{zt},
            </if>
        </trim>
    </insert>

    <insert id="addYdjhmx" parameterType="list">
        BEGIN
        <foreach collection ="list" item="item" index= "index" separator =" ">
            insert into ZXYH_YDJH_MX
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.mxid !=null and item.mxid !=''">
                    mxid,
                </if>
                <if test="item.ydid !=null and item.ydid !=''">
                    ydid,
                </if>
                <if test="item.qdzh !=null and item.qdzh !=''">
                    qdzh,
                </if>
                <if test="item.zdzh != null and item.zdzh !=''">
                    zdzh,
                </if>
                <if test="item.jggc !=null and item.jggc !=''">
                    jggc,
                </if>
                <if test="item.fx !=null and item.fx !=''">
                    fx,
                </if>
                <if test="item.czfs !=null and item.czfs !=''">
                    czfs,
                </if>
                <if test="item.czcd !=null and item.czcd !=''">
                    czcd,
                </if>
                <if test="item.jhgcl !=null and item.jhgcl !=''">
                    jhgcl,
                </if>
                <if test="item.jhksrq != null">
                    jhksrq,
                </if>
                <if test="item.jhwcrq != null ">
                    jhwcrq,
                </if>
                <if test="item.sjgcl != null and item.sjgcl != ''">
                    sjgcl,
                </if>
                <if test="item.sjksrq != null">
                    sjksrq,
                </if>
                <if test="item.sjwcrq != null">
                    sjwcrq,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="item.mxid !=null and item.mxid !=''">
                    #{item.mxid},
                </if>
                <if test="item.ydid !=null and item.ydid !=''">
                    #{item.ydid},
                </if>
                <if test="item.qdzh !=null and item.qdzh !=''">
                    #{item.qdzh},
                </if>
                <if test="item.zdzh != null and item.zdzh !=''">
                    #{item.zdzh},
                </if>
                <if test="item.jggc !=null and item.jggc !=''">
                    #{item.jggc},
                </if>
                <if test="item.fx !=null and item.fx !=''">
                    #{item.fx},
                </if>
                <if test="item.czfs !=null and item.czfs !=''">
                    #{item.czfs},
                </if>
                <if test="item.czcd !=null and item.czcd !=''">
                    #{item.czcd},
                </if>
                <if test="item.jhgcl !=null and item.jhgcl !=''">
                    #{item.jhgcl},
                </if>
                <if test="item.jhksrq != null ">
                    #{item.jhksrq},
                </if>
                <if test="item.jhwcrq != null ">
                    #{item.jhwcrq},
                </if>
                <if test="item.sjgcl != null and item.sjgcl != ''">
                    #{item.sjgcl},
                </if>
                <if test="item.sjksrq != null ">
                    #{item.sjksrq},
                </if>
                <if test="item.sjwcrq != null ">
                    #{item.sjwcrq},
                </if>
            </trim>;
        </foreach>
        COMMIT;
        END;
    </insert>

    <delete id="deleteYdjh" parameterType="string">
        DELETE FROM ZXYH_YDJH WHERE id IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteYdjhmx" parameterType="string">
        DELETE FROM ZXYH_YDJH_MX WHERE ydid IN
        <foreach collection="array" item="ydid" open="(" close=")" separator=",">
            #{ydid}
        </foreach>
    </delete>

    <update id="updateYdjh" parameterType="com.hdsx.zxyh.entity.Ydjh">
      update ZXYH_YDJH
      <set>
          <if test="djbh !=null and djbh !=''">
              djbh=#{djbh},
          </if>
          <if test="yd != null and yd !=''">
              yd=#{yd},
          </if>
          <if test="gcmc != null and gcmc !=''">
              gcmc=#{gcmc},
          </if>
          <if test="htbh != null and htbh !=''">
              htbh=#{htbh},
          </if>
          <if test="gldw != null and gldw !=''">
              gldw=#{gldw},
          </if>
          <if test="cbdw != null and cbdw !=''">
              cbdw=#{cbdw},
          </if>
          <if test="byjhwcqk !=null and byjhwcqk !=''">
              byjhwcqk=#{byjhwcqk},
          </if>
          <if test="xyzygzjh != null and xyzygzjh !=''">
              xyzygzjh=#{xyzygzjh},
          </if>
          <if test="bz !=null and bz !=''">
              bz=#{bz},
          </if>
          <if test="bzr !=null and bzr !=''">
              bzr=#{bzr},
          </if>
          <if test="bzrq !=null">
              bzrq=#{bzrq},
          </if>
          <if test="bzdw !=null and bzdw !=''">
              bzdw=#{bzdw},
          </if>
          <if test="bzbm !=null and bzbm !=''">
              bzbm=#{bzbm},
          </if>
          <if test="zt != null and zt != ''">
              zt=#{zt},
          </if>
      </set>
      where id=#{id}
    </update>

    <select id="getZjdHtInfo" parameterType="string" resultType="hashmap">
        select to_char(sysdate,'yyyy-mm') "yd",gcmc "gcmc",htbh "htbh",gldw "gldw",cbdw "cbdw" from ZXYH_SGZJDJH
        where 1=1 and spzt='已下发'
        <!-- and tbdwdm like #{value}||'%' -->
    </select>

    <select id="getZjdHtCzfs" parameterType="string" resultType="hashmap">
        select zmmc "czfs",kssj "jhkssj",jssj "jhjssj" from ZXYH_SGZJDJHmx
        where 1=1 and pdjbh=(select djbh from ZXYH_SGZJDJH where htbh=#{value})
        <!-- and tbdwdm like #{value}||'%' -->
    </select>

    <select id="getSfYczYd" parameterType="com.hdsx.zxyh.entity.Ydjh" resultType="int">
        select count(*) from ZXYH_YDJH where htbh=#{htbh} and yd=#{yd}
    </select>

    <update id="spYdjh" parameterType="hashmap">
        update ZXYH_YDJH set ZT=#{spzt}
        where id in
        <foreach collection="djbhs" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>