<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdsx.common.mapper.FileMapper">

    <insert id="addFileDataToFiles" parameterType="java.util.List">
        INSERT INTO files(id,files_id, files_name, files_depict, files_path, files_date, files_status, remarks, files_dx, files_yname, files_type, files_mjlx)
        <foreach collection="list" item="item" index="index" open="(" close=")" separator="union">
            SELECT #{item.id,jdbcType=VARCHAR},#{item.file_id,jdbcType=VARCHAR},#{item.file_name,jdbcType=VARCHAR},
              #{item.file_depict,jdbcType=VARCHAR},#{item.file_path,jdbcType=VARCHAR},to_char(sysdate,'YYYY-MM-DD HH24:MI:SS'),
              #{item.file_status,jdbcType=VARCHAR},#{item.file_remarks,jdbcType=VARCHAR}, #{item.file_dx,jdbcType=VARCHAR},#{item.file_yname,jdbcType=VARCHAR},
              #{item.file_type,jdbcType=VARCHAR},#{item.file_mjlx,jdbcType=VARCHAR} FROM DUAL
        </foreach>
    </insert>

    <select id="getFilesDataById" parameterType="String" resultType="hashmap">
        SELECT * FROM files WHERE files_id = #{id}
    </select>

    <delete id="deleteFilesDataById">
        DELETE FROM files WHERE files_id = #{id}
    </delete>

</mapper>