<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdsx.common.mapper.HtxxMapper">

    <resultMap id="htxxBean" type="com.hdsx.common.entity.Htxx">
        <id column="HTXX_ID" property="id"/>
        <result column="HTXX_HTBH" property="htbh"/>
        <result column="HTXX_HTMC" property="htmc"/>
        <result column="HTXX_XMSGLX" property="xmsglx"/>
        <result column="HTXX_XMGLDW" property="xmgldw"/>
        <result column="HTXX_HTJEHS" property="htjehs"/>
        <result column="HTGJXX_HTBH" property="gj_htbh"/>
        <result column="HTGJXX_HTMC" property="gj_htmc"/>
        <result column="HTGJXX_HTJE" property="gj_htje"/>
        <result column="HTGJXX_HTXDF" property="gj_htxdf"/>
        <result column="HTGJXX_LB" property="gj_lb"/>
        <result column="HTGJXX_XLB" property="gj_xlb"/>
        <result column="HTGJXX_QDRQ" property="gj_qdrq"/>
        <result column="HTGJXX_LXBH" property="gj_lxbh"/>
        <result column="HTGJXX_CGXMMC" property="gj_cgxmmc"/>
        <result column="HTGJXX_KHH" property="gj_khh"/>
        <result column="HTGJXX_YHZH" property="gj_yhzh"/>
        <result column="HTGJXX_ZLBZJBL" property="gj_zlbzjbl"/>
        <result column="HTGJXX_FWXT" property="gj_fwxt"/>
        <result column="HTGJXX_BZ" property="gj_bz"/>
        <result column="HTGJXX_FJ" property="gj_fj"/>
        <result column="HTGJXX_TBR" property="gj_tbr"/>
        <result column="HTGJXX_LRSJ" property="gj_lrsj"/>
        <result column="HTGJXX_TBDW" property="gj_tbdw"/>
        <result column="HTGJXX_TBBM" property="gj_tbbm"/>
        <result column="HTGJXX_JBR" property="gj_jbr"/>
        <result column="HTGJXX_QCRQ" property="gj_qcrq"/>
        <result column="HTGJXX_JBDW" property="gj_jbdw"/>
        <result column="HTGJXX_JBBM" property="gj_jbbm"/>
        <result column="YHHTXX_HTBH" property="yh_htbh"/>
        <result column="YHHTXX_HTMC" property="yh_htmc"/>
        <result column="YHHTXX_LXMC" property="yh_lxmc"/>
        <result column="YHHTXX_CD" property="yh_cd"/>
        <result column="YHHTXX_QSZH" property="yh_qszh"/>
        <result column="YHHTXX_ZZZH" property="yh_zzzh"/>
        <result column="YHHTXX_DWGC" property="yh_dwgc"/>
        <result column="YHHTXX_GCFL" property="yh_gcgl"/>
        <result column="YHHTXX_HTKGRQ" property="yh_htkgrq"/>
        <result column="YHHTXX_HTWGRQ" property="yh_htwgrq"/>
        <result column="YHHTXX_HTGQ" property="yh_htgq"/>
        <result column="YHHTXX_SJKGRQ" property="yh_sjkgrq"/>
        <result column="YHHTXX_SJWGRQ" property="yh_sjwgrq"/>
        <result column="YHHTXX_ZGSPDW" property="yh_zgspdw"/>
        <result column="YHHTXX_WH" property="yh_wh"/>
        <result column="YHHTXX_SPRQ" property="yh_sprq"/>
        <result column="YHHTXX_LLJDBM" property="yh_lljdbm"/>
        <result column="YHHTXX_SGLX" property="yh_sglx"/>
        <result column="YHHTXX_GLDW" property="yh_gldw"/>
        <result column="YHHTXX_CBDW" property="yh_cbdw"/>
        <result column="YHHTXX_JLDW" property="yh_jldw"/>
        <result column="YHHTXX_XMLXR" property="yh_xmlxr"/>
        <result column="YHHTXX_LXDH" property="yh_lxdh"/>
        <result column="YHHTXX_XMJS" property="yh_xmjs"/>
        <!-- 一对多的关系 -->
        <!-- property: 指的是集合属性的值, ofType：指的是集合中元素的类型 -->
        <collection property="lyjcs" ofType="com.hdsx.common.entity.HtxxLyjc">
            <id column="LYJC_ID" property="id"/>
            <result column="LYJC_MID" property="mid"/>
            <result column="LYJC_NR" property="nr"/>
            <result column="LYJC_BL" property="bl"/>
            <result column="LYJC_NOTE" property="note"/>
            <result column="LYJC_JE" property="je"/>
        </collection>
        <collection property="zmhts" ofType="com.hdsx.common.entity.Zmht">
            <id column="ZMHT_ID" property="id"/>
            <result column="ZMHT_HTBH" property="htbh"/>
            <result column="ZMHT_HTMC" property="htmc"/>
            <result column="ZMHT_ZMH" property="zmh"/>
            <result column="ZMHT_ZMMC" property="zmmc"/>
            <result column="ZMHT_JLDW" property="jldw"/>
            <result column="ZMHT_SL" property="sl"/>
            <result column="ZMHT_DJ" property="dj"/>
            <result column="ZMHT_JE" property="je"/>
        </collection>
    </resultMap>

    <select id="getHtxxRelateAll" parameterType="hashmap" resultMap="htxxBean">
        SELECT jc.*,gj.*,
        ly.*,yh.*,
        yh.*,zm.*
        FROM DJSJ_HTXX jc
        LEFT JOIN DJSJ_HTXX_HTGJXX gj ON jc.htxx_htbh = gj.htgjxx_htbh
        LEFT JOIN DJSJ_HTXX_LYJCMX ly on jc.htxx_htbh = ly.lyjc_mid
        LEFT JOIN DJSJ_HTXX_YHXMXX yh on jc.htxx_htbh = yh.yhhtxx_htbh
        LeFT JOIN ZM_HT zm on jc.htxx_htbh = zm.zmht_htbh
        <where>
            <if test="htbh != null and htbh != ''"> AND jc.htxx_htbh LIKE '%'||trim(#{htbh})||'%'</if>
        </where>
    </select>

</mapper>