<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdsx.common.mapper.LhyhzljcpfbMapper">

    <!-- 查询绿化养护质量检查表 -->
    <select id = "getAll" resultType="hashmap">
        SELECT * FROM RCYH_LHYHZLJCPFB
    </select>


</mapper>