<?xml version='1.0' encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdsx.jdwh.mapper.FjczMapper" >
    <resultMap type="com.hdsx.jdwh.entity.Fjcz" id="fjrk">
        <result column="ID" property="id"/>
        <result column="DJBH" property="djbh"/>
        <result column="CZR" property="czr"/>
        <result column="CKMC" property="ckmc"/>
        <result column="CZJE" property="czje"/>
        <result column="FYJE" property="fyje"/>
        <result column="CZSJ" property="czsj"/>
        <result column="CZSM" property="czsm"/>
        <result column="SPZT" property="spzt"/>
        <result column="BZ" property="bz"/>
        <result column="TBR" property="tbr"/>
        <result column="TBSJ" property="tbsj"/>
        <result column="TBDW" property="tbdw"/>
        <result column="TBBM" property="tbbm"/>
        <result column="TBDWDM" property="tbdwdm"/>
        <collection property="mx" ofType="com.hdsx.jdwh.entity.Fjczmx" select="getFjczmxByPdjbh" column="djbh" >
        </collection>
        <collection property="fymx" ofType="com.hdsx.jdwh.entity.Fjczfymx" select="getFjczfymxByPdjbh" column="djbh" >
        </collection>

    </resultMap>

    <select id="getFjczmxByPdjbh" parameterType="string" resultType="com.hdsx.jdwh.entity.Fjczmx">
        select * from JDWX_BJ_CZMX
        where 1=1
        and pdjbh=#{value}
    </select>
    <select id="getFjczfymxByPdjbh" parameterType="string" resultType="com.hdsx.jdwh.entity.Fjczfymx">
        select * from JDWH_BJ_FJCZFYMX
        where 1=1
        and pdjbh=#{value}
    </select>

    <insert id="addFjcz" parameterType="com.hdsx.jdwh.entity.Fjcz">
        insert into JDWH_BJ_FJCZ
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >id,</if>
            <if test="czr != null" >czr,</if>
            <if test="djbh != null" >djbh,</if>
            <if test="ckmc != null" >ckmc,</if>
            <if test="czje != null" >czje,</if>
            <if test="fyje != null" >fyje,</if>
            <if test="czsj != null" >czsj,</if>
            <if test="czsm != null" >czsm,</if>
            <if test="bz != null" >bz,</if>
            <if test="tbr != null" >tbr,</if>
            <if test="tbsj != null" >tbsj,</if>
            <if test="tbdwdm != null" >tbdwdm,</if>
            <if test="tbdw != null" >tbdw,</if>
            <if test="tbbm != null" >tbbm,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >#{id},</if>
            <if test="czr != null" >#{czr},</if>
            <if test="djbh != null" >#{djbh},</if>
            <if test="ckmc != null" >#{ckmc},</if>
            <if test="czje != null" >#{czje},</if>
            <if test="fyje != null" >#{fyje},</if>
            <if test="czsj != null" >#{czsj},</if>
            <if test="czsm != null" >#{czsm},</if>
            <if test="bz != null" >#{bz},</if>
            <if test="tbr != null" >#{tbr},</if>
            <if test="tbsj != null" >#{tbsj},</if>
            <if test="tbdwdm != null" >#{tbdwdm},</if>
            <if test="tbdw != null" >#{tbdw},</if>
            <if test="tbbm != null" >#{tbbm},</if>
        </trim>
    </insert>

    <insert id="addFjczMx" parameterType="com.hdsx.jdwh.entity.Fjcz">
        begin
        <foreach collection="mx" item="item" index="index" separator=";">
            insert into JDWX_BJ_CZMX (ID, PDJBH, XH, BJMC, BJBM, GGXH, CZDW, CZSL, CZDJ, CZJE, BZ,FJID)  values
            (sys_guid(),trim(#{djbh,jdbcType=VARCHAR}),trim(#{item.xh,jdbcType=VARCHAR}),trim(#{item.bjmc,jdbcType=VARCHAR}),trim(#{item.bjbm,jdbcType=VARCHAR}),trim(#{item.ggxh,jdbcType=VARCHAR}),trim(#{item.czdw,jdbcType=VARCHAR}),trim(#{item.czsl,jdbcType=VARCHAR}),trim(#{item.czdj,jdbcType=VARCHAR}),trim(#{item.czje,jdbcType=VARCHAR}),trim(#{item.bz,jdbcType=VARCHAR}),trim(#{item.fjid,jdbcType=VARCHAR}))
        </foreach>
        ;end;
    </insert>

    <insert id="addFjczfyMx" parameterType="com.hdsx.jdwh.entity.Fjcz">
        begin
        <foreach collection="fymx" item="item" index="index" separator=";">
            insert into JDWH_BJ_FJCZFYMX (ID, PDJBH, XH, FYMC, FYJE, FPH, SL, SE, BZ, SFFP)  values
            (sys_guid(),trim(#{djbh,jdbcType=VARCHAR}),trim(#{item.xh,jdbcType=VARCHAR}),trim(#{item.fymc,jdbcType=VARCHAR}),trim(#{item.fyje,jdbcType=VARCHAR}),trim(#{item.fph,jdbcType=VARCHAR}),trim(#{item.sl,jdbcType=VARCHAR}),trim(#{item.se,jdbcType=VARCHAR}),trim(#{item.bz,jdbcType=VARCHAR}),trim(#{item.sffp,jdbcType=VARCHAR}))
        </foreach>
        ;end;
    </insert>

    <update id="editFjcz" parameterType="com.hdsx.jdwh.entity.Fjcz" >
        update JDWH_BJ_FJCZ
        <set>
            <if test="id != null" >id=#{id},</if>
            <if test="czr != null" >czr=#{czr},</if>
            <if test="djbh != null" >djbh=#{djbh},</if>
            <if test="ckmc != null" >ckmc=#{ckmc},</if>
            <if test="czje != null" >czje=#{czje},</if>
            <if test="fyje != null" >fyje=#{fyje},</if>
            <if test="czsj != null" >czsj=#{czsj},</if>
            <if test="czsm != null" >czsm=#{czsm},</if>
            <if test="bz != null" >bz=#{bz},</if>
            <if test="tbr != null" >tbr=#{tbr},</if>
            <if test="tbsj != null" >tbsj=#{tbsj},</if>
            <if test="tbdwdm != null" >tbdwdm=#{tbdwdm},</if>
            <if test="tbdw != null" >tbdw=#{tbdw},</if>
            <if test="tbbm != null" >tbbm=#{tbbm},</if>
        </set>
        where 1=1 and djbh=#{djbh}
    </update>
    <delete id="delFjczMx" parameterType="com.hdsx.jdwh.entity.Fjcz">
        delete from JDWX_BJ_CZMX where pdjbh=#{djbh}
    </delete>
    <delete id="delFjczfyMx" parameterType="com.hdsx.jdwh.entity.Fjcz">
        delete from JDWH_BJ_FJCZFYMX where pdjbh=#{djbh}
    </delete>

    <delete id="delFjczBydjbhs" parameterType="java.util.List" >
        delete from JDWH_BJ_FJCZ
        where djbh in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="delFjczMxBydjbhs" parameterType="java.util.List" >
        delete from JDWX_BJ_CZMX
        where pdjbh in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="delFjczfyMxBydjbhs" parameterType="java.util.List" >
        delete from JDWH_BJ_FJCZFYMX
        where pdjbh in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getFjczInfoByDjbh" parameterType="string" resultMap="fjrk">
        select * from JDWH_BJ_FJCZ zb
        where zb.djbh=#{value}
    </select>

    <select id="getFjczList" parameterType="hashmap" resultMap="fjrk">
        select * from JDWH_BJ_FJCZ zb
        where 1=1
        <if test="tbdwdm !=null and tbdwdm !=''">and zb.tbdwdm like #{tbdwdm}||'%'</if>
    </select>


    <update id="spFjczByDjbh" parameterType="hashmap">
        update JDWH_BJ_FJCZ set SPZT=#{spzt}
        where djbh in
        <foreach collection="djbhs" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="editFjZtFlag" parameterType="hashmap">
        update jdwx_bj_fjmx set bjzt='处置' where id in(
        select fjid from JDWX_BJ_CZMX
        where pdjbh in
        <foreach collection="djbhs" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
        )
    </update>


</mapper>