<?xml version='1.0' encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdsx.jdwh.mapper.FjwxMapper" >
    <resultMap type="com.hdsx.jdwh.entity.Fjwx" id="fjrk">
        <result column="ID" property="id"/>
        <result column="djbh" property="djbh"/>
        <result column="WXFS" property="wxfs"/>
        <result column="YJJE" property="yjje"/>
        <result column="ckmc" property="ckmc"/>
        <result column="CZSM" property="czsm"/>
        <result column="WXCS" property="wxcs"/>
        <result column="BZ" property="bz"/>
        <result column="TBR" property="tbr"/>
        <result column="TBSJ" property="tbsj"/>
        <result column="TBDW" property="tbdw"/>
        <result column="TBBM" property="tbbm"/>
        <result column="TBDWDM" property="tbdwdm"/>
        <collection property="mx" ofType="com.hdsx.jdwh.entity.Fjwxmx" select="getFjwxmxByPdjbh" column="djbh" >
        </collection>

    </resultMap>

    <select id="getFjwxmxByPdjbh" parameterType="string" resultType="com.hdsx.jdwh.entity.Fjwxmx">
        select * from JDWX_BJ_WXMX
        where 1=1
        and PDJBH=#{value}
    </select>

    <select id="getWxdhInfByDw" parameterType="hashmap" resultType="hashmap">
        select t.*,t.id fjid from jdwx_bj_fjmx t where 1=1
        and tkdjbh in (select djbh from jdwh_bj_fjrk where 1=1
        <if test="tbdwdm != null"> and tbdwdm like #{tbdwdm}||'%'</if>
        )
        and bjzt='损坏'
    </select>

    <insert id="addFjwx" parameterType="com.hdsx.jdwh.entity.Fjwx">
        insert into JDWH_BJ_FJWX
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >id,</if>
            <if test="djbh != null" >djbh,</if>
            <if test="wxfs != null" >wxfs,</if>
            <if test="yjje != null" >yjje,</if>
            <if test="czsm != null" >czsm,</if>
            <if test="wxcs != null" >wxcs,</if>
            <if test="ckmc != null" >ckmc,</if>
            <if test="bz != null" >bz,</if>
            <if test="tbr != null" >tbr,</if>
            <if test="tbsj != null" >tbsj,</if>
            <if test="tbdwdm != null" >tbdwdm,</if>
            <if test="tbdw != null" >tbdw,</if>
            <if test="tbbm != null" >tbbm,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >#{id},</if>
            <if test="djbh != null" >#{djbh},</if>
            <if test="wxfs != null" >#{wxfs},</if>
            <if test="yjje != null" >#{yjje},</if>
            <if test="czsm != null" >#{czsm},</if>
            <if test="wxcs != null" >#{wxcs},</if>
            <if test="ckmc != null" >#{ckmc},</if>
            <if test="bz != null" >#{bz},</if>
            <if test="tbr != null" >#{tbr},</if>
            <if test="tbsj != null" >#{tbsj},</if>
            <if test="tbdwdm != null" >#{tbdwdm},</if>
            <if test="tbdw != null" >#{tbdw},</if>
            <if test="tbbm != null" >#{tbbm},</if>
        </trim>
    </insert>

    <insert id="addFjwxMx" parameterType="com.hdsx.jdwh.entity.Fjwx">
        begin
        <foreach collection="mx" item="item" index="index" separator=";">
            insert into JDWX_BJ_WXMX (ID, PDJBH, XH, BJMC, WXBJBH, GGXH, CCWZ, YJWXFY, BZ,fjid)  values
            (sys_guid(),trim(#{djbh,jdbcType=VARCHAR}),trim(#{item.xh,jdbcType=VARCHAR}),trim(#{item.bjmc,jdbcType=VARCHAR}),trim(#{item.wxbjbh,jdbcType=VARCHAR}),trim(#{item.ggxh,jdbcType=VARCHAR}),trim(#{item.ccwz,jdbcType=VARCHAR}),trim(#{item.yjwxfy,jdbcType=VARCHAR}),trim(#{item.bz,jdbcType=VARCHAR}),trim(#{item.fjid,jdbcType=VARCHAR}))
        </foreach>
        ;end;
    </insert>

    <update id="editFjwx" parameterType="com.hdsx.jdwh.entity.Fjwx" >
        update JDWH_BJ_FJWX
        <set>
            <if test="id != null" >id=#{id},</if>
            <if test="djbh != null" >djbh=#{djbh},</if>
            <if test="wxfs != null" >wxfs=#{wxfs},</if>
            <if test="yjje != null" >yjje=#{yjje},</if>
            <if test="czsm != null" >czsm=#{czsm},</if>
            <if test="wxcs != null" >wxcs=#{wxcs},</if>
            <if test="ckmc != null" >ckmc=#{ckmc},</if>
            <if test="bz != null" >bz=#{bz},</if>
            <if test="tbr != null" >tbr=#{tbr},</if>
            <if test="tbsj != null" >tbsj=#{tbsj},</if>
            <if test="tbdwdm != null" >tbdwdm=#{tbdwdm},</if>
            <if test="tbdw != null" >tbdw=#{tbdw},</if>
            <if test="tbbm != null" >tbbm=#{tbbm},</if>
        </set>
        where 1=1 and djbh=#{djbh}
    </update>
    <delete id="delFjwxMx" parameterType="com.hdsx.jdwh.entity.Fjwx">
        delete from JDWX_BJ_WXMX where pdjbh=#{djbh}
    </delete>

    <delete id="delFjwxBydjbhs" parameterType="java.util.List" >
        delete from JDWH_BJ_FJWX
        where djbh in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="delFjwxMxBydjbhs" parameterType="java.util.List" >
        delete from JDWX_BJ_WXMX
        where pdjbh in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getFjwxInfoByDjbh" parameterType="string" resultMap="fjrk">
        select * from JDWH_BJ_FJWX zb
        where zb.djbh=#{value}
    </select>

    <select id="getFjwxList" parameterType="hashmap" resultMap="fjrk">
        select * from JDWH_BJ_FJWX zb
        where 1=1
        <if test="tbdwdm !=null and tbdwdm !=''">and zb.tbdwdm like #{tbdwdm}||'%'</if>
    </select>


</mapper>