<?xml version='1.0' encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdsx.jdwh.mapper.KcglMapper">

    <select id="getCkBjAll" resultType="com.hdsx.jdwh.entity.Kcgl" parameterType="hashmap">

        select t1.id,t1.sbmc,t1.sbbm,t1.ggxh,t1.jldw,t1.ckmc ssck,nvl(t1.sl,0)-nvl(t2.sl,0) kcsl from (
        select bjmc||bjbh||ggxh||ckmc id,bjmc sbmc,bjbh sbbm,ggxh,min(jldw) jldw,ckmc,sum(nvl(rksl,0)) sl from JDWH_BJ_YSRK zb left join JDWX_BJ_RKMX mx on zb.djbh=mx.rkdjbh group by bjmc,bjbh,ggxh,ckmc
        ) t1,(
        select bjmc||bjbh||ggxh||ckmc id,bjmc sbmc,bjbh sbbm,ggxh,min(jldw) jldw,ckmc,sum(nvl(cksl,0)) sl from JDWH_BJ_YSRK_CK ZB left join JDWX_BJ_CKMX MX ON zb.djbh=mx.Ckdjbh group by bjmc,bjbh,ggxh,ckmc
        ) t2 where t1.id=t2.id(+)
        <if test="sbmc != null and sbmc != ''">and t1.sbmc like '%'||#{sbmc}||'%'</if>
        <if test="ssck != null and ssck != ''">and t1.ckmc like '%'||#{ssck}||'%'</if>

    </select>
    <select id="getCkAll" resultType="com.hdsx.jdwh.entity.Kcgl">
        select distinct ckmc ssck,ssdw from JDWX_BJ_CK
    </select>

    <select id="getCkBjAllByCkmc" resultType="com.hdsx.jdwh.entity.Kcgl" parameterType="hashmap">

        select t1.id,t1.sbmc,t1.sbbm,t1.ggxh,t1.jldw,t1.ckmc ssck,nvl(t1.sl,0)-nvl(t2.sl,0) kcsl from (
        select bjmc||bjbh||ggxh||ckmc id,bjmc sbmc,bjbh sbbm,ggxh,min(jldw) jldw,ckmc,sum(nvl(rksl,0)) sl from JDWH_BJ_YSRK zb left join JDWX_BJ_RKMX mx on zb.djbh=mx.rkdjbh group by bjmc,bjbh,ggxh,ckmc
        ) t1,(
        select bjmc||bjbh||ggxh||ckmc id,bjmc sbmc,bjbh sbbm,ggxh,min(jldw) jldw,ckmc,sum(nvl(cksl,0)) sl from JDWH_BJ_YSRK_CK ZB left join JDWX_BJ_CKMX MX ON zb.djbh=mx.Ckdjbh group by bjmc,bjbh,ggxh,ckmc
        ) t2 where t1.id=t2.id(+)
        <if test="ssck != null and ssck != ''">and t1.ckmc like '%'||#{ssck}||'%'</if>

    </select>

    <select id="getTcsl" resultType="double" parameterType="com.hdsx.jdwh.entity.Kcgl">

        select sum(nvl(t1.sl,0)-nvl(t2.sl,0)) kcsl from (
        select bjmc||bjbh||ggxh||ckmc id,bjmc sbmc,bjbh sbbm,ggxh,min(jldw) jldw,ckmc,sum(nvl(rksl,0)) sl from JDWH_BJ_YSRK zb left join JDWX_BJ_RKMX mx on zb.djbh=mx.rkdjbh group by bjmc,bjbh,ggxh,ckmc
        ) t1,(
        select bjmc||bjbh||ggxh||ckmc id,bjmc sbmc,bjbh sbbm,ggxh,min(jldw) jldw,ckmc,sum(nvl(cksl,0)) sl from JDWH_BJ_YSRK_CK ZB left join JDWX_BJ_CKMX MX ON zb.djbh=mx.Ckdjbh group by bjmc,bjbh,ggxh,ckmc
        ) t2 where t1.id=t2.id(+)
        <if test="dcck != null and dcck != ''">and t1.ckmc like '%'||#{dcck}||'%'</if>
        <if test="sbmc != null and sbmc != ''">and t1.sbmc like '%'||#{sbmc}||'%'</if>
        <if test="ggxh != null and ggxh != ''">and t1.ggxh like '%'||#{ggxh}||'%'</if>

    </select>

    <insert id="jldbrz" parameterType="com.hdsx.jdwh.entity.Kcgl">
            insert into JDWH_KCGLNOTE
            <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="dcck != null" >dcck,</if>
                <if test="drck != null" >drck,</if>
                <if test="sbmc != null" >sbmc,</if>
                <if test="ggxh != null" >ggxh,</if>
                <if test="jldw != null" >jldw,</if>
                <if test="dbsl != null" >dbsl,</if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="dcck != null" >#{dcck},</if>
                <if test="drck != null" >#{drck},</if>
                <if test="sbmc != null" >#{sbmc},</if>
                <if test="ggxh != null" >#{ggxh},</if>
                <if test="jldw != null" >#{jldw},</if>
                <if test="dbsl != null" >#{dbsl},</if>
            </trim>
    </insert>
    <insert id="dbzbbj" parameterType="com.hdsx.jdwh.entity.Kcgl">
        insert into JDWH_BJ_YSRK
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >id,</if>
            <if test="id != null" >djbh,</if>
            <if test="ssck != null" >ckmc,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >#{id},</if>
            <if test="id != null" >#{id},</if>
            <if test="ssck != null" >#{ssck},</if>
        </trim>
    </insert>
    <insert id="dbmxbj" parameterType="com.hdsx.jdwh.entity.Kcgl">
        insert into JDWX_BJ_RKMX
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >id,</if>
            <if test="id != null" >rkdjbh,</if>
            <if test="sbmc != null" >bjmc,</if>
            <if test="sbbm != null" >bjbh,</if>
            <if test="ggxh != null" >ggxh,</if>
            <if test="jldw != null" >jldw,</if>
            <if test="kcsl != null" >rksl,</if>
            <if test="rkdj != null" >rkdj,</if>
            <if test="rkdj != null and kcsl != null" >rkje,</if>
            <if test="bjzt != null" >bjzt,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >#{id},</if>
            <if test="id != null" >#{id},</if>
            <if test="sbmc != null" >#{sbmc},</if>
            <if test="sbbm != null" >#{sbbm},</if>
            <if test="ggxh != null" >#{ggxh},</if>
            <if test="jldw != null" >#{jldw},</if>
            <if test="kcsl != null" >#{kcsl},</if>
            <if test="rkdj != null" >#{rkdj},</if>
            <if test="rkdj != null and kcsl != null" >#{kcsl}*#{rkdj},</if>
            <if test="bjzt != null" >#{bjzt},</if>
        </trim>
    </insert>

    <select id="getBjJbInfo" resultType="com.hdsx.jdwh.entity.Kcgl" parameterType="com.hdsx.jdwh.entity.Kcgl">
        select min(bjbh) sbbm,min(rkdj) rkdj,min(bjzt) bjzt from JDWH_BJ_YSRK zb left join JDWX_BJ_RKMX mx on zb.djbh=mx.rkdjbh
        where 1=1
        <if test="sbmc != null" >and bjmc=#{sbmc}</if>
        <if test="dcck != null" >and ckmc=#{dcck}</if>
        <if test="ggxh != null" >and ggxh=#{ggxh}</if>

    </select>

    <insert id="dbBjCk" parameterType="com.hdsx.jdwh.entity.Kcgl">
        insert into JDWH_BJ_YSRK_CK (ID, DJBH, YWQJ, CKLX, CKMC, BZ, TBR, TBSJ, TBDW, TBBM, TBDWDM)
        select sys_guid(),#{id},min(zb.ywqj),'调拨出库',#{dcck},min(zb.BZ), min(zb.TBR), min(zb.TBSJ), min(zb.TBDW), min(zb.TBBM), min(zb.TBDWDM)
        from JDWH_BJ_YSRK zb left join JDWX_BJ_RKMX mx on zb.djbh=mx.rkdjbh
        where 1=1
        <if test="dcck != null" >and zb.ckmc=#{dcck}</if>
        <if test="sbmc != null" >and mx.bjmc=#{sbmc}</if>
        <if test="ggxh != null" >and mx.ggxh=#{ggxh}</if>

    </insert>

    <insert id="dbBjCkMx" parameterType="com.hdsx.jdwh.entity.Kcgl">
        insert into JDWX_BJ_CKMX (ID, CKDJBH, XH, BJMC, BJBH, GGXH, JLDW, CKSL, CKDJ, CKJE)
        select sys_guid(),#{id},'1',min(mx.bjmc),min(mx.bjbh),min(mx.ggxh),min(mx.jldw), #{dbsl}, min(mx.rkdj), #{dbsl}*min(mx.rkdj)
        from JDWH_BJ_YSRK zb left join JDWX_BJ_RKMX mx on zb.djbh=mx.rkdjbh
        where 1=1
        <if test="dcck != null" >and zb.ckmc=#{dcck}</if>
        <if test="sbmc != null" >and mx.bjmc=#{sbmc}</if>
        <if test="ggxh != null" >and mx.ggxh=#{ggxh}</if>
    </insert>

    <insert id="dbBjRk" parameterType="com.hdsx.jdwh.entity.Kcgl">
        insert into JDWH_BJ_YSRK (ID, DJBH, YWQJ, RKLX, CKMC, CGHT, GYSMC, RKSM,  BZ, TBR, TBSJ, TBDW, TBBM, TBDWDM, CGHTBH)
        select sys_guid(),#{id},min(zb.ywqj),'调拨入库',#{drck},min(zb.CGHT),min(zb.GYSMC),min(zb.RKSM),min(zb.BZ), min(zb.TBR), min(zb.TBSJ), min(zb.TBDW), min(zb.TBBM), min(zb.TBDWDM),min(zb.CGHTBH)
        from JDWH_BJ_YSRK zb left join JDWX_BJ_RKMX mx on zb.djbh=mx.rkdjbh
        <if test="dcck != null" >and zb.ckmc=#{dcck}</if>
        <if test="sbmc != null" >and mx.bjmc=#{sbmc}</if>
        <if test="ggxh != null" >and mx.ggxh=#{ggxh}</if>
    </insert>

    <insert id="dbBjRkMx" parameterType="com.hdsx.jdwh.entity.Kcgl">
        insert into JDWX_BJ_RKMX (ID, RKDJBH, XH, BJMC, BJBH, GGXH, JLDW, RKSL, RKDJ, RKJE, BJZT, BZ)
        select sys_guid(),#{id},'1',min(mx.bjmc),min(mx.bjbh),min(mx.ggxh),min(mx.jldw),#{dbsl}, min(mx.rkdj), #{dbsl}*min(mx.rkdj),min(mx.bjzt),min(mx.bz)
        from JDWH_BJ_YSRK zb left join JDWX_BJ_RKMX mx on zb.djbh=mx.rkdjbh
        <if test="dcck != null" >and zb.ckmc=#{dcck}</if>
        <if test="sbmc != null" >and mx.bjmc=#{sbmc}</if>
        <if test="ggxh != null" >and mx.ggxh=#{ggxh}</if>
    </insert>

</mapper>