<?xml version='1.0' encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdsx.jdwh.mapper.RcxjMapper">
    <resultMap type="com.hdsx.jdwh.entity.Rcxj" id="rcxj">
    <result column="ID" property="id"/>
    <result column="XJLX" property="xjlx"/>
    <result column="XJZQ" property="xjzq"/>
    <result column="JCSJ" property="jcsj"/>
    <result column="XJR" property="xjr"/>
    <result column="XJMS" property="xjms"/>
    <result column="BZ" property="bz"/>
    <result column="TBR" property="tbr"/>
    <result column="TBSJ" property="tbsj"/>
    <result column="TBDW" property="tbdw"/>
    <result column="TBBM" property="tbbm"/>
    <result column="TBDWDM" property="tbdwdm"/>
    <collection property="mx" ofType="com.hdsx.jdwh.entity.Rcxjmx"  column="rcxjmxid" >
        <result column="MX_ID" property="mx_id"/>
        <result column="MX_XH" property="mx_xh"/>
        <result column="MX_JCX" property="mx_jcx"/>
        <result column="MX_JCJG" property="mx_jcjg"/>
        <result column="MX_BZ" property="mx_bz"/>
        <result column="MX_PID" property="mx_pid"/>
    </collection>

</resultMap>
    <resultMap type="com.hdsx.jdwh.entity.Rcxj" id="rcxj2">
        <result column="ID" property="id"/>
        <result column="XJLX" property="xjlx"/>
        <result column="XJZQ" property="xjzq"/>
        <result column="JCSJ" property="jcsj"/>
        <result column="XJR" property="xjr"/>
        <result column="XJMS" property="xjms"/>
        <result column="BZ" property="bz"/>
        <result column="TBR" property="tbr"/>
        <result column="TBSJ" property="tbsj"/>
        <result column="TBDW" property="tbdw"/>
        <result column="TBBM" property="tbbm"/>
        <result column="TBDWDM" property="tbdwdm"/>
        <collection property="mx" ofType="com.hdsx.jdwh.entity.Rcxjmx" select="getRcxjmxByPid" column="ID" >
            <result column="MX_ID" property="mx_id"/>
            <result column="MX_XH" property="mx_xh"/>
            <result column="MX_JCX" property="mx_jcx"/>
            <result column="MX_JCJG" property="mx_jcjg"/>
            <result column="MX_BZ" property="mx_bz"/>
            <result column="MX_PID" property="mx_pid"/>
        </collection>

    </resultMap>


    <select id="getXjType" parameterType="hashmap" resultMap="rcxj">
        select xclx xjlx,xczq xjzq,mx.id mx_id,jcx mx_jcx,mrjcjg mx_jcjg from jdwh_xclx zb
        left join JDWH_XCLX_JCMX mx on zb.id=mx.xclxid
    </select>

    <insert id="addRcxj" parameterType="com.hdsx.jdwh.entity.Rcxj">
        insert into JDWH_RCXJ
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >id,</if>
            <if test="xjlx != null" >xjlx,</if>
            <if test="xjzq != null" >xjzq,</if>
            <if test="jcsj != null" >jcsj,</if>
            <if test="xjr != null" >xjr,</if>
            <if test="xjms != null" >xjms,</if>
            <if test="bz != null" >bz,</if>
            <if test="tbr != null" >tbr,</if>
            <if test="tbsj != null" >tbsj,</if>
            <if test="tbdw != null" >tbdw,</if>
            <if test="tbbm != null" >tbbm,</if>
            <if test="tbdwdm != null" >tbdwdm,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >#{id},</if>
            <if test="xjlx != null" >#{xjlx},</if>
            <if test="xjzq != null" >#{xjzq},</if>
            <if test="jcsj != null" >#{jcsj},</if>
            <if test="xjr != null" >#{xjr},</if>
            <if test="xjms != null" >#{xjms},</if>
            <if test="bz != null" >#{bz},</if>
            <if test="tbr != null" >#{tbr},</if>
            <if test="tbsj != null" >#{tbsj},</if>
            <if test="tbdw != null" >#{tbdw},</if>
            <if test="tbbm != null" >#{tbbm},</if>
            <if test="tbdwdm != null" >#{tbdwdm},</if>
        </trim>
    </insert>

    <insert id="addRcxjMx" parameterType="com.hdsx.jdwh.entity.Rcxj">
        begin
        <foreach collection="mx" item="item" index="index" separator=";">
            insert into JDWH_RCXJ_JCMX (MX_ID, MX_XH, MX_JCX, MX_JCJG, MX_BZ, MX_PID)  values
            (sys_guid(),trim(#{item.mx_xh,jdbcType=VARCHAR}),trim(#{item.mx_jcx,jdbcType=VARCHAR}),trim(#{item.mx_jcjg,jdbcType=VARCHAR}),trim(#{item.mx_bz,jdbcType=VARCHAR}),trim(#{id,jdbcType=VARCHAR}))
        </foreach>
        ;end;
    </insert>

    <update id="editRcxj" parameterType="com.hdsx.jdwh.entity.Rcxj" >
        update JDWH_RCXJ
        <set>
            <if test="id != null" >id=#{id},</if>
            <if test="xjlx != null" >xjlx=#{xjlx},</if>
            <if test="xjzq != null" >xjzq=#{xjzq},</if>
            <if test="jcsj != null" >jcsj=#{jcsj},</if>
            <if test="xjr != null" >xjr=#{xjr},</if>
            <if test="xjms != null" >xjms=#{xjms},</if>
            <if test="bz != null" >bz=#{bz},</if>
            <if test="tbr != null" >tbr=#{tbr},</if>
            <if test="tbsj != null" >tbsj=#{tbsj},</if>
            <if test="tbdw != null" >tbdw=#{tbdw},</if>
            <if test="tbbm != null" >tbbm=#{tbbm},</if>
            <if test="tbdwdm != null" >tbdwdm=#{tbdwdm},</if>
        </set>
        where 1=1 and id=#{id}
    </update>
    <delete id="delRcxjMx" parameterType="com.hdsx.jdwh.entity.Rcxj">
        delete from JDWH_RCXJ_JCMX where mx_pid=#{id}
    </delete>

    <delete id="delRcxjByIds" parameterType="java.util.List" >
        delete from JDWH_RCXJ
        where id in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="delRcxjMxByIds" parameterType="java.util.List" >
        delete from JDWH_RCXJ_JCMX
        where mx_pid in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getRcxjInfoById" parameterType="string" resultMap="rcxj">
        select * from JDWH_RCXJ zb left join JDWH_RCXJ_JCMX mx on zb.id=mx.mx_pid
        where zb.id=#{value}
    </select>

    <select id="getRcxjList" parameterType="hashmap" resultMap="rcxj2">
        select * from JDWH_RCXJ zb
        where 1=1
        <if test="tbdwdm !=null and tbdwdm !=''">and tbdwdm like #{tbdwdm}||'%'</if>
        <if test="ksrq != null and ksrq != ''">
            and to_date(jcsj,'yyyy-mm-dd')>=to_date(#{ksrq},'yyyy-mm-dd')
        </if>
        <if test="jsrq != null and jsrq != ''">
            and to_date(jcsj,'yyyy-mm-dd')&lt;=to_date(#{jsrq},'yyyy-mm-dd')
        </if>
    </select>

    <select id="getRcxjmxByPid" resultType="com.hdsx.jdwh.entity.Rcxjmx" parameterType="string">
        select * from JDWH_RCXJ_JCMX mx where mx.mx_pid=#{mx_pid}
    </select>


</mapper>