<?xml version='1.0' encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdsx.jdwh.mapper.RwpfMapper">

    <select id="getDFPrwd" parameterType="hashmap" resultType="com.hdsx.jdwh.entity.Gzbx">
         select t.*,RYXM, SSDW, SSBM, RYLX,ssdwdm from JDWH_GZBX t left join JDWH_WXRY t2 on t.wxrid=t2.id
        where t.FPZT='待分配'
        order by t.bzrq ASC
    </select>

    <select id="getYFPrwd" parameterType="hashmap" resultType="com.hdsx.jdwh.entity.Gzbx">
        select t.*,RYXM, SSDW, SSBM, RYLX,ssdwdm from JDWH_GZBX t left join JDWH_WXRY t2 on t.wxrid=t2.id
        where t.FPZT='已分配'
        order by t.bzrq ASC
    </select>



    <select id="getDfprwdList" parameterType="string" resultType="com.hdsx.jdwh.entity.Gzbx">
        select t.*,RYXM, SSDW, SSBM, RYLX,ssdwdm,nvl(ys.spzt,'未验收') yszt,decode(rk.wxdh,null,'未入库','已入库') fjkzt from JDWH_GZBX t left join JDWH_WXRY t2 on t.wxrid=t2.id
        left join (select bxdh,spzt from jdwh_wxys) ys on t.djbh=ys.bxdh
        left join (select wxdh from JDWH_BJ_FJRK) rk on t.djbh=rk.wxdh
        where 1=1
        <if test="fpzt !=null and fpzt !=''">and nvl(fpzt,'未分配') like #{fpzt}||'%'</if>
        <if test="djzt !=null and djzt !=''">and nvl(djzt,'未登记') like #{djzt}||'%'</if>
        <if test="yszt !=null and yszt !=''">and nvl(ys.spzt,'未验收') like #{yszt}||'%'</if>
        <if test="djbh !=null and djbh !=''">and t.djbh like #{djbh}||'%'</if>
        <if test="tbdwdm !=null and tbdwdm !=''">and tbdwdm like #{tbdwdm}||'%'</if>
        <if test="gzlx !=null and gzlx !=''">and gzlx like #{gzlx}||'%'</if>
        <if test="ggxh !=null and ggxh !=''">and ggxh like #{ggxh}||'%'</if>
        <if test="ksrq != null and ksrq != ''">
            and to_date(bzrq,'yyyy-mm-dd')>=to_date(#{ksrq},'yyyy-mm-dd')
        </if>
        <if test="jsrq != null and jsrq != ''">
            and to_date(bzrq,'yyyy-mm-dd')&lt;=to_date(#{jsrq},'yyyy-mm-dd')
        </if>
        order by decode(fpzt,null,0,'待分配',1,2),djbh
    </select>
    <select id="getWxzrrInfo" parameterType="hashmap" resultType="com.hdsx.jdwh.entity.Gzbx">
        select  ID wxrid, RYXM fpry, SSDW, SSBM, RYLX,ssdwdm from JDWH_WXRY
    </select>

    <update id="fpWxrwd" parameterType="com.hdsx.jdwh.entity.Gzbx">
        update JDWH_GZBX set fpzt='已分配',FPRY=#{fpry},WXRID=#{wxrid} where djbh=#{djbh}
    </update>

    <update id="czfpWxrwd" parameterType="com.hdsx.jdwh.entity.Gzbx">
        update JDWH_GZBX set fpzt='待分配',FPRY=null,WXRID=null where djbh=#{djbh}
    </update>

    <select id="getWxrwdList" parameterType="string" resultType="com.hdsx.jdwh.entity.Gzbx">
        select t.*,RYXM, SSDW, SSBM, RYLX,ssdwdm,nvl(ys.spzt,'未验收') yszt,decode(rk.wxdh,null,'未入库','已入库') fjkzt from JDWH_GZBX t left join JDWH_WXRY t2 on t.wxrid=t2.id
        left join (select bxdh,spzt from jdwh_wxys) ys on t.djbh=ys.bxdh
        left join (select wxdh from JDWH_BJ_FJRK) rk on t.djbh=rk.wxdh
        where 1=1
        <if test="djbh !=null and djbh !=''">and t.djbh like #{djbh}||'%'</if>
        <if test="ssdwdm !=null and ssdwdm !=''">and ssdwdm like #{ssdwdm}||'%'</if>
        <if test="gzlx !=null and gzlx !=''">and gzlx like #{gzlx}||'%'</if>
        <if test="ggxh !=null and ggxh !=''">and ggxh like #{ggxh}||'%'</if>
        <if test="fpzt !=null and fpzt !=''">and nvl(fpzt,'未分配') like #{fpzt}||'%'</if>
        <if test="djzt !=null and djzt !=''">and nvl(djzt,'未登记') like #{djzt}||'%'</if>
        <if test="yszt !=null and yszt !=''">and nvl(ys.spzt,'未验收') like #{yszt}||'%'</if>
        <if test="ksrq != null and ksrq != ''">
            and to_date(bzrq,'yyyy-mm-dd')>=to_date(#{ksrq},'yyyy-mm-dd')
        </if>
        <if test="jsrq != null and jsrq != ''">
            and to_date(bzrq,'yyyy-mm-dd')&lt;=to_date(#{jsrq},'yyyy-mm-dd')
        </if>
        order by decode(djzt,null,0,'未登记',1,2),djbh
    </select>


    <!--

    <insert id="addGzbx" parameterType="com.hdsx.jdwh.entity.Gzbx">
        insert into JDWH_GZBX
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >id,</if>
            <if test="djbh != null" >djbh,</if>
            <if test="gzlx != null" >gzlx,</if>
            <if test="sbmc != null" >sbmc,</if>
            <if test="ggxh != null" >ggxh,</if>
            <if test="bzrq != null" >bzrq,</if>
            <if test="bgr != null" >bgr,</if>
            <if test="yqxfrq != null" >yqxfrq,</if>
            <if test="sbfzr != null" >sbfzr,</if>
            <if test="sbdd != null" >sbdd,</if>
            <if test="gzms != null" >gzms,</if>
            <if test="bz != null" >bz,</if>
            <if test="tbr != null" >tbr,</if>
            <if test="tbsj != null" >tbsj,</if>
            <if test="tbdw != null" >tbdw,</if>
            <if test="tbbm != null" >tbbm,</if>
            <if test="tbdwdm != null" >tbdwdm,</if>
            <if test="fpzt != null" >fpzt,</if>
            <if test="fpry != null" >fpry,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >#{id},</if>
            <if test="djbh != null" >#{djbh},</if>
            <if test="gzlx != null" >#{gzlx},</if>
            <if test="sbmc != null" >#{sbmc},</if>
            <if test="ggxh != null" >#{ggxh},</if>
            <if test="bzrq != null" >#{bzrq},</if>
            <if test="bgr != null" >#{bgr},</if>
            <if test="yqxfrq != null" >#{yqxfrq},</if>
            <if test="sbfzr != null" >#{sbfzr},</if>
            <if test="sbdd != null" >#{sbdd},</if>
            <if test="gzms != null" >#{gzms},</if>
            <if test="bz != null" >#{bz},</if>
            <if test="tbr != null" >#{tbr},</if>
            <if test="tbsj != null" >#{tbsj},</if>
            <if test="tbdw != null" >#{tbdw},</if>
            <if test="tbbm != null" >#{tbbm},</if>
            <if test="tbdwdm != null" >#{tbdwdm},</if>
            <if test="fpzt != null" >#{fpzt},</if>
            <if test="fpry != null" >#{fpry},</if>
        </trim>
    </insert>

    <update id="editGzbx" parameterType="com.hdsx.jdwh.entity.Gzbx" >
        update JDWH_GZBX
        <set>
            <if test="id != null" >id=#{id},</if>
            <if test="djbh != null" >djbh=#{djbh},</if>
            <if test="gzlx != null" >gzlx=#{gzlx},</if>
            <if test="sbmc != null" >sbmc=#{sbmc},</if>
            <if test="ggxh != null" >ggxh=#{ggxh},</if>
            <if test="bzrq != null" >bzrq=#{bzrq},</if>
            <if test="bgr != null" >bgr=#{bgr},</if>
            <if test="yqxfrq != null" >yqxfrq=#{yqxfrq},</if>
            <if test="sbfzr != null" >sbfzr=#{sbfzr},</if>
            <if test="sbdd != null" >sbdd=#{sbdd},</if>
            <if test="gzms != null" >gzms=#{gzms},</if>
            <if test="bz != null" >bz=#{bz},</if>
            <if test="tbr != null" >tbr=#{tbr},</if>
            <if test="tbsj != null" >tbsj=#{tbsj},</if>
            <if test="tbdw != null" >tbdw=#{tbdw},</if>
            <if test="tbbm != null" >tbbm=#{tbbm},</if>
            <if test="tbdwdm != null" >tbdwdm=#{tbdwdm},</if>
            <if test="fpzt != null" >fpzt=#{fpzt},</if>
            <if test="fpry != null" >fpry=#{fpry},</if>
        </set>
        where 1=1 and id=#{id}
    </update>

    <delete id="delGzbxByDjbhs" parameterType="java.util.List" >
        delete from JDWH_GZBX
        where djbh in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getGzbxInfoByIDjbh" parameterType="string" resultType="com.hdsx.jdwh.entity.Gzbx">
        select * from JDWH_GZBX
        where djbh=#{value}
    </select>

    <select id="getGzbxList" parameterType="string" resultType="com.hdsx.jdwh.entity.Gzbx">
        select * from JDWH_GZBX
        where 1=1
        <if test="tbdwdm !=null and tbdwdm !=''">and tbdwdm like #{tbdwdm}||'%'</if>
        <if test="gzlx !=null and gzlx !=''">and gzlx like #{gzlx}||'%'</if>
        <if test="ggxh !=null and ggxh !=''">and ggxh like #{ggxh}||'%'</if>
    </select>-->



</mapper>