<?xml version='1.0' encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdsx.jdwh.mapper.WxdjMapper">
    <select id="getBxdInfo" parameterType="hashmap" resultType="com.hdsx.jdwh.entity.Wxdj">
        select DJBH bxdh, GZLX, SBMC, GGXH, BZRQ, BGR, YQXFRQ, SBFZR, SBDD, GZMS, BZ, FPZT, FPRY, TBDWDM, WXRID, RYXM, SSDW, SSBM, RYLX, SSDWDM from JDWH_GZBX t left join JDWH_WXRY t2 on t.wxrid=t2.id
        where 1=1
        <if test="ssdwdm !=null and ssdwdm !=''">and t2.ssdwdm like #{ssdwdm}||'%'</if>
        <if test="bxdh !=null and bxdh !=''">and t.djbh like #{bxdh}||'%'</if>
    </select>

    <insert id="addWxdj" parameterType="com.hdsx.jdwh.entity.Wxdj">
        insert into JDWH_WXDJ
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >id,</if>
            <if test="djbh != null" >djbh,</if>
            <if test="bxdh != null" >bxdh,</if>
            <if test="wxrq != null" >wxrq,</if>
            <if test="xcwxr != null" >xcwxr,</if>
            <if test="gzms != null" >gzms,</if>
            <if test="xcqkms != null" >xcqkms,</if>
            <if test="wxjgms != null" >wxjgms,</if>

            <if test="bz != null" >bz,</if>
            <if test="tbr != null" >tbr,</if>
            <if test="tbsj != null" >tbsj,</if>
            <if test="tbdw != null" >tbdw,</if>
            <if test="tbbm != null" >tbbm,</if>
            <if test="tbdwdm != null" >tbdwdm,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >#{id},</if>
            <if test="djbh != null" >#{djbh},</if>
            <if test="bxdh != null" >#{bxdh},</if>
            <if test="wxrq != null" >#{wxrq},</if>
            <if test="xcwxr != null" >#{xcwxr},</if>
            <if test="gzms != null" >#{gzms},</if>
            <if test="xcqkms != null" >#{xcqkms},</if>
            <if test="wxjgms != null" >#{wxjgms},</if>

            <if test="bz != null" >#{bz},</if>
            <if test="tbr != null" >#{tbr},</if>
            <if test="tbsj != null" >#{tbsj},</if>
            <if test="tbdw != null" >#{tbdw},</if>
            <if test="tbbm != null" >#{tbbm},</if>
            <if test="tbdwdm != null" >#{tbdwdm},</if>
        </trim>
    </insert>

    <update id="editWxdj" parameterType="com.hdsx.jdwh.entity.Wxdj" >
        update JDWH_WXDJ
        <set>
            <if test="id != null" >id=#{id},</if>
            <if test="djbh != null" >djbh=#{djbh},</if>
            <if test="bxdh != null" >bxdh=#{bxdh},</if>
            <if test="wxrq != null" >wxrq=#{wxrq},</if>
            <if test="xcwxr != null" >xcwxr=#{xcwxr},</if>
            <if test="gzms != null" >gzms=#{gzms},</if>
            <if test="xcqkms != null" >xcqkms=#{xcqkms},</if>
            <if test="wxjgms != null" >wxjgms=#{wxjgms},</if>

            <if test="bz != null" >bz=#{bz},</if>
            <if test="tbr != null" >tbr=#{tbr},</if>
            <if test="tbsj != null" >tbsj=#{tbsj},</if>
            <if test="tbdw != null" >tbdw=#{tbdw},</if>
            <if test="tbbm != null" >tbbm=#{tbbm},</if>
            <if test="tbdwdm != null" >tbdwdm=#{tbdwdm},</if>
        </set>
        where 1=1 and djbh=#{djbh}
    </update>
    <delete id="delWxdjByDjbhs" parameterType="java.util.List" >
        delete from JDWH_WXDJ
        where djbh in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getWxdjInfoByIDjbh" parameterType="string" resultType="com.hdsx.jdwh.entity.Wxdj">
        select t.*,t1.wxjgqr,t1.qrr,t1.qrsj,t2.sbmc,t2.ggxh,t2.bzrq,t2.bgr from JDWH_WXDJ t left join JDWH_WXYS t1 on t.bxdh=t1.bxdh left join JDWH_GZBX t2 on t.bxdh=t2.djbh
        where t.djbh=#{value}
    </select>

    <select id="getWxdjList" parameterType="string" resultType="com.hdsx.jdwh.entity.Wxdj">
        select t.*,t1.wxjgqr,t1.qrr,t1.qrsj,t2.sbmc,t2.ggxh,t2.bzrq,t2.bgr from JDWH_WXDJ t left join JDWH_WXYS t1 on t.bxdh=t1.bxdh left join JDWH_GZBX t2 on t.bxdh=t2.djbh
        where 1=1
        <if test="tbdwdm !=null and tbdwdm !=''">and t.tbdwdm like #{tbdwdm}||'%'</if>
        <if test="bxdh !=null and bxdh !=''">and t.bxdh like #{bxdh}||'%'</if>
    </select>



</mapper>