<?xml version='1.0' encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdsx.jdwh.mapper.WxfkMapper">
    <resultMap type="com.hdsx.jdwh.entity.Wxfk" id="wxfk">
        <result column="ID" property="id"/>
        <result column="djbh" property="djbh"/>
        <result column="jsje" property="jsje"/>
        <result column="ssht" property="ssht"/>
        <result column="dfdw" property="dfdw"/>
        <result column="fysm" property="fysm"/>
        <result column="bz" property="bz"/>
        <result column="TBR" property="tbr"/>
        <result column="TBSJ" property="tbsj"/>
        <result column="TBDW" property="tbdw"/>
        <result column="TBBM" property="tbbm"/>
        <result column="TBDWDM" property="tbdwdm"/>
        <result column="dfdwid" property="dfdwid"/>
        <result column="sshtbh" property="sshtbh"/>
        <result column="ssyh" property="ssyh"/>
        <result column="zhm" property="zhm"/>
        <result column="yhzh" property="yhzh"/>
        <result column="htje" property="htje"/>
        <result column="ljjsje" property="ljjsje"/>
        <result column="ljzfje" property="ljzfje"/>
        <collection property="jsmx" ofType="com.hdsx.jdwh.entity.Wxfkjsmx" select="getJsmxByPdjbh" column="djbh" >
        </collection>
        <collection property="fpmx" ofType="com.hdsx.jdwh.entity.Wxfkfpmx" select="getFpmxByPdjbh" column="djbh" >
        </collection>
    </resultMap>

    <select id="getJsmxByPdjbh" parameterType="String" resultType="com.hdsx.jdwh.entity.Wxfkjsmx">
          select t.*,t2.sbmc zcmc,t1.jsje,t1.fysm from JDWH_FKSQ_JSMX t left join jdwh_wxfy t1 on t.wxfydh=t1.djbh left join jdwh_gzbx t2 on t1.wxdh=t2.djbh
          where 1=1 and t.pdjbh=#{value}
    </select>

    <select id="getFpmxByPdjbh" parameterType="String" resultType="com.hdsx.jdwh.entity.Wxfkfpmx">
          select t.* from JDWH_FKSQ_FPMX t
          where 1=1 and t.pdjbh=#{value}
    </select>

    <insert id="addWxfk" parameterType="com.hdsx.jdwh.entity.Wxfk">
        insert into JDWH_WXFKSQ
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >id,</if>
            <if test="djbh != null" >djbh,</if>
            <if test="ssht != null" >ssht,</if>
            <if test="dfdw != null" >dfdw,</if>
            <if test="fysm != null" >fysm,</if>
            <if test="bz != null" >bz,</if>
            <if test="tbr != null" >tbr,</if>
            <if test="tbsj != null" >tbsj,</if>
            <if test="tbdw != null" >tbdw,</if>
            <if test="tbbm != null" >tbbm,</if>
            <if test="tbdwdm != null" >tbdwdm,</if>
            <if test="dfdwid != null" >dfdwid,</if>
            <if test="sshtbh != null" >sshtbh,</if>
            <if test="ssyh != null" >ssyh,</if>
            <if test="zhm != null" >zhm,</if>
            <if test="yhzh != null" >yhzh,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >#{id},</if>
            <if test="djbh != null" >#{djbh},</if>
            <if test="ssht != null" >#{ssht},</if>
            <if test="dfdw != null" >#{dfdw},</if>
            <if test="fysm != null" >#{fysm},</if>
            <if test="bz != null" >#{bz},</if>
            <if test="tbr != null" >#{tbr},</if>
            <if test="tbsj != null" >#{tbsj},</if>
            <if test="tbdw != null" >#{tbdw},</if>
            <if test="tbbm != null" >#{tbbm},</if>
            <if test="tbdwdm != null" >#{tbdwdm},</if>
            <if test="dfdwid != null" >#{dfdwid},</if>
            <if test="sshtbh != null" >#{sshtbh},</if>
            <if test="ssyh != null" >#{ssyh},</if>
            <if test="zhm != null" >#{zhm},</if>
            <if test="yhzh != null" >#{yhzh},</if>
        </trim>
    </insert>

    <insert id="addWxfkJsmx" parameterType="com.hdsx.jdwh.entity.Wxfk">
        begin
        <foreach collection="jsmx" item="item" index="index" separator=";">
            insert into JDWH_FKSQ_JSMX (ID, XH, WXFYDH, BZ, PDJBH)  values
            (sys_guid(),trim(#{item.xh,jdbcType=VARCHAR}),trim(#{item.wxfydh,jdbcType=VARCHAR}),trim(#{item.bz,jdbcType=VARCHAR}),trim(#{djbh,jdbcType=VARCHAR}))
        </foreach>
        ;end;
    </insert>

    <insert id="addWxfkFpmx" parameterType="com.hdsx.jdwh.entity.Wxfk">
        begin
        <foreach collection="fpmx" item="item" index="index" separator=";">
            insert into JDWH_FKSQ_FPMX (ID, XH, FPLX, FPH, HSJE, SL, SE, BZ, PDJBH)  values
            (sys_guid(),trim(#{item.xh,jdbcType=VARCHAR}),trim(#{item.fplx,jdbcType=VARCHAR}),trim(#{item.fph,jdbcType=VARCHAR}),trim(#{item.hsje,jdbcType=VARCHAR}),trim(#{item.sl,jdbcType=VARCHAR}),trim(#{item.se,jdbcType=VARCHAR}),trim(#{item.bz,jdbcType=VARCHAR}),trim(#{djbh,jdbcType=VARCHAR}))
        </foreach>
        ;end;
    </insert>

    <update id="editWxfk" parameterType="com.hdsx.jdwh.entity.Wxfk" >
        update JDWH_WXFKSQ
        <set>
            <if test="id != null" >id=#{id},</if>
            <if test="djbh != null" >djbh=#{djbh},</if>
            <if test="ssht != null" >ssht=#{ssht},</if>
            <if test="dfdw != null" >dfdw=#{dfdw},</if>
            <if test="fysm != null" >fysm=#{fysm},</if>
            <if test="bz != null" >bz=#{bz},</if>
            <if test="tbr != null" >tbr=#{tbr},</if>
            <if test="tbsj != null" >tbsj=#{tbsj},</if>
            <if test="tbdw != null" >tbdw=#{tbdw},</if>
            <if test="tbbm != null" >tbbm=#{tbbm},</if>
            <if test="tbdwdm != null" >tbdwdm=#{tbdwdm},</if>
            <if test="dfdwid != null" >dfdwid=#{dfdwid},</if>
            <if test="sshtbh != null" >sshtbh=#{sshtbh},</if>
            <if test="ssyh != null" >ssyh=#{ssyh},</if>
            <if test="zhm != null" >zhm=#{zhm},</if>
            <if test="yhzh != null" >yhzh=#{yhzh},</if>
        </set>
        where 1=1 and djbh=#{djbh}
    </update>

    <delete id="delWxfkJsmx" parameterType="com.hdsx.jdwh.entity.Wxfk">
        delete from JDWH_FKSQ_JSMX where PDJBH=#{djbh}
    </delete>

    <delete id="delWxfkFpmx" parameterType="com.hdsx.jdwh.entity.Wxfk">
        delete from JDWH_FKSQ_FPMX where PDJBH=#{djbh}
    </delete>

    <delete id="delWxfkByDjbhs" parameterType="java.util.List" >
        delete from JDWH_WXFKSQ
        where djbh in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="delWxfkJsmxByDjbhs" parameterType="java.util.List" >
        delete from JDWH_FKSQ_JSMX
        where pdjbh in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="delWxfkFpmxByDjbhs" parameterType="java.util.List" >
        delete from JDWH_FKSQ_FPMX
        where pdjbh in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getWxfkInfoByDjbh" parameterType="string" resultMap="wxfk">
        select zb.*,zjs.zjsje ljjsje,ht.htxx_htjehs htje,fjs.zjsje jsje,fp.hsje ljzfje from JDWH_WXFKSQ zb
        left join (select sum(nvl(wx.jsje,0)) zjsje,sshtbh  from jdwh_fksq_jsmx js left join jdwh_wxfy wx on js.wxfydh=wx.djbh left join JDWH_WXFKSQ sq on js.pdjbh=sq.djbh group by sq.sshtbh) zjs on zb.sshtbh=zjs.sshtbh
        left join djsj_htxx ht on zb.sshtbh=ht.htxx_htbh
        left join (select sum(nvl(wx.jsje,0)) zjsje,pdjbh  from jdwh_fksq_jsmx js left join jdwh_wxfy wx on js.wxfydh=wx.djbh group by js.pdjbh) fjs on zb.djbh=fjs.pdjbh
        left join (select sum(nvl(hsje,0)) hsje,pdjbh from jdwh_fksq_fpmx group by pdjbh) fp on zb.djbh=fp.pdjbh
        where zb.djbh=#{value}
    </select>

    <select id="getWxfkList" parameterType="hashmap" resultMap="wxfk">
        select zb.*,zjs.zjsje ljjsje,ht.htxx_htjehs htje,fjs.zjsje jsje,fp.hsje ljzfje from JDWH_WXFKSQ zb
        left join (select sum(nvl(wx.jsje,0)) zjsje,sshtbh  from jdwh_fksq_jsmx js left join jdwh_wxfy wx on js.wxfydh=wx.djbh left join JDWH_WXFKSQ sq on js.pdjbh=sq.djbh group by sq.sshtbh) zjs on zb.sshtbh=zjs.sshtbh
        left join djsj_htxx ht on zb.sshtbh=ht.htxx_htbh
        left join (select sum(nvl(wx.jsje,0)) zjsje,pdjbh  from jdwh_fksq_jsmx js left join jdwh_wxfy wx on js.wxfydh=wx.djbh group by js.pdjbh) fjs on zb.djbh=fjs.pdjbh
        left join (select sum(nvl(hsje,0)) hsje,pdjbh from jdwh_fksq_fpmx group by pdjbh) fp on zb.djbh=fp.pdjbh
        where 1=1
        <if test="tbdwdm !=null and tbdwdm !=''">and zb.tbdwdm like #{tbdwdm}||'%'</if>
        <if test="htbh !=null and htbh !=''">and zb.sshtbh like #{htbh}||'%'</if>
    </select>

    <select id="getWxfyChooseList" parameterType="hashmap" resultType="com.hdsx.jdwh.entity.Wxfkjsmx">
        select fy.djbh wxfydh,gz.sbmc zcmc,fy.jsje,fy.fysm from jdwh_wxfy fy left join jdwh_gzbx gz on fy.wxdh=gz.djbh
        where 1=1
        <if test="tbdwdm !=null and tbdwdm !=''">and fy.tbdwdm like #{tbdwdm}||'%'</if>
    </select>

    <select id="getFpInfo" parameterType="hashmap" resultType="hashmap">
        select * from DJSJ_FPINFO
    </select>


</mapper>