<?xml version='1.0' encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdsx.jdwh.mapper.WxfyMapper">
    <select id="getWxsbInfo" parameterType="hashmap" resultType="com.hdsx.jdwh.entity.Wxfy">
        select djbh wxdh,sbmc from jdwh_gzbx t1
        where 1=1
        <if test="tbdwdm !=null and tbdwdm !=''">and t1.tbdwdm like #{tbdwdm}||'%'</if>
        <if test="wxdh !=null and wxdh !=''">and t1.djbh like #{wxdh}||'%'</if>
    </select>

    <select id="getDfdwInfo" parameterType="hashmap" resultType="com.hdsx.jdwh.entity.Wxfy">
        select ID dfdwid, DWMC, SSYH, ZHM, YHZH from JDWH_DFDW t1
        where 1=1
        <if test="dfdwid !=null and dfdwid !=''">and t1.id like #{dfdwid}</if>
    </select>

    <insert id="addWxfy" parameterType="com.hdsx.jdwh.entity.Wxfy">
        insert into JDWH_WXFY
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >id,</if>
            <if test="djbh != null" >djbh,</if>
            <if test="wxdh != null" >wxdh,</if>
            <if test="jsje != null" >jsje,</if>
            <if test="ssht != null" >ssht,</if>
            <if test="dfdw != null" >dfdw,</if>
            <if test="fysm != null" >fysm,</if>
            <if test="bz != null" >bz,</if>
            <if test="tbr != null" >tbr,</if>
            <if test="tbsj != null" >tbsj,</if>
            <if test="tbdw != null" >tbdw,</if>
            <if test="tbbm != null" >tbbm,</if>
            <if test="tbdwdm != null" >tbdwdm,</if>
            <if test="dfdwid != null" >dfdwid,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >#{id},</if>
            <if test="djbh != null" >#{djbh},</if>
            <if test="wxdh != null" >#{wxdh},</if>
            <if test="jsje != null" >#{jsje},</if>
            <if test="ssht != null" >#{ssht},</if>
            <if test="dfdw != null" >#{dfdw},</if>
            <if test="fysm != null" >#{fysm},</if>
            <if test="bz != null" >#{bz},</if>
            <if test="tbr != null" >#{tbr},</if>
            <if test="tbsj != null" >#{tbsj},</if>
            <if test="tbdw != null" >#{tbdw},</if>
            <if test="tbbm != null" >#{tbbm},</if>
            <if test="tbdwdm != null" >#{tbdwdm},</if>
            <if test="dfdwid != null" >#{dfdwid},</if>
        </trim>
    </insert>

    <update id="editWxfy" parameterType="com.hdsx.jdwh.entity.Wxfy" >
        update JDWH_WXFY
        <set>
            <if test="id != null" >id=#{id},</if>
            <if test="djbh != null" >djbh=#{djbh},</if>
            <if test="wxdh != null" >wxdh=#{wxdh},</if>
            <if test="jsje != null" >jsje=#{jsje},</if>
            <if test="ssht != null" >ssht=#{ssht},</if>
            <if test="dfdw != null" >dfdw=#{dfdw},</if>
            <if test="fysm != null" >fysm=#{fysm},</if>
            <if test="bz != null" >bz=#{bz},</if>
            <if test="tbr != null" >tbr=#{tbr},</if>
            <if test="tbsj != null" >tbsj=#{tbsj},</if>
            <if test="tbdw != null" >tbdw=#{tbdw},</if>
            <if test="tbbm != null" >tbbm=#{tbbm},</if>
            <if test="tbdwdm != null" >tbdwdm=#{tbdwdm},</if>
            <if test="dfdwid != null" >dfdwid=#{dfdwid},</if>
        </set>
        where 1=1 and djbh=#{djbh}
    </update>

    <delete id="delWxfyByDjbhs" parameterType="java.util.List" >
        delete from JDWH_WXFY
        where djbh in
        <foreach collection="list" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getWxfyInfoByIDjbh" parameterType="string" resultType="com.hdsx.jdwh.entity.Wxfy">
        select t.*,t2.sbmc,t1.DWMC, t1.SSYH, t1.ZHM, t1.YHZH from JDWH_WXFY t left join jdwh_dfdw t1 on t.dfdwid=t1.id left join jdwh_gzbx t2 on t.wxdh=t2.djbh
        where 1=1
        and t.djbh=#{value}
    </select>

    <select id="getWxfyList" parameterType="string" resultType="com.hdsx.jdwh.entity.Wxfy">
        select t.*,t2.sbmc,t1.DWMC, t1.SSYH, t1.ZHM, t1.YHZH from JDWH_WXFY t left join jdwh_dfdw t1 on t.dfdwid=t1.id left join jdwh_gzbx t2 on t.wxdh=t2.djbh
        where 1=1
        <if test="tbdwdm !=null and tbdwdm !=''">and t.tbdwdm like #{tbdwdm}||'%'</if>
        <if test="wxdh !=null and wxdh !=''">and t.wxdh like #{wxdh}||'%'</if>
    </select>

    <update id="spWxfyByDjbh" parameterType="hashmap">
        update JDWH_WXFY set SPZT=#{spzt}
        where djbh in
        <foreach collection="djbhs" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>